
@{
    ViewBag.Title = "TambahTindakan";
}

<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>

<div class="content-body">
    <!--Modal-->
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Pelaksana CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pelaksana CAPA</h4>
                <form>
                    <div class="row">
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Tanggal</label>
                            <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Today.ToShortDateString()" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Nomor CAPA</label>
                            <input class="form-control form-control-sm" type="text" id="TxtNoCAPA" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Atasan Pelaksana</label>
                            <input class="form-control form-control-sm" type="text" id="TxtRequestor" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Departemen</label>
                            <input class="form-control form-control-sm" type="text" id="TxtDepartemen" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <label class="m-t-40">--Please Select--<span style="color: red">*</span></label>
                        <div class="radio input-group">
                            <div class="col-sm-3">
                                <label><input type="radio" value="Yes" name="TambahPerbaikan">&nbsp;&nbsp;Tambah Perbaikan Baru</label>
                            </div>
                            <div class="col-sm-3">
                                <label><input type="radio" value="No" name="TambahPerbaikan" checked>&nbsp;&nbsp;Tambah Pencegahan Existing</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card" id="Div_TindakanPerbaikan" hidden>
                    <div class="card-body">
                        <h4 class="card-title">Penambahan Tindakan Perbaikan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Root Cause</label>
                                        <select id="RootCause_DDL" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi" id="TxtDeskripsiPerbaikan"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date</label>
                                        <input type="date" id="duedate_perbaikan" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="m-t-40">Apakah ada proses / area lain yang berpotensi sama ?</label>
                                        <div class="radio input-group">
                                            <div class="col-sm-3">
                                                <label><input type="radio" value="Yes" name="Potensi">Ya</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label><input type="radio" value="No" name="Potensi" checked>Tidak</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label class="m-t-40" style="visibility: hidden">_</label>
                                        <div class="input-group">
                                            <button type="button" id="btn_AddPerbaikan" class="btn mb-1 btn-primary ">Tambahkan Tindakan Perbaikan</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card" id="Div_TindakanPencegahan" hidden="hidden">
                    <div class="card-body">
                        <h4 class="card-title">Penambahan Tindakan Pencegahan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Area / Proses lain yang Berpotensi</label>
                                        <select id="AreaLain_DDL" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Pencegahan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" id="TxtDeskripsiPencegahan" placeholder="Deskripsi"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date</label>
                                        <input type="date" id="duedate_pencegahan" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12 mb-3">
                                        <label class="m-t-40" style="visibility: hidden">_</label>
                                        <div class="input-group">
                                            <button type="button" id="btn_AddPencegahan" class="btn mb-1 btn-primary ">Tambahkan Tindakan Pencegahan</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card" id="PerbaikanExisting">
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Perbaikan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Root Cause</label>
                                        <textarea type="text" class="form-control" id="txtRootCauseExisting" readonly></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi" id="txtTindakanPerbaikan"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date<span style="color: red">*</span></label>
                                        <input type="date" id="dueDatePerbaikan" class="form-control form-control-sm">
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>

                <div class="card" id="Div_Pencegahan">
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Pencegahan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Area/Proses lain yang berpotensi</label>
                                        <textarea type="text" class="form-control" id="txtAreaBerpotensi" readonly></textarea>
                                    </div>
                                </div>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Pencegahan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi" id="txtTindakanPencegahan"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date<span style="color: red">*</span></label>
                                        <input type="date" id="dueDatePencegahan" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <br />

                                <button type="button" class="btn btn-primary" id="AddPencegahan">Add</button>
                            </form>
                            <br />
                        </div>
                    </div>
                </div>
                @Html.Partial("KajianResikoPV")
                <button type="button" class="btn btn-primary" id="btnSimpan">Simpan</button>

            </div>

            <input type="text" id="input_NoCAPA" value="@ViewBag.NoCAPA" hidden>
        </div>
        <!-- #/ container -->
    </div>
</div>

<script>
    var noCAPA = getQueryStrings()["NoCAPA"];
    $('#input_NoCAPA').val(noCAPA);
    var referenceID = getQueryStrings()["ReferenceID"];
    var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
    var namauser = '@Request.RequestContext.HttpContext.Session["NamaUser"]';
    var departemen = '@Request.RequestContext.HttpContext.Session["Departemen"]';
    var email ='@Request.RequestContext.HttpContext.Session["Email"]';
    var superiorName = '@Request.RequestContext.HttpContext.Session["SuperiorName"]';
    var dataPerbaikan;
    var newDataPerbaikan;
    var newKajianResiko = [];
    var objTindakan;
    var tipe;
    var jenis;
    var values;
    var laststate = false;
    function getQueryStrings() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(document).ready(function () {
        $('#TxtDepartemen').val('@Request.RequestContext.HttpContext.Session["Departemen"]');
        $('#TxtNoCAPA').val(noCAPA);
        $('#TxtRequestor').val(superiorName);
        jenis = "Pencegahan Existing";
        KajianResikoDDL();
        TableKajian();
        retrieveData();
        retrieveData2();
        getRootCause();
        $("#TxtPIC").val('Default');
        KajianDDLPencegahan();
        //$('#RootCause_KajianResikoDDL').prop("disabled", true);
        $('#tblHeaderTindakan').prop("hidden", true);
        $('#btnback').click(function () {
            window.location.href = '../Pelaksana/PelaksanaCAPA';
        });
        $("input[name='TambahPerbaikan']").change(function () {
            var tambahperbaikan = $('input[name="TambahPerbaikan"]:checked').val();
            if (tambahperbaikan == "Yes") {
                $('#Div_TindakanPerbaikan').prop('hidden', false);
                $('#PerbaikanExisting').prop('hidden', true);
                $('#Div_Pencegahan').prop('hidden', true);
                KajianDDLPerbaikanBaru();
                TableKajianTambahTindakanBaru();
            }
            else {
                $('#PerbaikanExisting').prop('hidden', false);
                $('#Div_Pencegahan').prop('hidden', false);
                $('#btnSimpan').prop('hidden', false);
                $('#Div_TindakanPerbaikan').prop('hidden', true);
                $('#Div_TindakanPencegahan').prop('hidden', true);
                KajianDDLPencegahan();
                TableKajian();
            }
        });

        $("input[name='Potensi']").change(function () {
            var berpotensi = $('input[name="Potensi"]:checked').val();
            if (berpotensi == "Yes") {
                $('#Div_TindakanPencegahan').prop('hidden', false);
            } else {
                $('#Div_TindakanPencegahan').prop('hidden', true);
            }
        });

        $("input[name='radioPotensi']").change(function () {
            var berpotensi = $('input[name="radioPotensi"]:checked').val();
            if (berpotensi == "Yes") {
                $('#Div_Pencegahan').prop('hidden', false);
            } else {
            }
        });

        $("#txtTindakanPerbaikan").on('keyup', function (event) {
            var perb = $("#txtTindakanPerbaikan").val();
            $("#txtAreaBerpotensi").val(perb);
        });

        $('#DepartemenPerbaikan_DDL').change(function () {
            $('#TxtEmailPerbaikan').val("");
            var kategori = 'Perbaikan';
            $('#Div_VendorNamePerbaikan').prop('hidden', true);

            var dept = $('#DepartemenPerbaikan_DDL').val();
            if (dept == "Others") {
                $('#Div_VendorNamePerbaikan').prop('hidden', false);
                $('#VendorPerbaikan_DDL').change(function () {
                    getPICKajianResiko(kategori);
                });
            }
            getPICKajianResiko(kategori);
        });

        $('#btnSimpan').click(function () {

            var berpotensi = $('input[name="TambahPerbaikan"]:checked').val();

            if (berpotensi == "Yes") {
                SubmitTindakanBaru();
            }
            else
            {
                SubmitTindakanExisting();
            }
        })

        $('#RootCause_KajianResikoDDL').change(function () {
            var val = $('#RootCause_KajianResikoDDL option:selected').text();
            var berpotensi = $('input[name="TambahPerbaikan"]:checked').val();
            if (berpotensi == "Yes") {
                if (val.indexOf('[Perbaikan]') == 0) {
                    tipe = "Perbaikan";
                    jenis = "Perbaikan Baru";
                }
                else {
                    tipe = "Pencegahan"
                    jenis = "Pencegahan Baru";
                }
            }
            else {
                jenis = "Pencegahan Existing";
            }
        });
        $('#btn_AddKajian').click(function () {
            KajianResikoDDL();
            console.log(namauser);
            //console.log(values);
        });

        $('#btn_KajianResiko').click(function () {
            //recTindakan(0);
            if ($('#TxtRiskLevel2').val() == 'High' || $('#TxtRiskLevel2').val() == 'Very High') {
                Swal.fire(
                    'Maaf',
                    'Risk Level masih tinggi.',
                    'warning'
                )
            } else {

                var pic = "";
                if ($('#Severity_DDL').val() == 10 || $('#TxtRiskLevel').val() == 'High' || $('#TxtRiskLevel').val() == 'Very High') {
                    pic = $('#TxtPIC').val();
                }

                dto = {
                    Model: {
                        RecordID: values.RecordID,
                        NO_CAPA: noCAPA,
                        Tipe: jenis,
                        Tindakan: values.Tindakan,
                        P_Kegagalan: $('#TxtPotensiKegagalan').val(),
                        Spek: $('#TxtSpesifikasi').val(),
                        Dampak: $('#TxtDampak').val(),
                        Severity: $('#Severity_DDL').val(),
                        Penyebab: $('#TxtPenyebabPotensial').val(),
                        M_Penyebab: $('#TxtMPenyebabPotensial').val(),
                        Likelihood: $('#Likelihood_DDL').val(),
                        M_PKegagalan_LMD: $('#TxtMPotensi_KLMD').val(),
                        Detectability: $('#Detectability_DDL').val(),
                        RPN: $('#TxtRPN').val(),
                        RiskLevel: $('#TxtRiskLevel').val(),
                        Target: $('#Target_DDL').val(),
                        M_PKegagalan: $('#TxtMPotensi_K').val(),
                        Severity2: $('#Severity2_DDL').val(),
                        P_MPenyebab: $('#TxtMPenyebab_P').val(),
                        Likelihood2: $('#Likelihood2_DDL').val(),
                        P_MDPKegagalan: $('#TxtDPotensi_K').val(),
                        Detectability2: $('#Detectability2_DDL').val(),
                        RPN2: $('#TxtRPN2').val(),
                        RiskLevel2: $('#TxtRiskLevel2').val(),
                        PIC: nik,
                        DueDate: $('#DueDate_Kajian').val(),
                        Lainnya: $('#TxtLainnya').val(),
                        EmpID: nik,
                        Status: 10
                    }
                }

                elementID = {
                    NO_CAPA: '#input_NoCAPA',
                    Tindakan: '#RootCause_KajianResikoDDL',
                    P_Kegagalan: '#TxtPotensiKegagalan',
                    Spek: '#TxtSpesifikasi',
                    Dampak: '#TxtDampak',
                    Severity: '#Severity_DDL',
                    Penyebab: '#TxtPenyebabPotensial',
                    M_Penyebab: '#TxtMPenyebabPotensial',
                    Likelihood: '#Likelihood_DDL',
                    M_PKegagalan_LMD: '#TxtMPotensi_KLMD',
                    Detectability: '#Detectability_DDL',
                    RPN: '#TxtRPN',
                    RiskLevel: '#TxtRiskLevel',
                    Target: '#Target_DDL',
                    M_PKegagalan: '#TxtMPotensi_K',
                    Severity2: '#Severity2_DDL',
                    P_MPenyebab: '#TxtMPenyebab_P',
                    Likelihood2: '#Likelihood2_DDL',
                    P_MDPKegagalan: '#TxtDPotensi_K',
                    Detectability2: '#Detectability2_DDL',
                    RPN2: '#TxtRPN2',
                    RiskLevel2: '#TxtRiskLevel2',
                    DueDate: '#DueDate_Kajian',
                    Lainnya: '#TxtLainnya'
                }
                var date = new Date();
                var datekajian = new Date($('#DueDate_Kajian').val());
                var limit = (dto.Model.Severity == 10 || dto.Model.RiskLevel == "High" || dto.Model.RiskLevel == "Very High") ? (25) : (14);
                var i = 0;
                for (var property in dto.Model) {
                    if (limit == 14) {
                        if (i > 14 && i < 26) {
                            if (elementID[property] != undefined) {
                                $(elementID[property]).val("");
                                if (i == 17 || i == 19 || i == 21) { //ini index array untuk dropdownlist Severity2, Likelihood2, dan Detectability2
                                    $(elementID[property]).val('-');
                                }

                            }
                            delete dto.Model[property];
                        }
                    } else {
                        if ($('#TxtRiskLevel2').val() == 'High' || $('#TxtRiskLevel2').val() == 'Very High') {
                            valid = false;
                            return Swal.fire(
                                'Maaf',
                                'Risk Level masih tinggi.',
                                'warning'
                            )
                        }
                    }
                    i++;
                }
                var count = 0;
                //console.log("limit : " + limit);
                $.each(dto.Model, function (key, value) {
                    if (key === "M_PKegagalan" || key === "P_MPenyebab" || key == "P_MDPKegagalan") {
                        if (dto.Model.Severity == 10 || dto.Model.RiskLevel == "High" || dto.Model.RiskLevel == "Very High") {
                            if (dto.Model.M_PKegagalan == "" && dto.Model.P_MPenyebab == "" && dto.Model.P_MDPKegagalan == "") {
                                Swal.fire(
                                    'Maaf',
                                    'Input field "Menghilangkan Potensi Kegagalan / Penyimpangan" atau "Perbaikan untuk mengatasi Penyebab Potensial" atau "Perbaikan untuk meningkatkan deteksi potensi kegagalan" wajib diisi salah satu.',
                                    'warning'
                                )
                                valid = false;
                                return false;

                            }
                            if (dto.Model.DueDate == "") {
                                Swal.fire(
                                    'Maaf',
                                    'Mohon untuk mengisi DueDate PIC Treatment.',
                                    'warning'
                                )
                                valid = false;
                                return false;
                            }
                            if (date.getTime() > datekajian.getTime()) {
                                Swal.fire(
                                    'Maaf',
                                    'Tanggal Due Date tidak boleh hari ini atau kurang dari hari ini',
                                    'warning'
                                )
                                valid = false;
                                return false;
                            }
                        }
                        count++;
                        return;
                    } else {
                        //console.log(key + ": " + value);
                        if (value == "") {
                            //console.log(dto.Model);
                            if (count <= limit) {
                                var label;
                                if (count == 13 || count == 14 || count == 22 || count == 23) {
                                    label = "Mohon untuk mengisi nilai Severity, Likelihood, dan Detectability yang tersedia.";
                                } else {
                                    label = 'Input field "' + $("label[for='" + elementID[Object.keys(dto.Model)[count]].substring(1) + "']").text() + '" Mohon di isi.';
                                }
                                Swal.fire(
                                    'Maaf',
                                    label,
                                    'warning'
                                )
                                valid = false;
                                return false;
                            }

                        }
                    }
                    count++;
                    valid = true;
                });


                if (valid) {
                    $.ajax({
                        url: '/PIC/AddKajian',
                        type: 'post',
                        dataType: 'json',
                        data: JSON.stringify(dto),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data != null) {
                                Swal.fire(
                                    'Success',
                                    'Data berhasil di-input.',
                                    'success'
                                ).then(function (result) {
                                    if (result.value) {
                                        //close modal
                                        RemoveModalInput();
                                        // fetch to table
                                        var tambahperbaikan = $('input[name="TambahPerbaikan"]:checked').val();
                                        if (tambahperbaikan == "Yes") {
                                            TableKajianTambahTindakanBaru();
                                        }
                                        else {
                                            TableKajian();
                                            $("input[name='TambahPerbaikan']").prop("disabled", true);
                                        }
                                    }
                                });
                            }
                        },
                        error: function (ex) {
                            alert(JSON.stringify(ex));
                        }
                    });
                }
            }
        });

    });

    function KajianResikoDDL() {
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_CAPA',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 10,
                    NO_CAPA: noCAPA
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(JSON.parse(data))
                objTindakan = JSON.parse(data);
                recTindakan();
                //console.log('Halaman PV dalam KajianResikoDDLPV(): ' + objTindakan);
                //$('#RootCause_KajianResikoDDL').empty();
                //$('#RootCause_KajianResikoDDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                //$.each(JSON.parse(data), function (key, value) {
                //    $('#RootCause_KajianResikoDDL').append(new Option(value.Tindakan, value.Tindakan));
                //});
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function recTindakan() {
        console.log(objTindakan);
        //console.log(tipe);
        console.log($('#RootCause_KajianResikoDDL').val());
        var tambahperbaikan = $('input[name="TambahPerbaikan"]:checked').val();
        console.log(tambahperbaikan);
        console.log(tipe);
        for (var i = 0; i < objTindakan.length; i++) {
            if (tambahperbaikan == "Yes") {
                if (objTindakan[i].RecordID == $('#RootCause_KajianResikoDDL').val() && objTindakan[i].Tipe == tipe) {
                    values = objTindakan[i];
                    $('#TxtPICName').val(values.FullName);
                    console.log(values);
                    break;
                }
            }
            else
            {
                if (objTindakan[i].RecordID == $('#RootCause_KajianResikoDDL').val()  && objTindakan[i].Tipe == "Pencegahan") {
                    values = objTindakan[i];
                    console.log(values);
                    $('#TxtPICName').val(values.FullName);
                    break;
                }
            }
        }
    }

    function TableKajianTambahTindakanBaru() {
        $.ajax({
            url: 'DynamicController?spname=SP_Find_Data',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    nomorCAPA: noCAPA,
                    kategori: "Kajian Resiko Tambah Tindakan Baru",
                    tipe: jenis,
                    nik: nik
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                $('#Tbl_KajianResiko').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "Tindakan" },
                        { "data": "P_Kegagalan" },
                        { "data": "Spek" },
                        { "data": "Dampak" },
                        { "data": "Severity" },
                        { "data": "Penyebab" },
                        { "data": "M_Penyebab" },
                        { "data": "Likelihood" },
                        { "data": "M_PKegagalan_LMD" },
                        { "data": "Detectability" },
                        { "data": "RPN" },
                        {
                            "data": "RiskLevel",
                            "className": "riskLevel"
                        },
                        { "data": "Target" },
                        { "data": "M_PKegagalan" },
                        { "data": "Severity2" },
                        { "data": "P_MPenyebab" },
                        { "data": "Likelihood2" },
                        { "data": "P_MDPKegagalan" },
                        { "data": "Detectability2" },
                        { "data": "RPN2" },
                        {
                            "data": "RiskLevel2",
                            "className": "riskLevel2"
                        },
                        { "data": "FullName" },
                        { "data": "DueDate" },
                        { "data": "Lainnya" },
                        {
                            "data": null,
                            "defaultContent": "<button class='btn btn-danger delete' type='button' name='delete' onchange=''>Delete</button> ",
                            "visible": (!isHide) ? (true) : (false)
                        },
                    ],
                    "order": [[1, 'asc']],
                    "rowCallback": function (row, data) {
                        ColoredColumns(row, data.RiskLevel, "riskLevel");
                        ColoredColumns(row, data.RiskLevel2, "riskLevel2");
                    }
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function TableKajian() {
        var refid = parseInt(referenceID);
        $.ajax({
            url: 'DynamicController?spname=SP_Find_Data',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    nomorCAPA: noCAPA,
                    kategori: "Kajian Resiko Pencegahan Existing",
                    tipe: jenis,
                    refid: refid
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                $('#Tbl_KajianResiko').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "Tindakan" },
                        { "data": "P_Kegagalan" },
                        { "data": "Spek" },
                        { "data": "Dampak" },
                        { "data": "Severity" },
                        { "data": "Penyebab" },
                        { "data": "M_Penyebab" },
                        { "data": "Likelihood" },
                        { "data": "M_PKegagalan_LMD" },
                        { "data": "Detectability" },
                        { "data": "RPN" },
                        {
                            "data": "RiskLevel",
                            "className": "riskLevel"
                        },
                        { "data": "Target" },
                        { "data": "M_PKegagalan" },
                        { "data": "Severity2" },
                        { "data": "P_MPenyebab" },
                        { "data": "Likelihood2" },
                        { "data": "P_MDPKegagalan" },
                        { "data": "Detectability2" },
                        { "data": "RPN2" },
                        {
                            "data": "RiskLevel2",
                            "className": "riskLevel2"
                        },
                        { "data": "FullName" },
                        { "data": "DueDate" },
                        { "data": "Lainnya" },
                        {
                            "data": null,
                            "defaultContent": "<button class='btn btn-danger delete' type='button' name='delete' onchange=''>Delete</button> ",
                            "visible": (!isHide) ? (true) : (false)
                        },
                    ],
                    "order": [[1, 'asc']],
                    "rowCallback": function (row, data) {
                        ColoredColumns(row, data.RiskLevel, "riskLevel");
                        ColoredColumns(row, data.RiskLevel2, "riskLevel2");
                    }
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }


    function SubmitTindakanExisting()
    {
            var referenceID = getQueryStrings()["ReferenceID"];
            referenceID = referenceID.replace('#', '');

            var dictionarylist = {
                kategori: "Penambahan Submit Existing",
                RecordID: referenceID,
                empID: nik,
                NoCAPA: noCAPA
            }
            var dto = {
                Model: dictionarylist
            }
            $.ajax({
                url: "DynamicController?spname=SP_Update_Pelaksanaan",
                type: "POST",
                data: JSON.stringify(dto),
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result[0].Validate == "Invalid Pencegahan")
                    {
                        Swal.fire("Error!", "Masih ada Tindakan Pencegahan yang belum dikaji !", "error");

                    }
                    else {

                        Swal.fire("Success!", "Submit Berhasil!", "success");

                        $("input[name='TambahPerbaikan']").prop("disabled", false);

                    }
                },
                error: function (xhr, error, status) {
                    console.log(error, status);
                }
            });

    }
    function SubmitTindakanBaru()
    {

        var dictlist =
        {
            NoCAPA: noCAPA,
            kategori: "Penambahan Submit",
            empID: nik
        }
        var dto1 = {
            Model: dictlist
        }
            $.ajax({
                url: "DynamicController?spname=SP_Update_Pelaksanaan",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto1),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result[0].Validate == "Invalid Perbaikan") {

                        Swal.fire("Error!", "Masih ada Tindakan Perbaikan yang belum dikaji !", "error");
                    }
                    else if (result[0].Validate == "Invalid Pencegahan") {

                        Swal.fire("Error!", "Masih ada Tindakan Pencegahan yang belum dikaji !", "error");

                    }
                    else {
                        Swal.fire("Success!", "Submit Berhasil !", "Success");

                        $("input[name='TambahPerbaikan']").prop("disabled", false);
                    }
                },
                error: function (errormessage) {
                    $('#divLoading').attr("hidden", true);
                }
            });



    }
    function getVendorDDL() {
        $.ajax({
            url: 'DynamicController?spname=[dbo].[SP_SHOW_DDL]',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 16
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#VendorPerbaikan_DDL').empty();
                $('#VendorPencegahan_DDL').empty();
                $.each(JSON.parse(data), function (key, value) {
                    $('#VendorPerbaikan_DDL').append(new Option(value.vendor_name, value.vendor_id));
                    $('#VendorPencegahan_DDL').append(new Option(value.vendor_name, value.vendor_id));
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function getPICKajianResiko(kategori) {
        $('#TxtEmail').val("");
        $.ajax({
            url: 'DynamicController?spname=[dbo].[SP_SHOW_DDL]',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 17,
                    Departemen: $('#Departemen' + kategori + '_DDL').val(),
                    VendorID: vendor,
                    NO_CAPA: noCAPA
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#NamaPersonil' + kategori + '_DDL').empty();
                $('#NamaPersonil' + kategori + '_DDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                $.each(JSON.parse(data), function (key, value) {
                    $('#NamaPersonil' + kategori + '_DDL').append(new Option(value.EmpName, value.EmpID));
                });

                $('#NamaPersonil' + kategori + '_DDL').change(function () {
                    $.each(JSON.parse(data), function (key, value) {
                        if (nik == value.EmpID) {
                            if (value.Email_1 == null)
                                $('#TxtEmail' + kategori).val(value.Email_2);
                            else
                                $('#TxtEmail' + kategori).val(value.Email_1);
                            return false;
                        }
                    });
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }


    function RemoveInputField(kategori) {
        $('#TxtDeskripsi' + kategori).val("");
        $('#duedate_' + kategori.toLowerCase()).val("");
        $('#Departemen' + kategori + '_DDL').val("-").trigger("change");
    }


    function retrieveData() {
        $.ajax({
            url: '../PIC/GetDataPIC',
            type: 'post',
            data: JSON.stringify({
                Option: 6,
                NO_CAPA: noCAPA,
                SP: "[dbo].[SP_FORM_CAPA]"
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (rootcause) {
                var countAdd = 0;
                $('#RootCause_DDL').empty();
                $('#RootCause_DDL').append(new Option("*Pilih*", ""));
                $.each(JSON.parse(rootcause), function (key, value) {
                    $('#RootCause_DDL').append(new Option(value.WhyDesc, value.WhyDesc));
                });

                $('#btn_AddPerbaikan').click(function () {



                        var dto = {};
                        var kategori = "Perbaikan";
                        var obj = JSON.parse(rootcause);

                        $.each(obj, function (key, value) {
                            if (value.WhyDesc == $('#RootCause_DDL').val()) {
                                dto = {
                                    Option: 7,
                                    NO_CAPA: noCAPA,
                                    Aspect: value.Aspect,
                                    WhyID: value.WhyID,
                                    WhyParentID: value.ParentID,
                                    RootCause: value.WhyDesc,
                                    Tindakan: $('#TxtDeskripsiPerbaikan').val(),
                                    Pelaksana: nik,
                                    Departemen: departemen,
                                    LineNumber: value.LineNumber,
                                    DueDate: $('#duedate_perbaikan').val(),
                                    NamaPersonil: namauser,
                                    Email: email,
                                    Is_AreaLain: $('input[name="Potensi"]:checked').val(),
                                    Create_By: nik,
                                    Status:"Perbaikan Baru",
                                    Status_ID: 0,
                                    SP: "[dbo].[SP_FORM_CAPA]"
                                }
                            }
                        });
                        addTindakan(dto, kategori);

                        retrieveData2();
                });

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function retrieveData2() {
        var dictlist =
        {
            Option: 8,
            NO_CAPA: noCAPA,
            Status_Perbaikan: 'Perbaikan Baru'
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=[dbo].[SP_FORM_CAPA]',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (area_lain) {
                var countAdd = 0;
                var data = JSON.parse(area_lain);

                var date = new Date();
                if (data.length == 0) {
                    $('#Div_TindakanPencegahan').prop('hidden', true);
                } else {
                    $('#AreaLain_DDL').empty();
                    $('#AreaLain_DDL').append(new Option("*Pilih*", ""));
                    $.each(JSON.parse(area_lain), function (key, value) {
                        $('#AreaLain_DDL').append(new Option(value.Tindakan_Perbaikan, value.Tindakan_Perbaikan));
                    });
                    $('#btn_AddPencegahan').click(function () {
                        countAdd++;

                            var dto = {};
                            var kategori = "Pencegahan";
                            var obj = JSON.parse(area_lain);
                            $.each(obj, function (key, value) {
                                if (value.Tindakan_Perbaikan == $('#AreaLain_DDL').val()) {
                                    dto = {
                                        Option: 9,
                                        NO_CAPA: noCAPA,
                                        Aspect: value.WAHType_FK,
                                        WhyID: value.WhyID,
                                        WhyDesc: value.WhyDesc,
                                        WhyParentID: value.WhyParentID,
                                        RootCause: value.Tindakan_Perbaikan,
                                        AreaLain: $('#TxtAreaLainPencegahan').val(),
                                        Tindakan: $('#TxtDeskripsiPencegahan').val(),
                                        Pelaksana: nik,
                                        Departemen: departemen,
                                        LineNumber: value.LineNumber,
                                        DueDate: $('#duedate_pencegahan').val(),
                                        NamaPersonil: namauser,
                                        Email: email,
                                        Create_By: nik,
                                        Status: "Pencegahan Baru",
                                        Status_ID: 0,
                                        SP: "[dbo].[SP_FORM_CAPA]"
                                    }

                                }
                            });
                            addTindakan(dto, kategori);


                    });
                }
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function getRootCause() {
        var dto = {
            Kategori: "Cari Perbaikan",
            RecordID: referenceID
        }
        $.ajax({
            url: "FindCAPADetail",
            type: "POST",
            async: false,
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                dataPerbaikan = result[0];
                var duedate = moment(dataPerbaikan.Due_Date);
                $('#txtRootCauseExisting').val(dataPerbaikan.WhyDesc);
                $('#txtTindakanPerbaikan').val(dataPerbaikan.Tindakan_Perbaikan);
                $('#txtAreaBerpotensi').val(dataPerbaikan.Tindakan_Perbaikan);
                $('#txtTindakanPerbaikan').prop("disabled", true);
                $('#dueDatePerbaikan').val(duedate.format("YYYY-MM-DD"));
                $('#RootCause_KajianResikoDDL').empty();
                $('#RootCause_KajianResikoDDL').val(dataPerbaikan.Tindakan_Pencegahan);
                $('#dueDatePerbaikan').prop("disabled", true);
                @*$('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function addTindakan(dto, kategori) {
        var valid = false;
        $.each(dto, function (key, value) {
            if (value == '' || value == '-' || value == null) {
                if (value == 0 || typeof value === "undefined")
                    valid = true;
                else
                    return valid = false;
            } else {
                valid = true;
            }
        });
        if (kategori == "Perbaikan") {
            var date = new Date();
            var datepencegahan = new Date($('#duedate_perbaikan').val());
            if (date.getTime() > datepencegahan.getTime()) {
                Swal.fire(
                    'Maaf',
                    'Tanggal Due Date tidak boleh hari ini atau kurang dari hari ini',
                    'warning'
                )
                return;
            }
        }
        if (kategori == "Pencegahan")
        {
            var date = new Date();
            var datepencegahan = new Date($('#duedate_pencegahan').val());
            if (date.getTime() > datepencegahan.getTime())
            {
                Swal.fire(
                    'Maaf',
                    'Tanggal Due Date tidak boleh hari ini atau kurang dari hari ini',
                    'warning'
                )
                return;
            }
        }

        if (valid) {
            $.ajax({
                url: 'AddTindakan',
                type: 'post',
                data: JSON.stringify(dto),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',

                success: function (data) {
                    var status = JSON.parse(data);
                    if (status[0].Status_Inserted != 'Tindakan Perbaikan' || status[0].Status_Inserted != 'Tindakan Pencegahan') {
                        Swal.fire(
                            'Success',
                            status[0].Status_Inserted + ' berhasil di-input.',
                            'success'
                        ).then((result) => {
                            if (result.value) {
                                retrieveData();
                                retrieveData2();
                                RemoveInputField(kategori);
                            }
                            $("input[name='TambahPerbaikan']").prop("disabled", true);
                            KajianDDLPerbaikanBaru();
                            KajianResikoDDL();
                        });
                    }
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        } else {
            Swal.fire(
                'Maaf',
                'Input tidak boleh kosong.',
                'warning'
            )
        }
    }



    function cleanModalFields() {
        $("#KajianResikoModal :input").val("");
        $("#TxtPIC").val('Default');
        $("#Severity_DDL").val("1");
        $("#Likelihood_DDL").val("1");
        $("#Detectability_DDL").val("1");
        $("#Target_DDL").val("Low");
        $("#Severity2_DDL").val("1");
        $("#Likelihood2_DDL").val("1");
        $("#Detectability2_DDL").val("1");
    }

    function KajianDDLPerbaikanBaru() {
        var dictlist = {
            Kategori: "Cari Perbaikan Baru",
            nomorCAPA: noCAPA
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Find_Data",
            type: "POST",
            async: false,
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                $('#RootCause_KajianResikoDDL').empty();
                $('#RootCause_KajianResikoDDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                for (var i = 0; i < result.length; i++) {
                    $('#RootCause_KajianResikoDDL').append(new Option("[Perbaikan]" + " " + result[i].Tindakan_Perbaikan, result[i].RecordID));
                }
                @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@
                KajianDDLPencegahanBaru();
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function KajianDDLPencegahanBaru() {
        var dictlist = {
            Kategori: "Cari Pencegahan Baru",
            nomorCAPA: noCAPA
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Find_Data",
            type: "POST",
            async: false,
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var hasil = JSON.parse(data);
                $('#RootCause_KajianResikoDDL').prop("disabled", false);

                if (hasil.length > 0 || result.length >0) {

                    $('#RootCause_KajianResikoDDL').attr('disable', false);
                    $('#btn_AddKajian').prop("disabled", false);
                }
                else if (hasil.length <= 0 && result.length <= 0) {
                    $('#RootCause_KajianResikoDDL').attr('disable', true);
                    $('#btn_AddKajian').prop("disabled", true);
                }
                for (var i = 0; i < hasil.length; i++) {
                    $('#RootCause_KajianResikoDDL').append(new Option("[Pencegahan]" + " " + hasil[i].Tindakan_Pencegahan, hasil[i].RecordID));

                }

                //objTindakan += result;
                @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function KajianDDLPencegahan() {
        var dictlist = {
            Kategori: "Cari Pencegahan",
            RecordID: referenceID,
            nomorCAPA: noCAPA
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Find_Data",
            type: "POST",
            async: false,
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                $('#RootCause_KajianResikoDDL').empty();

                if (result.length > 0) {

                    $('#RootCause_KajianResikoDDL').prop("disabled", false);
                    $('#RootCause_KajianResikoDDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                    $('#btn_AddKajian').prop("disabled", false);
                }
                else {
                    $('#RootCause_KajianResikoDDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                    $('#btn_AddKajian').prop("disabled", true);
                    $('#RootCause_KajianResikoDDL').attr('disabled', true);
                }
                for (var i = 0; i < result.length; i++) {
                    $('#RootCause_KajianResikoDDL').append(new Option("[Pencegahan]" + " " + result[i].Tindakan_Pencegahan, result[i].RecordID));

                }
                @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@
                //objTindakan += result;
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    $('#AddPencegahan').click(function (e) {
        var referenceID = getQueryStrings()["ReferenceID"];
        referenceID = referenceID.replace('#', '');
        var date = new Date();
        var datepencegahan = new Date($('#dueDatePencegahan').val());
        if (date.getTime() > datepencegahan.getTime()) {
            Swal.fire(
                'Maaf',
                'Tanggal due date tidak boleh kurang dari hari ini.',
                'warning'
            )
            return;
        }
        var dictionarylist = {
            kategori:"Penambahan Pencegahan",
            TindakanPencegahan: $('#txtTindakanPencegahan').val(),
            DueDatePencegahan: $('#dueDatePencegahan').val(),
            IsAreaLain: 1,
            KajianResikoList: newKajianResiko,
            RecordID: referenceID,
            EmpId: nik
        }
        var dto = {
            Model: dictionarylist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Update_Pelaksanaan",
            type: "POST",
            data: JSON.stringify(dto),
            contentType: "application/json",
            dataType: 'json',
            success: function (data) {
                Swal.fire("Success!", "Penambahan berhasil disimpan!", "success");
                $("input[name='TambahPerbaikan']").prop("disabled", true);
                $('#txtTindakanPencegahan').val("");
                $('#dueDatePencegahan').val("")
                KajianDDLPencegahan();
            },
            error: function (xhr, error, status) {
                console.log(error, status);
            }
        });
        //var isAreaLain = $('input[name="radioPotensi"]:checked').val();
        //var adaPencegahan = 0;
        //if (isAreaLain == 'Yes') {
        //    adaPencegahan = 1;
        //}
        //var referenceID = getQueryStrings()["ReferenceID"];
        //referenceID = referenceID.replace('#', '');

        //newDataPerbaikan = {
        //    TindakanPerbaikan: $('#txtTindakanPerbaikan').val(),
        //    DueDatePerbaikan: $('#dueDatePerbaikan').val(),
        //    TindakanPencegahan: $('#txtTindakanPencegahan').val(),
        //    DueDatePencegahan: $('#dueDatePencegahan').val(),
        //    IsAreaLain: adaPencegahan,
        //    KajianResikoList: newKajianResiko,
        //    PerbaikanID: referenceID,
        //    Updater: nik
        //}
        //console.log(newDataPerbaikan);
        //$.ajax({
        //    url: "SimpanPerbaikanBaru",
        //    type: "POST",
        //    data: JSON.stringify(newDataPerbaikan),
        //    contentType: "application/json",
        //    dataType: 'json',
        //    success: function (data) {
        //        alert("Penambahan berhasil disimpan");

        //        ReloadPage();
        //    },
        //    error: function (xhr, error, status) {
        //        console.log(error, status);
        //    }
        //});

        @*var modePerbaikan = $("#modePerbaikan").val();
        var idPerbaikan = $('#ddlPerbaikan').val();
        var tindakanPerbaikan = $('#txtTindakanPerbaikan').val();
        var dueDate = $('#dueDatePerbaikan').val();
        var hasilPerbaikan = $('#txtHasilPerbaikan').val();
        var attachmentPerbaikan = $("#uploadAttachmentPerbaikan").val();
        var pelaksanaID = getQueryStrings()["PelaksanaID"];
        var status = "Pending Review Koordinator";
        var kategori = "Perbaikan";

        pelaksanaID = pelaksanaID.replace('#', '');
        idPerbaikan = parseInt(idPerbaikan);
        var formData = new FormData();
        formData.append("Hasil", hasilPerbaikan);
        formData.append("TindakanID", idPerbaikan);
        formData.append("Updater", pelaksanaID);
        formData.append("NomorCAPA", noCAPA);
        formData.append("Tindakan", tindakanPerbaikan);
        formData.append("DueDate", dueDate);

        $.ajax({
            url: "SimpanHasilPelaksanaan",
            type: "POST",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            async: false,
            success: function (data) {
                swal("Data perbaikan berhasil diupdate!", {
                    icon: "success",
                    buttons: false,
                    timer: 1000,
                });
                ReloadPage();
            },
            error: function (xhr, error, status) {
                console.log(error, status);
            }
        });*@
    });
</script>