
@{
    ViewBag.Title = "PelaksanaCAPAPembatalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>
<script src="~/Content/Scripts/plugins/block-ui/jquery.blockUI.js" defer></script>  

<div class="content-body">
    <!--Modal-->
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Pelaksana CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pelaksana CAPA</h4>
                <form>
                    <div class="row">
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Tanggal</label>
                            <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Now.ToString("MM/dd/yyyy HH:mm")" disabled readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Atasan Pelaksana</label>
                            <input class="form-control form-control-sm" type="text" id="TxtRequestor" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Nomor CAPA</label>
                            <input class="form-control form-control-sm" type="text" id="TxtNoCAPA" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Departemen</label>
                            <input class="form-control form-control-sm" type="text" id="TxtDepartemen" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="Perbaikan" hidden>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tindakan Perbaikan</h4>
                    <form id="formPerbaikan">
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="m-t-40">Pelaksana Tindakan Perbaikan</label>
                                <div class="input-group mb-3">
                                    <input type="text" id="txtPelaksanaPerbaikan" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="m-t-40">Superior</label>
                                <div class="input-group mb-3">
                                    <input type="text" id="txtSuperiorPerbaikan" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="m-t-20">Root cause</label>
                                <textarea type="text" class="form-control" id="txtRootCausePerbaikan" disabled></textarea>
                            </div>
                        </div>

                        <div class="row form-group-sm">
                            <div class="col-md-4">
                                <label class="m-t-20">Tindakan perbaikan<span style="color: red;">*</span></label>
                                <textarea type="text" class="form-control" placeholder="Deskripsi" id="txtTindakanPerbaikan" disabled></textarea>
                            </div>
                            <div class="col-md-4">
                                <label class="m-t-20">Due date<span style="color: red">*</span></label>
                                <input type="date" id="dueDatePerbaikan" class="form-control form-control-sm" disabled>
                            </div>


                        </div>
                        <br />
                        <div class="row form-group-sm">
                            <div class="col-md-4">
                                <label class="m-t-40">Alasan Cancel Tindakan perbaikan<span style="color: red">*</span></label>
                                <div class="input-group mb-3">
                                    <textarea type="text" id="AlasanBatalPerbaikan" class="form-control" placeholder="Alasan Cancel Tindakan perbaikan..."></textarea>
                                </div>
                            </div>
                        </div>

                    </form>

                    <div class="row form-group-sm">
                        <div class="col-md-6 mt-3">
                            <button class="btn mb-1 btn-primary" id="CancelPerbaikan"  style="background-color:green;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Pencegahan" hidden>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tindakan Pencegahan</h4>
                    <form>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="m-t-40">Pelaksana Tindakan Pencegahan</label>
                                <div class="input-group mb-3">
                                    <input type="text" id="txtPelaksanaPencegahan" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="m-t-40">Superior</label>
                                <div class="input-group mb-3">
                                    <input type="text" id="txtSuperiorPencegahan" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            @*<div class="col-sm-2">
                                    <button type="button" class="btn btn-primary">Tambah Tindakan Pencegahan</button>
                                </div>*@
                        </div>
                        <hr />
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="m-t-20">Area / Proses lain yang Berpotensi</label>
                                <textarea type="text" class="form-control" id="txtRootCausePencegahan" disabled></textarea>
                            </div>
                        </div>

                        <div class="row form-group-sm">
                            <div class="col-md-4">
                                <label class="m-t-20">Tindakan Pencegahan<span style="color: red;">*</span></label>
                                <textarea type="text" class="form-control" placeholder="Deskripsi" id="txtTindakanPencegahan" disabled></textarea>
                            </div>
                            <div class="col-md-4">
                                <label class="m-t-20">Due date<span style="color: red">*</span></label>
                                <input type="date" id="dueDatePencegahan" class="form-control form-control-sm" disabled>
                            </div>


                        </div>

                        <div class="row form-group-sm">
                            <div class="col-md-4">
                                <label class="m-t-40">Alasan Cancel Pencegahan<span style="color: red">*</span></label>
                                <div class="input-group mb-3">
                                    <textarea type="text" id="AlasanBatalPencegahan" class="form-control" placeholder="Alasan Cancel Pencegahan..."></textarea>
                                </div>
                            </div>
                        </div>

                    </form>

                    <div class="row form-group-sm">
                        <div class="col-md-6 mt-3">
                            <button class="btn mb-1 btn-primary" id="CancelPencegahan"  style="background-color:green;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" id="Div_Pencegahan" hidden>
            <div class="card-body">
                <h4 class="card-title">Tindakan Pencegahan</h4>
                <div class="table-responsive">
                    <form>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Root Cause</label>
                                <textarea type="text" class="form-control" placeholder="create otomatis Why terakhir dari halaman PIC CAPA Page 1"></textarea>
                            </div>
                        </div>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                                <textarea type="text" class="form-control" placeholder="Deskripsi"></textarea>
                            </div>
                            <div class="form-group mb-2 col-sm-3">
                                <label class="m-t-20">Due Date</label>
                                <input type="date" id="date-format" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="m-t-40">Pelaksana Tindakan Perbaikan</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <label class="m-t-40" style="visibility:hidden">_</label>
                                <div class="input-group mb-3">
                                    <button type="button" class="btn mb-1 btn-primary ">Add</button>
                                    <button type="button" class="btn mb-1 btn-primary ">Browse</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="m-t-40">Nama Personil</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="m-t-40">Alamat Email</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        @Html.Partial("KajianResikoPV")
        <div class="row form-group-sm">
            <div class="col-md-6 mt-3">
                <button class="btn mb-1 btn-primary" id="Kamus" onclick="window.open('../Content/Images/SD-QO-QS-1008 Kamus Kriteria Risiko.pdf', '_blank', 'fullscreen=yes'); return false;" style="background-color:orange;">Lihat Kamus Kriteria Resiko</button>
            </div>
        </div>
        <div class="row form-group-sm">
            <div class="col-md-6 mt-3">
                <button class="btn mb-1 btn-primary" style="background-color: green;"  id="Submit">Submit</button>
            </div>
        </div>

    </div>
</div>
<!-- #/ container -->

<input type="text" id="input_NoCAPA" value="@ViewBag.NoCAPA" hidden>


<script>
    var noCAPA = getQueryStrings()["NoCAPA"];
    var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
    var namaUser = '@Request.RequestContext.HttpContext.Session["NamaUser"]';
    var superiorName = '@Request.RequestContext.HttpContext.Session["SuperiorName"]';
    var dataPerbaikan, attachmentPerbaikan, dataPencegahan, attachmentPencegahan;
    var statuser = false;
    var stataction = false;
    var laststate = false;
    var referenceID = getQueryStrings()["ReferenceID"];
    var tindakan = getQueryStrings()["Tindakan"];
    var jenis;
    var objTindakan;
    var values;
    //function untuk ambil semua query string
    function getQueryStrings() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(document).ready(function () {
        $('#TxtDepartemen').val('@Request.RequestContext.HttpContext.Session["Departemen"]');
        $('#TxtNoCAPA').val(noCAPA);
        $('#TxtRequestor').val(superiorName);
        if (tindakan == "Perbaikan") {
            jenis = "Pembatalan Perbaikan";
        }
        else {
            jenis = "Pembatalan Pencegahan";
        }
        TableKajian();
        KajianResikoDDL();
        if (tindakan == "Perbaikan") {
            $('#Perbaikan').attr("hidden", false);
            $('#txtPelaksanaPerbaikan').val(namaUser);
            $('#txtSuperiorPerbaikan').val(superiorName);
            getRootCausePerbaikan();
        }
        else
        {
            $('#txtPelaksanaPencegahan').val(namaUser);
            $('#txtSuperiorPencegahan').val(superiorName);
            $('#Pencegahan').attr("hidden", false);
            getRootCausePencegahan();
        }
        $('#RootCause_KajianResikoDDL').attr("disabled", true);

        $('#AlasanBatalPerbaikan').on('click',function () {
            $('#RootCause_KajianResikoDDL').empty();
            $('#RootCause_KajianResikoDDL').append(new Option($('#txtTindakanPerbaikan').val(), $('#txtTindakanPerbaikan').val()));
        });


        $('#Submit').click(function () {
            if (tindakan == "Perbaikan") {
                SubmitPerbaikan();
            }
            else
            {
                SubmitPencegahan();
            }
        });

        $('#RootCause_KajianResikoDDL').change(function () {
            var val = $('#RootCause_KajianResikoDDL').text();
            if (val.indexOf('[Perbaikan]') == 0) {
                tipe = "Perbaikan";
            }
            else {
                tipe = "Pencegahan";
            }

        });

        $('#btn_AddKajian').click(function () {
            recTindakan();
            $('#TxtPICName').val(values.Nama_Personil);
            console.log(values);
        });

        $('#CancelPerbaikan').click(function () {

            CancelPerbaikan();
        });


        $('#CancelPencegahan').click(function () {

            CancelPencegahan();
        });

        $('#btn_KajianResiko').click(function () {
            //recTindakan(0);
            
                var pic = "";
                if ($('#Severity_DDL').val() == 10 || $('#TxtRiskLevel').val() == 'High' || $('#TxtRiskLevel').val() == 'Very High') {
                    pic = $('#TxtPIC').val();
                }

                dto = {
                    Model: {
                        RecordID: referenceID,
                        NO_CAPA: noCAPA,
                        Tipe: jenis,
                        Tindakan: values.Tindakan,
                        P_Kegagalan: $('#TxtPotensiKegagalan').val(),
                        Spek: $('#TxtSpesifikasi').val(),
                        Dampak: $('#TxtDampak').val(),
                        Severity: $('#Severity_DDL').val(),
                        Penyebab: $('#TxtPenyebabPotensial').val(),
                        M_Penyebab: $('#TxtMPenyebabPotensial').val(),
                        Likelihood: $('#Likelihood_DDL').val(),
                        M_PKegagalan_LMD: $('#TxtMPotensi_KLMD').val(),
                        Detectability: $('#Detectability_DDL').val(),
                        RPN: $('#TxtRPN').val(),
                        RiskLevel: $('#TxtRiskLevel').val(),
                        Target: $('#Target_DDL').val(),
                        M_PKegagalan: $('#TxtMPotensi_K').val(),
                        Severity2: $('#Severity2_DDL').val(),
                        P_MPenyebab: $('#TxtMPenyebab_P').val(),
                        Likelihood2: $('#Likelihood2_DDL').val(),
                        P_MDPKegagalan: $('#TxtDPotensi_K').val(),
                        Detectability2: $('#Detectability2_DDL').val(),
                        RPN2: $('#TxtRPN2').val(),
                        RiskLevel2: $('#TxtRiskLevel2').val(),
                        PIC: nik,
                        DueDate: $('#DueDate_Kajian').val(),
                        Lainnya: $('#TxtLainnya').val(),
                        EmpID: nik,
                        Status: 10
                    }
                }

                elementID = {
                    NO_CAPA: '#input_NoCAPA',
                    Tindakan: '#RootCause_KajianResikoDDL',
                    P_Kegagalan: '#TxtPotensiKegagalan',
                    Spek: '#TxtSpesifikasi',
                    Dampak: '#TxtDampak',
                    Severity: '#Severity_DDL',
                    Penyebab: '#TxtPenyebabPotensial',
                    M_Penyebab: '#TxtMPenyebabPotensial',
                    Likelihood: '#Likelihood_DDL',
                    M_PKegagalan_LMD: '#TxtMPotensi_KLMD',
                    Detectability: '#Detectability_DDL',
                    RPN: '#TxtRPN',
                    RiskLevel: '#TxtRiskLevel',
                    Target: '#Target_DDL',
                    M_PKegagalan: '#TxtMPotensi_K',
                    Severity2: '#Severity2_DDL',
                    P_MPenyebab: '#TxtMPenyebab_P',
                    Likelihood2: '#Likelihood2_DDL',
                    P_MDPKegagalan: '#TxtDPotensi_K',
                    Detectability2: '#Detectability2_DDL',
                    RPN2: '#TxtRPN2',
                    RiskLevel2: '#TxtRiskLevel2',
                    DueDate: '#DueDate_Kajian',
                    Lainnya: '#TxtLainnya'
                }
                var date = new Date();
                var datekajian = new Date($('#DueDate_Kajian').val());
                var limit = 14;
                var i = 0;
                if (dto.Model.Severity == 10 || dto.Model.RiskLevel == "High" || dto.Model.RiskLevel == "Very High") {
                    return Swal.fire(
                        'Maaf',
                        'Risk Level masih tinggi.',
                        'warning'
                    )
                }
                for (var property in dto.Model) {
                    if (limit == 14 ) {
                        if (i > 14 && i <= 26) {
                            if (elementID[property] != undefined) {
                                $(elementID[property]).val("");
                                if (i == 17 || i == 19 || i == 21) { //ini index array untuk dropdownlist Severity2, Likelihood2, dan Detectability2
                                    $(elementID[property]).val('-');
                                }

                            }
                            delete dto.Model[property];
                        }
                    } else {
                        if ($('#TxtRiskLevel2').val() == 'High' || $('#TxtRiskLevel2').val() == 'Very High') {
                            valid = false;
                            return Swal.fire(
                                'Maaf',
                                'Risk Level masih tinggi.',
                                'warning'
                            )
                        }

                        if ($('#Target_DDL').val() == "Low" && $('#TxtRiskLevel2').val() == 'Medium') {
                            valid = false;
                            return Swal.fire({
                                title: 'Maaf',
                                text: 'Risk Level masih tinggi.',
                                icon: "warning",
                                showConfirmButton: false,
                                timer: 1000,
                            })
                        }
                        //if ($('#Severity2_DDL').val() == '10') {
                        //    valid = false;
                        //    return Swal.fire(
                        //        'Maaf',
                        //        'Severity masih tinggi.',
                        //        'warning'
                        //    )
                        //
                    }
                    i++;
                }
                var count = 0;
                //console.log("limit : " + limit);
                $.each(dto.Model, function (key, value) {
                    if (key === "M_PKegagalan" || key === "P_MPenyebab" || key == "P_MDPKegagalan") {
                        if (dto.Model.Severity == 10 || dto.Model.RiskLevel == "High" || dto.Model.RiskLevel == "Very High") {
                            console.log("test");

                            if (dto.Model.M_PKegagalan == "" && dto.Model.P_MPenyebab == "" && dto.Model.P_MDPKegagalan == "") {
                                Swal.fire(
                                    'Maaf',
                                    'Input field "Menghilangkan Potensi Kegagalan / Penyimpangan" atau "Perbaikan untuk mengatasi Penyebab Potensial" atau "Perbaikan untuk meningkatkan deteksi potensi kegagalan" wajib diisi salah satu.',
                                    'warning'
                                )
                                valid = false;
                                return false;
                            }

                            else if (dto.Model.DueDate == "") {
                                Swal.fire(
                                    'Maaf',
                                    'Mohon untuk mengisi DueDate PIC Treatment.',
                                    'warning'
                                )
                                valid = false;
                                return false;
                            }
                            else if (date.getTime() > datekajian.getTime()) {
                                Swal.fire(
                                    'Maaf',
                                    'Tanggal Due Date tidak boleh hari ini atau kurang dari hari ini',
                                    'warning'
                                )
                                valid = false;
                                return false;
                            }

                        }
                        count++;
                        return ;
                    } else {
                        //console.log(key + ": " + value);
                        if (value == "") {
                            //console.log(dto.Model);
                            if (count <= limit) {
                                var label;
                                if (count == 13 || count == 14 || count == 22 || count == 23) {
                                    label = "Mohon untuk mengisi nilai Severity, Likelihood, dan Detectability yang tersedia.";
                                } else {
                                    label = 'Input field "' + $("label[for='" + elementID[Object.keys(dto.Model)[count]].substring(1) + "']").text() + '" Mohon di isi.';
                                }
                                Swal.fire(
                                    'Maaf',
                                    label,
                                    'warning'
                                )
                                valid = false;
                                return false;
                            }

                        }
                    }
                    count++;
                    valid = true;
                });


                if (valid) {
                    $.ajax({
                        url: '../PIC/AddKajian',
                        type: 'post',
                        dataType: 'json',
                        data: JSON.stringify(dto),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data != null) {
                                Swal.fire({
                                    title: 'Success',
                                    text: 'Data berhasil di-input.',
                                    icon: 'success',
                                    showConfirmButton: false,
                                    timer: 1000,
                                }).then(function (result) {

                                    TableKajian();
                                    //close modal
                                    RemoveModalInput();
                                    // fetch to table
                                });
                            }
                        },
                        error: function (ex) {
                            alert(JSON.stringify(ex));
                        }
                    });
                }
            
        });


    });
    function RemoveModalInput() {
        $('#TxtPotensiKegagalan').val("");
        $('#TxtDampak').val("");
        $('#TxtSpesifikasi').val("");
        $('#TxtPenyebabPotensial').val("");
        $('#TxtMPenyebabPotensial').val("");
        $('#TxtMPotensi_KLMD').val("");
        $('#Severity_DDL').val("-").trigger('change');
        $('#Likelihood_DDL').val("-").trigger('change');
        $('#Detectability_DDL').val("-").trigger('change');
        $('#TxtRPN').val("");
        $('#TxtRiskLevel').val("");
        $('#Target_DDL').val("").trigger('change');
        $('#TxtMPotensi_K').val("");
        $('#TxtMPenyebab_P').val("");
        $('#TxtDPotensi_K').val("");
        $('#Severity2_DDL').val("-").trigger('change');
        $('#Likelihood2_DDL').val("-").trigger('change');
        $('#Detectability2_DDL').val("-").trigger('change');
        $('#TxtRPN2').val("");
        $('#TxtRiskLevel2').val("");
        //$('#TxtPICName').val("");
        //$('#TxtPIC').val("");
        $('#TxtLainnya').val("");
        $('#DueDate_Kajian').val("");
        $('#Div_KajianResikoModal').prop('hidden', true);
        $('#KajianResikoModal').modal('hide');
    }

    function KajianResikoDDL() {
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_CAPA',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 10,
                    NO_CAPA: noCAPA
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(JSON.parse(data))
                objTindakan = JSON.parse(data);
                //console.log('Halaman PV dalam KajianResikoDDLPV(): ' + objTindakan);
                //$('#RootCause_KajianResikoDDL').empty();
                //$('#RootCause_KajianResikoDDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                //$.each(JSON.parse(data), function (key, value) {
                //    $('#RootCause_KajianResikoDDL').append(new Option(value.Tindakan, value.Tindakan));
                //});
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function recTindakan() {

        //console.log(objTindakan);
        //console.log(tipe);
        for (var i = 0; i < objTindakan.length; i++) {
            if (objTindakan[i].RecordID == referenceID && objTindakan[i].Tipe == tindakan) {
                values = objTindakan[i];
                break;
            }

        }
    }

    function TableKajian() {
        $.ajax({
            url: 'DynamicController?spname=SP_Find_Data',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    nomorCAPA: noCAPA,
                    kategori: "Kajian Resiko",
                    tipe: jenis,
                    recordID: referenceID
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                $('#Tbl_KajianResiko').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "Tindakan" },
                        { "data": "P_Kegagalan" },
                        { "data": "Spek" },
                        { "data": "Dampak" },
                        { "data": "Severity" },
                        { "data": "Penyebab" },
                        { "data": "M_Penyebab" },
                        { "data": "Likelihood" },
                        { "data": "M_PKegagalan_LMD" },
                        { "data": "Detectability" },
                        { "data": "RPN" },
                        {
                            "data": "RiskLevel",
                            "className": "riskLevel"
                        },
                        { "data": "Target" },
                        { "data": "M_PKegagalan" },
                        { "data": "Severity2" },
                        { "data": "P_MPenyebab" },
                        { "data": "Likelihood2" },
                        { "data": "P_MDPKegagalan" },
                        { "data": "Detectability2" },
                        { "data": "RPN2" },
                        {
                            "data": "RiskLevel2",
                            "className": "riskLevel2"
                        },
                        { "data": "FullName" },
                        { "data": "DueDate" },
                        { "data": "Lainnya" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button'  class='btn btn-primary' onclick=DeleteKajianResiko(this) value='Delete'style='background-color:red;'/>"
                        },
                    ],
                    "order": [[1, 'asc']],
                    "rowCallback": function (row, data) {
                        ColoredColumns(row, data.RiskLevel, "riskLevel");
                        ColoredColumns(row, data.RiskLevel2, "riskLevel2");
                    }
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function DeleteKajianResiko(button) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Delete!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var rows = $(button).closest('tr');
                var data = $('#Tbl_KajianResiko').DataTable().row(rows).data();
                var id = data['RecordID'];
                console.log(id);
                console.log(data);
                var dictlist = {
                    Option: 27,
                    RecordID: id
                };
                var dto = {
                    Model: dictlist
                }
                $.ajax({
                    url: 'DynamicController?spname=[dbo].[SP_FORM_Perubahan]',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(dto),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        Swal.fire(
                            'Deleted!',
                            'Kajian Resiko Berhasil Di Hapus!',
                            'success'
                        )
                        TableKajian();
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });
            }
        })

    }

    function CancelPencegahan() {
        var dictlist = {
            Kategori: "Cancel Pencegahan",
            recordID: referenceID,
            alasan_batal: $('#AlasanBatalPencegahan').val()
        }
        var dto = {
            Model: dictlist
        }

        if ($('#AlasanBatalPencegahan').val().trim() == "")
        {
            Swal.fire(
                'Error',
                'Alasan Cancel harus diisi',
                'error'
            )
        }
        else {
            $.ajax({
                url: "DynamicController?spname=SP_Update_Pelaksanaan",
                type: "POST",
                async: false,
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    Swal.fire(
                        'Berhasil',
                        'Alasan Cancel berhasil di submit',
                        'success'
                    )

                    jenis = "Pembatalan Pencegahan"
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }
    }

    function CancelPerbaikan() {
        var dictlist = {
            Kategori: "Cancel Perbaikan",
            RecordID: referenceID,
            alasan_batal: $('#AlasanBatalPerbaikan').val()
        }
        var dto = {
            Model: dictlist
        }

        if ($('#AlasanBatalPerbaikan').val().trim() == "") {
            Swal.fire(
                'Error',
                'Alasan Cancel harus diisi',
                'error'
            )
        }
        else {
            $.ajax({
                url: "DynamicController?spname=SP_Update_Pelaksanaan",
                type: "POST",
                async: false,
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    Swal.fire(
                        'Berhasil',
                        'Alasan Cancel berhasil di submit',
                        'success'
                    )
                    $.ajax({
                        url: 'SubmitApproval',
                        type: 'post',
                        data: JSON.stringify({
                            Model: {
                                NO_CAPA: noCAPA,
                                Temp_Status: 10,
                                Tindakan: 'Perbaikan',
                                Tindakan_ID: referenceID
                            }
                        }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                        },
                        error: function (ex) {
                            alert(JSON.stringify(ex));
                        }
                    });
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }
    }

     function getRootCausePerbaikan() {

             var dictlist = {
                 Kategori: "Cari Perbaikan",
                 RecordID: referenceID
             }
             var dto = {
                 Model: dictlist
             }
            $.ajax({
                url: "DynamicController?spname=SP_Find_Data",
                type: "POST",
                async: false,
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var result = JSON.parse(data);
                    dataPerbaikan = result[0];
                    var duedate = moment(dataPerbaikan.Due_Date);
                    var duedaterev = moment(dataPerbaikan.Due_DateRev);
                    $('#txtRootCausePerbaikan').val(dataPerbaikan.WhyDesc);
                    $('#txtTindakanPerbaikan').val(dataPerbaikan.Tindakan_Perbaikan);
                    $('#dueDatePerbaikan').val(duedate.format("YYYY-MM-DD"));
                    $('#txtTindakanPerbaikan').prop("disabled", true);
                    $('#AlasanBatalPerbaikan').val(dataPerbaikan.Alasan_Pembatalan);
                    if (dataPerbaikan.Alasan_Pembatalan != "") {
                        $('#btn_AddKajian').attr("disabled", false);
                        $('#RootCause_KajianResikoDDL').append(new Option(dataPerbaikan.Tindakan_Perbaikan, dataPerbaikan.Tindakan_Perbaikan));
                        $('#RootCause_KajianResikoDDL').val(dataPerbaikan.Tindakan_Perbaikan);

                    }
                    else {
                        $('#btn_AddKajian').attr("disabled", true);
                    }
                    if (dataPerbaikan.Status_ID != 6) {
                        $('#btn_AddKajian').attr("disabled", true);
                        $('#AlasanBatalPerbaikan').attr("disabled", true);
                        $('#CancelPerbaikan').attr("disabled", true);
                        $('#Submit').attr("disabled", true);
                    }
                    @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@

                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
    }

    function getRootCausePencegahan(){
        var dictlist = {
            Kategori: "Cari Batal Pencegahan",
            RecordID: referenceID
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Find_Data",
            type: "POST",
            async: false,
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                dataPencegahan = result[0];
                var duedate = moment(dataPencegahan.Due_Date);
                $('#txtRootCausePencegahan').val(dataPencegahan.WhyDesc);
                $('#txtTindakanPencegahan').val(dataPencegahan.Tindakan_Pencegahan);
                $('#txtTindakanPencegahan').prop("disabled", true);
                $('#dueDatePencegahan').val(duedate.format("YYYY-MM-DD"));
                $('#AlasanBatalPencegahan').val(dataPencegahan.Alasan_Pembatalan);
                @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@
                if (dataPencegahan.Alasan_Pembatalan != "") {
                    $('#btn_AddKajian').attr("disabled", false);
                    $('#RootCause_KajianResikoDDL').append(new Option(dataPencegahan.Tindakan_Pencegahan, dataPencegahan.Tindakan_Pencegahan));
                    $('#RootCause_KajianResikoDDL').val(dataPencegahan.Tindakan_Pencegahan);

                }
                else {
                    $('#btn_AddKajian').attr("disabled", true);
                }
                if (dataPencegahan.Status_ID != 6) {
                    $('#btn_AddKajian').attr("disabled", true);
                    $('#CancelPencegahan').attr("disabled", true);
                    $('#AlasanBatalPencegahan').attr("disabled", true);
                    $('#Submit').attr("disabled", true);

                }
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function SubmitPerbaikan()
    {
        var dictlist = {
            Kategori: "Batal Perbaikan",
            RecordID: referenceID,
            NoCAPA: noCAPA,
            Tipe: jenis,
            empID: nik
        }
        var dto = {
            Model: dictlist
        }
            $.ajax({
                url: "DynamicController?spname=SP_Update_Pelaksanaan",
                type: "POST",
                async: false,
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    var result = JSON.parse(data);

                    if (result[0].Stat == "Invalid") {
                        Swal.fire(
                            'Maaf',
                            'tindakan harus dikaji terlebih dahulu.',
                            'warning'
                        )
                        return
                    }
                    else {
                        Swal.fire(
                            'Berhasil',
                            'Pembatalan berhasil di submit',
                            'success'
                        )
                        $.blockUI();
                        $.ajax({
                            url: 'SubmitApproval',
                            type: 'post',
                            data: JSON.stringify({
                                Model: {
                                    NO_CAPA: noCAPA,
                                    Temp_Status: 10,
                                    Tindakan: 'Perbaikan',
                                    Tindakan_ID: referenceID
                                }
                            }),
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                            },
                            error: function (ex) {
                                alert(JSON.stringify(ex));
                            }
                        });
                        window.location.href = '../PendingTask/TaskList';
                        $('#CancelPerbaikan').attr("disabled", true);
                        $('#AlasanBatalPerbaikan').attr("disabled", true);
                        $('#btn_AddKajian').attr("disabled", true);
                        $('#Submit').attr("disabled", true);
                        @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@
                    }
                   

                }, error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
    }

    function SubmitPencegahan() {
        var dictlist = {
            Kategori: "Batal Pencegahan",
            NoCAPA: noCAPA,
            RecordID: referenceID,
            Tipe: jenis,
            empID: nik
        }
        var dto = {
            Model: dictlist
        }
            $.ajax({
                url: "DynamicController?spname=SP_Update_Pelaksanaan",
                type: "POST",
                async: false,
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    var result = JSON.parse(data);

                    if (result[0].Stat == "Invalid") {
                        Swal.fire(
                            'Maaf',
                            'tindakan harus dikaji terlebih dahulu.',
                            'warning'
                        )
                        return
                    }
                    else {
                        Swal.fire(
                            'Berhasil',
                            'Pembatalan berhasil di submit',
                            'success'
                        )
                        $.blockUI();
                        $.ajax({
                            url: 'SubmitApproval',
                            type: 'post',
                            data: JSON.stringify({
                                Model: {
                                    NO_CAPA: noCAPA,
                                    Temp_Status: 10,
                                    Tindakan: 'Pencegahan',
                                    Tindakan_ID: referenceID
                                }
                            }),
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                            },
                            error: function (ex) {
                                alert(JSON.stringify(ex));
                            }
                        });
                        window.location.href = '../PendingTask/TaskList';
                        $('#CancelPencegahan').attr("disabled", true);
                        $('#AlasanBatalPencegahan').attr("disabled", true);
                        $('#btn_AddKajian').attr("disabled", true);
                        $('#Submit').attr("disabled", true);
                        @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@
                    }
                    

                }, error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
    }
</script>

