
@{
    ViewBag.Title = "PelaksanaCAPAPerubahan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>

<div class="content-body">
    <!--Modal-->
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Pelaksana CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div id="Perbaikan" hidden>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tindakan Perbaikan</h4>
                    <div class="table-responsive">
                        <form id="formPerbaikan">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class="m-t-40">Pelaksana Tindakan Perbaikan</label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="txtPelaksanaPerbaikan" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="m-t-40">Superior</label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="txtSuperiorPerbaikan" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="m-t-20">Root cause</label>
                                    <textarea type="text" class="form-control" id="txtRootCausePerbaikan" disabled></textarea>
                                </div>
                            </div>

                            <div class="row form-group-sm">
                                <div class="col-md-4">
                                    <label class="m-t-20">Tindakan perbaikan<span style="color: red;">*</span></label>
                                    <textarea type="text" class="form-control" placeholder="Deskripsi" id="txtTindakanPerbaikan" disabled></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label class="m-t-40">Tindakan perbaikan Revisi<span style="color: red">*</span></label>
                                    <div class="input-group mb-3">
                                        <textarea type="text" id="txtTindakanPerbaikanRev" class="form-control" placeholder="Tindakan perbaikan Revisi..."></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="m-t-40">Alasan perubahan Tindakan perbaikan<span style="color: red">*</span></label>
                                    <div class="input-group mb-3">
                                        <textarea type="text" id="AlasanTindakanPerbaikan" class="form-control" placeholder="Alasan perubahan tindakan perbaikan..."></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="m-t-20">Due date<span style="color: red">*</span></label>
                                    <input type="date" id="dueDatePerbaikan" class="form-control form-control-sm" disabled>
                                </div>
                                <div class="col-md-4">
                                    <label class="m-t-20">Due date Rev<span style="color: red">*</span></label>
                                    <input type="date" id="dueDatePerbaikanRev" class="form-control form-control-sm">
                                </div>
                                <div class="col-md-4">
                                    <label class="m-t-40">Alasan perubahan DueDate<span style="color: red">*</span></label>
                                    <div class="input-group mb-4">
                                        <textarea type="text" id="AlasanDueDate" class="form-control" placeholder="Alasan perubahan due date..."></textarea>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="Pencegahan" hidden>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tindakan Pencegahan</h4>
                    <div class="table-responsive">
                        <form>

                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class="m-t-40">Pelaksana Tindakan Pencegahan</label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="txtPelaksanaPencegahan" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="m-t-40">Superior</label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="txtSuperiorPencegahan" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                @*<div class="col-sm-2">
                                        <button type="button" class="btn btn-primary">Tambah Tindakan Pencegahan</button>
                                    </div>*@
                            </div>
                            <hr />
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="m-t-20">Area / Proses lain yang Berpotensi</label>
                                    <textarea type="text" class="form-control" id="txtRootCausePencegahan" disabled></textarea>
                                </div>
                            </div>

                            <div class="row form-group-sm">
                                <div class="col-md-4">
                                    <label class="m-t-20">Tindakan pencegahan<span style="color: red">*</span></label>
                                    <textarea type="text" id="txtTindakanPencegahan" class="form-control" placeholder="Deskripsi" disabled></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label class="m-t-40">Tindakan Pencegahan Revisi<span style="color: red">*</span></label>
                                    <div class="input-group mb-3">
                                        <textarea type="text" id="txtTindakanPencegahanRev" class="form-control" placeholder="Tindakan Pencegahan Revisi..."></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="m-t-40">Alasan Perubahan Tindakan Pencegahan<span style="color: red">*</span></label>
                                    <div class="input-group mb-3">
                                        <textarea type="text" id="AlasanTindakanPencegahan" class="form-control" placeholder="Alasan tindakan Pencegahan..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group-sm">

                                <div class="form-group mb-2 col-md-4">
                                    <label class="m-t-20">Due date<span style="color: red;">*</span></label>
                                    <input type="date" id="dueDatePencegahan" class="form-control form-control-sm" disabled>
                                </div>
                                <div class="form-group mb-2 col-md-4">
                                    <label class="m-t-20">Due date Rev<span style="color: red">*</span></label>
                                    <input type="date" id="dueDatePencegahanRev" class="form-control form-control-sm" >
                                </div>
                                <div class="col-md-4">
                                    <label class="m-t-40">Alasan Perubahan Due Date<span style="color: red">*</span></label>
                                    <div class="input-group mb-3">
                                        <textarea type="text" id="AlasanDueDatePencegahan" class="form-control" placeholder="Alasan Due Date..."></textarea>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" id="Div_Pencegahan" hidden>
            <div class="card-body">
                <h4 class="card-title">Tindakan Pencegahan</h4>
                <div class="table-responsive">
                    <form>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Root Cause</label>
                                <textarea type="text" class="form-control" placeholder="create otomatis Why terakhir dari halaman PIC CAPA Page 1"></textarea>
                            </div>
                        </div>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                                <textarea type="text" class="form-control" placeholder="Deskripsi"></textarea>
                            </div>
                            <div class="form-group mb-2 col-sm-3">
                                <label class="m-t-20">Due Date</label>
                                <input type="date" id="date-format" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="m-t-40">Pelaksana Tindakan Perbaikan</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <label class="m-t-40" style="visibility:hidden">_</label>
                                <div class="input-group mb-3">
                                    <button type="button" class="btn mb-1 btn-primary ">Add</button>
                                    <button type="button" class="btn mb-1 btn-primary ">Browse</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="m-t-40">Nama Personil</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="m-t-40">Alamat Email</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        @Html.Partial("KajianResikoPV")
        <div class="row form-group-sm">
            <div class="col-md-6 mt-3">
                <button class="btn mb-1 btn-primary" id="Kamus" style="background-color:orange;">Lihat Kamus Kriteria Resiko</button>
            </div>
        </div>
        <div class="row form-group-sm">
            <div class="col-md-6 mt-3">
                <button class="btn mb-1 btn-primary" id="Submit">Submit</button>
            </div>
        </div>

    </div>
</div>
<!-- #/ container -->

<input type="text" id="input_NoCAPA" value="@ViewBag.NoCAPA" hidden>


<script>
    var noCAPA = getQueryStrings()["NoCAPA"];
    var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
    var namaUser = '@Request.RequestContext.HttpContext.Session["NamaUser"]';
    var superiorName = '@Request.RequestContext.HttpContext.Session["SuperiorName"]';
    var dataPerbaikan, attachmentPerbaikan, dataPencegahan, attachmentPencegahan;
    var statuser = false;
    var stataction = false;
    var referenceID = getQueryStrings()["ReferenceID"];
    var tindakan = getQueryStrings()["Tindakan"]
    $('#input_NoCAPA').val(noCAPA);
    //function untuk ambil semua query string
    function getQueryStrings() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(document).ready(function () {
        if (tindakan == "Perbaikan") {
            $('#Perbaikan').attr("hidden", false);
            $('#txtPelaksanaPerbaikan').val(namaUser);
            $('#txtSuperiorPerbaikan').val(superiorName);
            getRootCausePerbaikan();
        }
        else
        {
            $('#txtPelaksanaPencegahan').val(namaUser);
            $('#txtSuperiorPencegahan').val(superiorName);
            $('#Pencegahan').attr("hidden", false);
            getRootCausePencegahan();
        }
        $('#btn_AddKajian').attr("disabled", true);
        $('#RootCause_KajianResikoDDL').attr("disabled", true);
        $('#AlasanTindakanPerbaikan').on('click',function () {


            $('#RootCause_KajianResikoDDL').empty();

            $('#RootCause_KajianResikoDDL').append(new Option($('#txtTindakanPerbaikan').val(), $('#txtTindakanPerbaikan').val()));
        });
        $('#AlasanTindakanPerbaikan').on('change', function () {
            if ($('#txtTindakanPerbaikanRev').val() != "" && $('#AlasanTindakanPerbaikan').val() != "") {
                $('#btn_AddKajian').attr("disabled", false);
            }
        });
        $('#AlasanDueDate').on('click', function () {
            $('#RootCause_KajianResikoDDL').empty();
            $('#RootCause_KajianResikoDDL').append(new Option($('#txtTindakanPerbaikan').val(), $('#txtTindakanPerbaikan').val()));
        });
        $('#AlasanDueDate').on('change', function () {
            if ($('#AlasanDueDate').val() != "" && $('#dueDatePerbaikanRev').val() != "") {
                $('#btn_AddKajian').attr("disabled", false);
            }
        });
        $('#AlasanDueDatePencegahan').on('click', function () {
            $('#RootCause_KajianResikoDDL').empty();
            $('#RootCause_KajianResikoDDL').append(new Option($('#txtTindakanPencegahan').val(), $('#txtTindakanPencegahan').val()));
        });
        $('#AlasanDueDatePencegahan').on('change', function () {
            if ($('#AlasanDueDatePencegahan').val() != "" && $('#dueDatePencegahanRev').val() != "") {
                $('#btn_AddKajian').attr("disabled", false);
            }
        });
        $('#AlasanTindakanPencegahan').on('click', function () {
            $('#RootCause_KajianResikoDDL').empty();

            $('#RootCause_KajianResikoDDL').append(new Option($('#txtTindakanPencegahan').val(), $('#txtTindakanPencegahan').val()));
        });
        $('#AlasanTindakanPencegahan').on('change', function () {
            if ($('#txtTindakanPencegahanRev').val() != "" && $('#AlasanTindakanPencegahan').val() != "") {
                $('#btn_AddKajian').attr("disabled", false);
            }
        });

        $('#Submit').click(function () {
            if (tindakan == "Perbaikan") {
                SubmitPerbaikan();
            }
            else
            {
                SubmitPencegahan();
            }
        });
    });


     function getRootCausePerbaikan() {
            var dto = {
                Kategori: "Cari Perbaikan",
                RecordID: referenceID
            }
            $.ajax({
                url: "FindCAPADetail",
                type: "POST",
                async: false,
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var result = JSON.parse(data);
                    dataPerbaikan = result[0];
                    var duedate = moment(dataPerbaikan.Due_Date);
                    $('#txtRootCausePerbaikan').val(dataPerbaikan.WhyDesc);
                    $('#txtTindakanPerbaikan').val(dataPerbaikan.Tindakan_Perbaikan);
                    $('#txtTindakanPerbaikan').prop("disabled", true);
                    $('#dueDatePerbaikan').val(duedate.format("YYYY-MM-DD"));
                    $('#dueDatePerbaikan').prop("disabled", true);
                    @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@

            }, error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
    }

    function getRootCausePencegahan(){
        var dto = {
            Kategori: "Cari Batal Pencegahan",
            RecordID: referenceID
        }
        $.ajax({
            url: "FindCAPADetail",
            type: "POST",
            async: false,
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                dataPencegahan = result[0];
                var duedate = moment(dataPencegahan.Due_Date);
                $('#txtRootCausePencegahan').val(dataPencegahan.WhyDesc);
                $('#txtTindakanPencegahan').val(dataPencegahan.Tindakan_Pencegahan);
                $('#txtTindakanPencegahan').prop("disabled", true);
                $('#dueDatePencegahan').val(duedate.format("YYYY-MM-DD"));
                @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function SubmitPerbaikan()
    {
        var tindakanPerbaikanRev = $('#txtTindakanPerbaikanRev').val();
        var alasanDueDate = $('#AlasanDueDate').val();
        var alasantindakanperbaikan = $('#AlasanTindakanPerbaikan').val();
        var dueDaterev = $('#dueDatePerbaikanRev').val();
        var dictlist = {
            Kategori: "Perubahan Perbaikan",
            RecordID: referenceID,
            tindakan: tindakanPerbaikanRev,
            alasan_tindakan: alasantindakanperbaikan,
            alasan_due_date: alasanDueDate,
            dueDate: dueDaterev,
            empID: nik,
            NoCAPA: noCAPA
        }
        var dto = {
            Model: dictlist
        }
        if ((tindakanPerbaikanRev.trim() != '' && alasantindakanperbaikan.trim() == '') || (tindakanPerbaikanRev.trim() == '' && alasantindakanperbaikan.trim() != '')) {
            swal('tindakan perbaikan revisi dan alasan perubahan wajib diisi!', {
                icon: "warning",
                buttons: false,
                timer: 1000,
            })
            return;
        }
        if ((dueDaterev != undefined && alasanDueDate == '') || (dueDaterev == undefined && alasanDueDate() != '')) {
            swal('due date revisi dan alasan perubahan due date wajib diisi!', {
                icon: "warning",
                buttons: false,
                timer: 1000,
            })
            return;
        }
        if (tindakanPerbaikanRev.trim() == "" && dueDaterev == undefined) {
            swal('tindakan perbaikan revisi atau due date revisi wajib diisi!', {
                icon: "warning",
                buttons: false,
                timer: 1000,
            })
            return;
        }
        if (valid == true) {
            $.ajax({
                url: "DynamicController?spname=SP_Update_Pelaksanaan",
                type: "POST",
                async: false,
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    Swal.fire(
                        'Berhasil',
                        'Perubahan berhasil di submit',
                        'success'
                    )
                    @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@

                }, error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }
        else
        {
            Swal.fire(
                'Maaf',
                'tindakan harus dikaji terlebih dahulu.',
                'warning'
            )
        }

    }


    function SubmitPencegahan() {
        var tindakanPencegahanRev = $('#txtTindakanPencegahanRev').val();
        var dueDateRev = $('#dueDatePencegahanRev').val();
        var alasanDueDate = $('#AlasanDueDatePencegahan').val();
        var alasantindakanpencegahan = $('#AlasanTindakanPencegahan').val();
        var dictlist = {
            Kategori: "Perubahan Pencegahan",
            RecordID: referenceID,
            tindakan: tindakanPencegahanRev,
            alasan_tindakan: alasantindakanpencegahan,
            alasan_due_date: alasanDueDate,
            dueDate: dueDateRev,
            empID: nik,
            NoCAPA: noCAPA
        }
        var dto = {
            Model: dictlist
        }
        if ((tindakanPencegahanRev.trim() != '' && alasantindakanpencegahan.trim() == '') || (tindakanPencegahanRev.trim() == '' && alasantindakanpencegahan.trim() != '')) {
            swal('tindakan pencegahan revisi dan alasan tindakan perbaikan wajib diisi!', {
                icon: "warning",
                buttons: false,
                timer: 1000,
            })
            return;
        }
        if ((dueDateRev != undefined && alasanDueDate == '') || (dueDateRev == undefined && alasanDueDate() != '')) {
            swal('due date revisi dan alasan perubahan due date wajib diisi!', {
                icon: "warning",
                buttons: false,
                timer: 1000,
            })
            return;
        }
        if (tindakanPencegahanRev.trim() == "" && dueDateRev == undefined) {
            swal('Semua field wajib diisi!', {
                icon: "warning",
                buttons: false,
                timer: 1000,
            })
            return;
        }
        if (valid == true) {
            $.ajax({
                url: "DynamicController?spname=SP_Update_Pelaksanaan",
                type: "POST",
                async: false,
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    Swal.fire(
                        'Berhasil',
                        'Perubahan berhasil di submit',
                        'success'
                    )
                    @* $('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@

                }, error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }
        else {
            Swal.fire(
                'Maaf',
                'Tindakan harus dikaji terlebih dahulu.',
                'warning'
            )
        }

    }
</script>


