
@{
    ViewBag.Title = "ApprovalPerubahanEvaluator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>

<div class="content-body">
    <!--Modal-->
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Pelaksana CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">

        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tindakan Perbaikan</h4>
                        <div>
                            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_Perbaikan">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Root Cause</th>
                                        <th>Nama Pelaksana</th>
                                        <th>Tindakan Perbaikan</th>
                                        <th>Tindakan Perbaikan Revisi</th>
                                        <th>Alasan Perubahan Tindakan Perbaikan</th>
                                        <th>Due Date</th>
                                        <th>Due Date Revisi</th>
                                        <th>Alasan Perubahan Due Date </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tindakan Pencegahan</h4>
                        <div>
                            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_Pencegahan">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Root Cause</th>
                                        <th>Nama Pelaksana</th>
                                        <th>Tindakan Pencegahan</th>
                                        <th>Tindakan Pencegahan Revisi</th>
                                        <th>Alasan Perubahan Tindakan Pencegahan</th>
                                        <th>Due Date</th>
                                        <th>Due Date Revisi</th>
                                        <th>Alasan Perubahan Due Date </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("KajianResikoPV")


    </div>
</div>
<!-- #/ container -->

<input type="text" id="input_NoCAPA" value="@ViewBag.NoCAPA" hidden>


<script>
    var noCAPA = getQueryStrings()["NoCAPA"];
    //var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
    var nik = "090500076";
    //var namaUser = '@Request.RequestContext.HttpContext.Session["NamaUser"]';
    var namaUser = 'DENNY IRAWAN';
    var tindakan = "Approval Perubahan";
    var superiorName = '@Request.RequestContext.HttpContext.Session["SuperiorName"]';
    var dataPerbaikan, attachmentPerbaikan, dataPencegahan, attachmentPencegahan;
    var statuser = false;
    var stataction = false;
    var laststate = false;
    var referenceID = getQueryStrings()["ReferenceID"];
    $('#input_NoCAPA').val(noCAPA);
    //function untuk ambil semua query string
    function getQueryStrings() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function checkUser()
    {
        var dictlist = {
            NoCAPA: noCAPA,
            Option: 4,
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                for (var i = 0; i < result.length; i++) {
                    var listuser = result[i].SupName;
                    if (listuser == nik) {
                        valid = true;
                        break;
                    }
                    else {
                        valid = false;
                    }
                }

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    $(document).ready(function () {

        $('#RootCause_KajianResikoDDL').attr('disabled', true);
        $('#btn_AddKajian').attr('disabled', true);
        GetTindakanPerbaikan();
        GetTindakanPencegahan();
        TableKajian();
        $('#Reject').click(function () {

            Reject();
        });

        $('#Approve').click(function () {

            Approve();
        });
    });

    function GetTindakanPerbaikan() {
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            Option: 19,
            Status_Perbaikan: "Perubahan Perbaikan"
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_Perbaikan').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "responsive": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyID" },
                        { "data": "PelaksanaName" },
                        { "data": "Tindakan_Perbaikan" },
                        { "data": "Tindakan_PerbaikanRev" },
                        { "data": "Alasan_Tindakan_Perbaikan"},
                        { "data": "tanggal" },
                        { "data": "tanggalRev" },
                        { "data": "Alasan_Due_Date" },
                        { "data": "Stat" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' id='ApprovePerb' class='btn btn-primary' onclick=ApprovePerbaikan(this) value='Approve'style='background-color:green; margin-bottom:15px;'/> <input type='button' id='DeletePerb' class='btn btn-primary' onclick=RejectPerbaikan(this) value='Reject'style='background-color:red;'/>"
                        },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function GetTindakanPencegahan() {
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            Option: 20,
            Status_Pencegahan: "Perubahan Pencegahan" 
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_Pencegahan').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,

                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyDesc" },
                        { "data": "PelaksanaName" },
                        { "data": "Tindakan_Pencegahan" },
                        { "data": "Tindakan_PencegahanRev" },
                        { "data": "Alasan_Tindakan_Pencegahan" },
                        { "data": "tanggal" },
                        { "data": "tanggalRev" },
                        { "data": "Alasan_Due_Date" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' id='ApprovePerb' class='btn btn-primary' onclick=ApprovePencegahan(this) value='Approve'style='background-color:green; margin-bottom:15px;'/> <input type='button' id='DeletePerb' class='btn btn-primary' onclick=RejectPencegahan(this) value='Reject'style='background-color:red;'/>"
                       },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],

                });

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function ApprovePerbaikan(button)
    {
        var row = $(button).closest("TR");
        var data = $('#Tbl_Perbaikan').DataTable().row(row).data();
        var id = data['RecordID'];
        var dictlist = {
            NoCAPA: noCAPA,
            RecordID: id,
            Option: 9,
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                Swal.fire(
                    'Approve!',
                    'Approve Berhasil',
                    'success'
                )
            }
        });
    }

    function RejectPerbaikan(button) {
        Swal.fire({
            title: 'Alasan Reject',
            text: "You won't be able to revert this!",
            type: 'warning',
            html: '<textarea id="txtReject" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Reject!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var reject = $('#txtReject').val();
                var row = $(button).closest("TR");
                var data = $('#Tbl_Perbaikan').DataTable().row(row).data();
                var id = data['RecordID'];
                var dictlist = {
                    NoCAPA: $('#QS_NoCAPA').val(),
                    Option: 5,
                    RecordID: id,
                    RejectReason: reject,
                    Empid: nik
                }
                var dto1 = {
                    Model: dictlist
                }
                if (reject != null && reject.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_FORM_Perubahan",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            Swal.fire(
                                'Rejected!',
                                'Reject Berhasil',
                                'success'
                            )
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {

                    Swal.fire(
                        'Error!',
                        'Alasan tidak boleh kosong.',
                        'error'
                    )
                }
            }
        })
    }
    function ApprovePencegahan(button) {
        var row = $(button).closest("TR");
        var data = $('#Tbl_Perbaikan').DataTable().row(row).data();
        var id = data['RecordID'];
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            RecordID: id,
            Option: 10,
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                Swal.fire(
                    'Approve!',
                    'Approve Berhasil',
                    'success'
                )
            }
        });
    }

    function RejectPencegahan(button) {
        Swal.fire({
            title: 'Alasan Reject',
            text: "You won't be able to revert this!",
            type: 'warning',
            html: '<textarea id="txtReject" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Reject!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var reject = $('#txtReject').val();
                var row = $(button).closest("TR");
                var data = $('#Tbl_Perbaikan').DataTable().row(row).data();
                var id = data['RecordID'];
                var dictlist = {
                    NoCAPA: $('#QS_NoCAPA').val(),
                    Option: 6,
                    RecordID: id,
                    RejectReason: reject,
                    Empid: nik
                }
                var dto1 = {
                    Model: dictlist
                }
                if (reject != null && reject.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_FORM_Perubahan",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            Swal.fire(
                                'Rejected!',
                                'Reject Berhasil',
                                'success'
                            )
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {

                    Swal.fire(
                        'Error!',
                        'Alasan tidak boleh kosong.',
                        'error'
                    )
                }
            }
        })
    }

    function TableKajian() {
        var dictlist = {
            NoCAPA: noCAPA,
            Option: 22,
            Stat:11,
            Status_Perbaikan: 'Perubahan Perbaikan',
            Status_Pencegahan: 'Perubahan Pencegahan'
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8', 
            success: function (data) {
                console.log(data);
                $('#Tbl_KajianResiko').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "Tindakan" },
                        { "data": "P_Kegagalan" },
                        { "data": "Spek" },
                        { "data": "Dampak" },
                        { "data": "Severity" },
                        { "data": "Penyebab" },
                        { "data": "M_Penyebab" },
                        { "data": "Likelihood" },
                        { "data": "M_PKegagalan_LMD" },
                        { "data": "Detectability" },
                        { "data": "RPN" },
                        {
                            "data": "RiskLevel",
                            "className": "riskLevel"
                        },
                        { "data": "Target" },
                        { "data": "M_PKegagalan" },
                        { "data": "Severity2" },
                        { "data": "P_MPenyebab" },
                        { "data": "Likelihood2" },
                        { "data": "P_MDPKegagalan" },
                        { "data": "Detectability2" },
                        { "data": "RPN2" },
                        {
                            "data": "RiskLevel2",
                            "className": "riskLevel2"
                        },
                        { "data": "FullName" },
                        { "data": "DueDate" },
                        { "data": "Lainnya" },
                        {
                            "data": null,
                            "defaultContent": "<button class='btn btn-danger delete' type='button' name='delete' onchange=''>Delete</button> ",
                            "visible": (!isHide) ? (true) : (false)
                        },
                    ],
                    "order": [[1, 'asc']],
                    "rowCallback": function (row, data) {
                        ColoredColumns(row, data.RiskLevel, "riskLevel");
                        ColoredColumns(row, data.RiskLevel2, "riskLevel2");
                    }
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }



</script>



