
@{
    ViewBag.Title = "KonfirmasiEfektivitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>KonfirmasiEfektivitas</h2>*@
<link href="~/Content/Scripts/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Konfirmasi Efektivitas CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Evaluator CAPA</h4>
                        <form>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Tanggal</label>
                                    <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Now.ToString("MM/dd/yyyy HH:mm")" readonly>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Requestor</label>
                                    <input class="form-control form-control-sm" type="text" id="input_Requestor" value="@Request.RequestContext.HttpContext.Session["FullName"]" readonly>
                                    <input class="form-control form-control-sm" type="text" id="input_Requestor_NIK" value="@Request.RequestContext.HttpContext.Session["NIK"]" hidden>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Nomor CAPA</label>
                                    <input class="form-control form-control-sm" type="text" id="input_NoCAPA" value="@Request.QueryString["NoCAPA"]" readonly>

                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Departemen</label>
                                    <input class="form-control form-control-sm" type="text" id="input_Departemen" value="@Request.RequestContext.HttpContext.Session["Departemen"]" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">View CAPA Page</h4>
                        <button class="btn btn-dark form-control col-sm-2" id="btn_ViewCAPA">View CAPA</button>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">View Bukti Page</h4>
                        <button class="btn btn-dark form-control col-sm-2" id="btn_ViewBukti">View Bukti</button>
                    </div>
                    @Html.Partial("RentangEfektivitas_PV")
                </div>

                @*<div class="card">
                        <div class="card-body">
                            <h4 class="card-title">View Bukti Page</h4>
                            <button class="btn btn-dark form-control col-sm-2" id="btn_ViewBukti">View Bukti</button>
                        </div>
                    </div>*@

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-12">
                                    <label class="m-t-40">
                                        Apakah terjadi penyimpangan serupa pada rentang waktu yang telah ditetapkan?
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="m-t-20" style="margin-left:15px;"> <b>Ya</b> </label>
                                <input type='radio' id="Devi_Yes" name="Devi_Radio" value="Yes" style="margin-left:15px;" disabled />
                                <label class="m-t-20" style="margin-left:15px;"> <b>Tidak</b> </label>
                                <input type='radio' id="Devi_No" name="Devi_Radio" value="no" style="margin-left:15px;" disabled />
                            </div>
                            <div class="row" id="Deviation">
                                <table class="table table-hover table-bordered zero-configuration" id="Tbl_Devi" hidden>
                                    <thead>
                                        <tr>
                                            <th>No CAPA</th>
                                            <th>Type</th>
                                            <th>Lampiran</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-12">
                                    <label class="m-t-40">
                                        Apakah ada keluhan pelanggan serupa pada rentang waktu yang telah ditetapkan?
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="m-t-20" style="margin-left:15px;"> <b>Ya</b> </label>
                                <input type='radio' id="CCC_Yes" name="CCC_Radio" value="Yes" style="margin-left:15px;" disabled />
                                <label class="m-t-20" style="margin-left:15px;"> <b>Tidak</b> </label>
                                <input type='radio' id="CCC_No" name="CCC_Radio" value="No" style="margin-left:15px;" disabled />
                            </div>
                            <div class="row">
                                <table class="table table-hover table-bordered zero-configuration" id="Tbl_CCC" hidden>
                                    <thead>
                                        <tr>
                                            <th>No CAPA</th>
                                            <th>Type</th>
                                            <th>Lampiran</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-12">
                                    <label class="m-t-40">
                                        Apakah ada temuan serupa pada rentang waktu yang telah ditetapkan?
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <label class="m-t-20" style="margin-left:15px;"> <b>Ya</b> </label>
                                <input type='radio' id="File_Yes" name="File_Radio" style="margin-left:15px;" value="Yes" disabled />
                                <label class="m-t-20" style="margin-left:15px;"> <b>Tidak</b> </label>
                                <input type='radio' id="File_No" name="File_Radio" style="margin-left:15px;" value="No" disabled />
                            </div>
                            <div class="row">
                                <table class="table table-hover table-bordered zero-configuration" id="Tbl_Lampiran" hidden>
                                    <thead>
                                        <tr>
                                            <th>No CAPA</th>
                                            <th>Type</th>
                                            <th>Lampiran</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Verifikasi Efektivitas</h4>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="radio-inline mr-5">
                                        <input type="radio" name="Efektivitas" value="Efektif" id="isEfektif"> EFEKTIF
                                    </label>
                                    <label class="radio-inline mr-5">
                                        <input type="radio" name="Efektivitas" value="Tidak Efektif"> TIDAK EFEKTIF
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group-sm mb-3">
                            <div class="col-md-6">
                                <label class="m-t-20">Catatan<span style="color: red">*</span></label>
                                <textarea type="text" class="form-control" id="TxtCatatan" placeholder="Notes*"></textarea>
                            </div>
                        </div>
                        <div class="row form-group-sm mb-3" id="Div_StatusCARPAR" hidden>
                            <div class="col-md-6">
                                <label class="m-t-20">Status CAR-PAR</label>
                                <div class="rounded-button">
                                    <button type="button" class="btn mb-1 btn-rounded btn-success disabled" id="StatusBadge" style="pointer-events: none">Closed</button>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group" style="float: left">
                            <div class="col-md-3">
                                <button type="button" id="btn_Submit" style="background-color: green;" class="btn btn-primary mb-2">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- #/ container -->
    </div>
</div>

@*JQuery Library*@
@*<script src="../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="../plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>*@
<script src="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.js" defer></script>
<script src="~/Content/Scripts/plugins/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/Content/Scripts/plugins/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/gojs/release/go-debug.js" defer></script>
<script src="~/Content/Scripts/plugins/block-ui/jquery.blockUI.js" defer></script>

<script>
    var CurrentStatsID = 9;
    function DeviationTable() {
        $.ajax({
            url: 'GetData',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 1,
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Type: 'DEVIATION'
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#Tbl_Devi").prop("hidden", true);
                if (JSON.parse(data).length > 0) {
                    $("#Tbl_Devi").prop("hidden", false);
                    $("#Devi_Yes").prop("checked", true);
                    var t = $('#Tbl_Devi').DataTable({
                        "pageLength": 10,
                        "responsive": true,
                        "info": false,
                        "paging": false,
                        "lengthChange": true,
                        "searching": false,
                        "data": JSON.parse(data),
                        "select": true,
                        "bDestroy": true,
                        "scrollCollapse": true,
                        "columns": [
                            { "data": "NO_CAPA_FK" },
                            { "data": "Type" },
                            { "data": "ValueEvaluasi" }
                        ],
                        "order": [[1, 'asc']]
                    });
                    return;
                }
                $("#Devi_No").prop("checked", true);
                return;
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function CCCTable() {
        $.ajax({
            url: 'GetData',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 1,
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Type: 'CCC'
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#Tbl_CCC").prop("hidden", true);
                if (JSON.parse(data).length > 0) {
                    $("#Tbl_CCC").prop("hidden", false);
                    $("#CCC_Yes").prop("checked", true);
                    var t = $('#Tbl_CCC').DataTable({
                        "pageLength": 10,
                        "responsive": true,
                        "info": false,
                        "paging": false,
                        "lengthChange": true,
                        "searching": false,
                        "data": JSON.parse(data),
                        "select": true,
                        "bDestroy": true,
                        "scrollCollapse": true,
                        "columns": [
                            { "data": "NO_CAPA_FK" },
                            { "data": "Type" },
                            { "data": "ValueEvaluasi" }
                        ],
                        "order": [[1, 'asc']]
                    });
                    return;
                }
                $("#CCC_No").prop("checked", true);
                return;
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function LampiranTable() {
        $.ajax({
            url: 'GetData',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 1,
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Type: 'Lampiran Penilaian'
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#Tbl_Lampiran").prop("hidden", true);
                if (JSON.parse(data).length > 0) {
                    $("#Tbl_Lampiran").prop("hidden", false);
                    $("#File_Yes").prop("checked", true);
                    var t = $('#Tbl_Lampiran').DataTable({
                        "pageLength": 10,
                        "responsive": true,
                        "info": false,
                        "paging": false,
                        "lengthChange": true,
                        "searching": false,
                        "data": JSON.parse(data),
                        "select": true,
                        "bDestroy": true,
                        "scrollCollapse": true,
                        "columns": [
                            { "data": "NO_CAPA_FK" },
                            { "data": "Type" },
                            { "data": "Nama_File" },
                            {
                                "data": "ValueEvaluasi",
                                "className": "center",
                                "render": function (url, type, full) {
                                    return '<a href="' + url + '"><i class="fa fa-cloud-download" style="text-align: center" aria-hidden="true"></i></a>'
                                }
                            }
                        ],
                        "order": [[1, 'asc']]
                    });
                    return;
                }
                $("#File_No").prop("checked", true);
                return;
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function checkStatusCAPA() {
        $.ajax({
            url: '../PIC/CheckStatusCAPA',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Option: 14
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                var result = JSON.parse(data)[0];
                var valid = (result.STATUS_ID == CurrentStatsID) ? (true) : (false); // jika status CAPA = 2 maka, hide = false , sebaliknya.
                if (!valid) //Jika hide true maka di hidden.
                    window.location.href = '/PendingTask/TaskList';

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    $(document).ready(function () {
        checkStatusCAPA();
        DeviationTable();
        CCCTable();
        LampiranTable();
        $('#btn_ViewBukti').click(function () {
            window.open('../Koordinator/VerifikasiPelaksanaCAPA?NoCAPA=' + $('#input_NoCAPA').val() + '&Type=View');
        });

        $('#btn_ViewCAPA').click(function () {
            window.open('../Koordinator/CreateCAPA?NoCAPA=' + $('#input_NoCAPA').val());
        });

        $('#btn_Submit').click(function () {
            $.blockUI();
            if ($('#TxtCatatan').val() == "" || $('input[name="Efektivitas"]:checked').val() == undefined) {
                Swal.fire(
                    'Maaf',
                    'Mohon untuk mengisi field yang tersedia.',
                    'warning'
                );
                return;
            }
            
            $.ajax({
                url: '../AtasanPIC/SubmitApproval',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    Model: {
                        NO_CAPA: $('#input_NoCAPA').val(),
                        Create_By: $('#input_Requestor_NIK').val(),
                        CurrentStatusID: 8,
                        Status: $('input[name="Efektivitas"]:checked').val(),
                        Reject_Reason: $('#TxtCatatan').val(),
                        Option: 4
                    }
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var result = JSON.parse(data);
                    if (!result[0].IS_VALID) {
                        $.unblockUI();
                        Swal.fire(
                            'Maaf',
                            'Mohon untuk mengisi field yang tersedia.',
                            'warning'
                        );
                        return;
                    }

                    Swal.fire({
                        title: 'Success!',
                        text: "Berhasil di submit.",
                        type: 'success',
                        showConfirmButton: false,
                        timer: 2000,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Yes'
                    }).then((result) => {                        
                        //$.unblockUI();
                        window.location.href = '../PendingTask/TaskList';                        
                    })


                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });


        });

        var countYes = 0;
        var countNo = 0;
        $('input[name="Efektivitas"]').click(function () {
            if ($('input[name="Efektivitas"]:checked').val() == 'Efektif') {
                $("#Div_StatusCARPAR").prop('hidden', false);
                $('#StatusBadge').removeClass(['btn-success', 'btn-danger']).addClass('btn-success');
                $('#StatusBadge').text("Closed");
                countNo = 0;
                countYes++;
            } else {
                $("#Div_StatusCARPAR").prop('hidden', false);
                $('#StatusBadge').removeClass(['btn-success', 'btn-danger']).addClass('btn-danger');
                $('#StatusBadge').text("Closed with Initiate New CAPA");
                countYes = 0;
                countNo++;
            }
            if (countYes == 2 || countNo == 2) {
                countYes = 0;
                countNo = 0;
                $('input[name="Efektivitas"]').prop("checked", false);
                $("#Div_StatusCARPAR").prop('hidden', true);
                $('#StatusBadge').removeClass(['btn-success', 'btn-danger']);
            }

        });
    });
</script>