
@{
    ViewBag.Title = "ReviewCAPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Review CAPA</h4>
                        <form>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Tanggal</label>
                                    <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Now.ToString("MM/dd/yyyy HH:mm")" disabled readonly>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Evaluator</label>
                                    <input class="form-control form-control-sm" type="text" id="input_Requestor" value="@Request.RequestContext.HttpContext.Session["FullName"]" disabled readonly>
                                    <input class="form-control form-control-sm" type="text" id="input_RequestorNIK" value="@Request.RequestContext.HttpContext.Session["NIK"]" hidden>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Nomor CAPA</label>
                                    <input class="form-control form-control-sm" type="text" id="input_NoCAPA" value="@Request.QueryString["NoCAPA"]" disabled readonly />
                                    <input type="text" class="btn btn-primary" id="QS_NoCAPA" value="@Request.QueryString["NoCAPA"]" hidden />
                                    <input class="form-control form-control-sm" type="text" id="input_REG_ID" value="@Request.QueryString["REG"]" hidden />
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Departemen</label>
                                    <input class="form-control form-control-sm" type="text" id="input_Departemen" value="@Request.RequestContext.HttpContext.Session["Departemen"]" disabled readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(Request.QueryString["NoCAPA"]))
                {
                    @Html.Partial("LoadData_PV")
                }
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> Rentang Efektivitas Tindakan Perbaikan</h4>
                        <table class="table table-hover table-bordered zero-configuration" id="Tbl_RentangPerbaikan" style="color: black">
                            <thead>
                                <tr>
                                    <th>RecordID</th>
                                    <th>No CAPA</th>
                                    <th>Nama Personil</th>
                                    <th>Tindakan Perbaikan</th>
                                    <th>Due Date</th>
                                    <th>Rentang</th>
                                    <th style="width: 120px;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="Table_RentangPerbaikan">
                            </tbody>
                        </table>
                    </div>
                </div>

                @Html.Partial("ApprovalPV")

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> Rentang Efektivitas Tindakan Pencegahan</h4>
                        <table class="table table-hover table-bordered zero-configuration" id="Tbl_RentangPencegahan" style="color: black">
                            <thead>
                                <tr>
                                    <th>RecordID</th>
                                    <th>No CAPA</th>
                                    <th>Nama Personil</th>
                                    <th>Tindakan Pencegahan</th>
                                    <th>Due Date</th>
                                    <th>Rentang</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="Table_RentangPencegahan">
                            </tbody>
                        </table>

                        <div class="row">

                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" id="btn_Submit">Submit</button>
                            </div>
                            @*<div class="col-md-2">
                          <button type="button" class="btn btn-primary" id="btn_Cancel" style="background-color:orange;">Cancel CAPA</button>
                    </div>*@
                            <div class="col-md-2">
                                <input type="button" class="btn btn-danger" id="btn_CancelCAPA" value="Cancel CAPA" data-toggle="modal" data-target="#Cancel_Page" style="background-color: orange" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.js" defer></script>
<script src="~/Content/Scripts/plugins/block-ui/jquery.blockUI.js" defer></script>

<script>

    var isUtama = false;
    var CurrentStatsID = 5;

    function checkStatusCAPA() {
        var result = $.ajax({
            url: '../AtasanPIC/SubmitApproval',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Create_By: '@Request.RequestContext.HttpContext.Session["NIK"]',
                    CurrentStatusID: CurrentStatsID,
                    Status: "Approve",
                    Reject_Reason: '-',
                    Option: 9
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false
        }).responseText;
        return JSON.parse(JSON.parse(result));
    }

    function checkEvaluatorCAPA() {
        $.ajax({
            url: '../AtasanPIC/SubmitApproval',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Create_By: '@Request.RequestContext.HttpContext.Session["NIK"]',
                    CurrentStatusID: CurrentStatsID,
                    Status: "Approve",
                    Reject_Reason: '-',
                    Option: 10
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                //console.log(result);
                $.each(result, function (key, value) {
                    //$('#btn_Submit').prop('hidden', true);
                    if (value.Emp == '@Request.RequestContext.HttpContext.Session["NIK"]') {
                        //$('#btn_Submit').prop('hidden', false);
                        if (value.IsUtama) {
                            isUtama = value.IsUtama;
                        }
                        GetTindakanPerbaikan();
                        GetTindakanPencegahan();
                        return false;
                    }
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function GetRentang() {
        $.ajax({
            url: 'GetData',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 6,
                    NO_CAPA: $('#input_NoCAPA').val()
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumberPerbaikan = 0, NumberPencegahan = 0;
                $.each(JSON.parse(data), function (key, value) {
                    if (value.Tipe == "Perbaikan") {
                        NumberPerbaikan++;
                        $('#Table_RentangPerbaikan').append('<tr>'
                            + '<td>' + NumberPerbaikan + '</td>'
                            + '<td>' + value.Tindakan + '</td>'
                            + '<td>' + value.Rentang + ' Bulan</td>'
                            + '</tr > ');
                    } else {
                        NumberPencegahan++;
                        $('#Table_RentangPencegahan').append('<tr>'
                            + '<td>' + NumberPencegahan + '</td>'
                            + '<td>' + value.Tindakan + '</td>'
                            + '<td>' + value.Rentang + ' Bulan</td>'
                            + '</tr > ');
                    }
                });
                var dtAttr = {
                    "pageLength": 10,
                    "responsive": true,
                    "info": false,
                    "paging": false,
                    "lengthChange": true,
                    "searching": false,
                    "processing": true,
                    "selecRequest": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                }

                $('#Tbl_RentangPerbaikan').DataTable(dtAttr);
                $('#Tbl_RentangPencegahan').DataTable(dtAttr);
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function getDDL() {
        var dictlist = {
            Option: 13
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: '../Koordinator/DynamicController?spname=[dbo].[SP_SHOW_DDL]',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Models: dto
            }),
            contentType: 'applicRequesttQueryStringueryStringtringion/json; charset=utf-8',
            success: function (data) {
                $('#RentangPerbaikan_DDL').empty();
                $('#RentangPencegahan_DDL').empty();
                $.each(JSON.parse(data), function (key, entry) {
                    $('#RentangPerbaikan_DDL').append($('<option></option>').attr('value', entry.RentangValue).text(entry.RentangDesc));
                    $('#RentangPencegahan_DDL').append($('<option></option>').attr('value', entry.RentangValue).text(entry.RentangDesc));
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function GetTindakanPerbaikan() {
        var counts = 0;
        var dictlist = {
            NO_CAPA: $('#input_NoCAPA').val(),
            Option: 5,
            CurrentStatusID: CurrentStatsID,
            Create_By: ('@Request.QueryString.Get("StatsID")' === '8') ? ("") : ('@Request.RequestContext.HttpContext.Session["NIK"]')
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_APPROVAL_CAPA',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                //console.log(result)
                var table = $('#Tbl_RentangPerbaikan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,
                    "autoWidth": false,
                    "columns": [
                        { "data": "RecordID"},
                        { "data": "NoCAPA_FK" },
                        { "data": "Nama_Personil" },
                        { "data": "Tindakan_Perbaikan" },
                        { "data": "DueDate" },
                        {
                            "data": "Rentang",
                            "render": function (data, type, row, meta) {
                                var rentang;
                                var valrentang = data;
                                if (isUtama) {
                                    rentang = $("<select class='form-control' style='padding:0px;'></select>");
                                    for (var i = 3; i <= 12; i += 3) {
                                        if (i != 9) {
                                            var option = $("<option />");
                                            option.html(i + " Bulan");
                                            option.val(i);
                                            rentang.append(option);
                                            if (i == valrentang) {
                                                option.attr("selected", "selected")
                                                rentang.attr("disabled", true);
                                            }
                                        }
                                    }
                                } else {
                                    rentang = (valrentang == null) ? ($("<td value='0'>Kosong</td>")) : ($("<td value=" + valrentang + ">" + valrentang + " Bulan</td>"));
                                }

                                return rentang[0].outerHTML;
                            }
                        },
                        {
                            "data": "Status_ID",
                            "render": function (data, type, row, meta) {
                                if (data != null) {

                                    //if (isUtama) {
                                    //    if (data.Rentang != null)
                                    //        return "<button type='button' id='Perbaikan' class='btn btn-primary add' style='background-color:green;'>Add</button><button type='button' id='Perbaikan' class='btn btn-primary reject' style='background-color:red;'>Reject</button>";
                                    //    else if (data === 1)
                                    //        return '<img id="imgReject" src="../Content/Images/rejected.png" style="width: 80px"/>';
                                    //    else
                                    //        return '<img id="imgApprove" src="../Content/Images/approveHijau.png" style="width: 80px"/>';
                                    //} else {
                                    if (isUtama) {
                                        //if (data === true && result[counts].StatusDetail === 6)
                                        if (data === true)
                                            return '<img id="imgApprove" src="../Content/Images/approveHijau.png" style="width: 80px"/>';
                                        else if (result[meta.row].StatusDetail === 1)
                                            return '<img id="imgReject" src="../Content/Images/rejected.png" style="width: 80px"/>';
                                        else
                                            return "<button type='button' id='Perbaikan' class='btn btn-primary approve' style='background-color:green;width:60px; margin-bottom:5px'>Approve</button><button type='button' id='Perbaikan' class='btn btn-primary reject' style='background-color:red;width:60px; margin-bottom:5px'>Reject</button>";
                                    } else {
                                        if (data === false) {
                                            if (result[meta.row].Status_ID === false && result[meta.row].StatusDetail === 5 && result[meta.row].Rentang != 0) {
                                                return "<button type='button' id='Perbaikan' class='btn btn-primary approve' style='background-color:green;width:60px; margin-bottom:5px'>Approve</button><button type='button' id='Perbaikan' class='btn btn-primary reject' style='background-color:red;width:60px;'>Reject</button>";
                                            }
                                            else if (result[meta.row].StatusDetail === 1) {
                                                return '<img id="imgReject" src="../Content/Images/rejected.png" style="width: 80px"/>';
                                            }
                                            else {
                                                return "<td>Waiting Evaluator Utama Input Rentang</td>";
                                            }
                                        }
                                        else if (data === true) {
                                            return '<img id="imgApprove" src="../Content/Images/approveHijau.png" style="width: 80px"/>';
                                        }

                                    }
                                    //}
                                    counts++;
                                }

                            }
                        }


                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [6],
                            "width": "80px"
                        }
                    ],
                    "order": [[1, 'asc']],

                });


            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function GetTindakanPencegahan() {
        var counts = 0;
        var dictlist = {
            NO_CAPA: $('#input_NoCAPA').val(),
            Option: 6,
            CurrentStatusID: CurrentStatsID,
            Create_By: ('@Request.QueryString.Get("StatsID")' === '8') ? ("") : ('@Request.RequestContext.HttpContext.Session["NIK"]')
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_APPROVAL_CAPA',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                //console.log(result);
                var table = $('#Tbl_RentangPencegahan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,
                    "autoWidth" : false,
                    "columns": [
                        { "data": "RecordID"},
                        { "data": "NoCAPA_FK" },
                        { "data": "Nama_Personil" },
                        { "data": "Tindakan_Pencegahan" },
                        { "data": "DueDate" },
                        {
                            "data": "Rentang",
                            "render": function (data, type, row, meta) {
                                var rentang;
                                var valrentang = data;
                                if (isUtama) {
                                    rentang = $("<select class='form-control' style='padding:0px;'></select>");
                                    for (var i = 3; i <= 12; i += 3) {
                                        if (i != 9) {
                                            var option = $("<option />");
                                            option.html(i + " Bulan");
                                            option.val(i);
                                            rentang.append(option);
                                            if (i == valrentang) {
                                                option.attr("selected", "selected")
                                                rentang.attr("disabled", true);
                                            }
                                        }
                                    }
                                } else {
                                    rentang = (valrentang == null) ? ($("<td value='0'>Kosong</td>")) : ($("<td value=" + valrentang + ">" + valrentang + " Bulan</td>"));
                                }

                                return rentang[0].outerHTML;
                            }
                        },

                        {
                            "data": "Status_ID",
                            "render": function (data, type, row, meta) {
                                if (data != null) {

                                    //if (isUtama) {
                                    //    if (data.Rentang != null)
                                    //        return "<button type='button' id='Perbaikan' class='btn btn-primary add' style='background-color:green;'>Add</button><button type='button' id='Perbaikan' class='btn btn-primary reject' style='background-color:red;'>Reject</button>";
                                    //    else if (data === 1)
                                    //        return '<img id="imgReject" src="../Content/Images/rejected.png" style="width: 80px"/>';
                                    //    else
                                    //        return '<img id="imgApprove" src="../Content/Images/approveHijau.png" style="width: 80px"/>';
                                    //} else {

                                        //if (isUtama) {
                                        //    if (result[meta.row].Status_ID === false && result[meta.row].StatusDetail === 5)
                                        //        return "<button type='button' id='Pencegahan' class='btn btn-primary approve' style='background-color:green;'>Approve</button><button type='button' id='Pencegahan' class='btn btn-primary reject' style='background-color:red;'>Reject</button>";
                                        //    else if (result[meta.row].StatusDetail === 1)
                                        //        return '<img id="imgReject" src="../Content/Images/rejected.png" style="width: 80px"/>';
                                        //    else
                                        //        return '<img id="imgApprove" src="../Content/Images/approveHijau.png" style="width: 80px"/>';
                                        //} else {
                                        //    if (result[meta.row].Status_ID === false && result[meta.row].StatusDetail === 5 && result[meta.row].Rentang != 0)
                                        //        return "<button type='button' id='Pencegahan' class='btn btn-primary approve' style='background-color:green;'>Approve</button><button type='button' id='Pencegahan' class='btn btn-primary reject' style='background-color:red;'>Reject</button>";
                                        //    else if (result[meta.row].StatusDetail === 1)
                                        //        return '<img id="imgReject" src="../Content/Images/rejected.png" style="width: 80px"/>';
                                        //    else if (result[meta.row].Status_ID === true)
                                        //        return '<img id="imgApprove" src="../Content/Images/approveHijau.png" style="width: 80px"/>';
                                        //    else
                                        //        return "<td>Waiting Evaluator Utama Input Rentang</td>";
                                        //}
                                        //counts++;

                                    if (isUtama) {
                                        if (data === true)
                                            return '<img id="imgApprove" src="../Content/Images/approveHijau.png" style="width: 80px"/>';
                                        else if (result[meta.row].StatusDetail === 1)
                                            return '<img id="imgReject" src="../Content/Images/rejected.png" style="width: 80px"/>';
                                        else
                                            return "<button type='button' id='Pencegahan' class='btn btn-primary approve' style='background-color:green;width:60px; margin-bottom:5px'>Approve</button><button type='button' id='Pencegahan' class='btn btn-primary reject' style='background-color:red;width:60px;'>Reject</button>";
                                    } else {
                                        if (data === false) {
                                            if (result[meta.row].Status_ID === false && result[meta.row].StatusDetail === 5 && result[meta.row].Rentang != 0) {
                                                return "<button type='button' id='Pencegahan' class='btn btn-primary approve' style='background-color:green;width:60px; margin-bottom:5px'>Approve</button><button type='button' id='Pencegahan' class='btn btn-primary reject' style='background-color:red;width:60px;'>Reject</button>";
                                            }
                                            else if (result[meta.row].StatusDetail === 1) {
                                                return '<img id="imgReject" src="../Content/Images/rejected.png" style="width: 80px"/>';
                                            }
                                            else {
                                                return "<td>Waiting Evaluator Utama Input Rentang</td>";
                                            }
                                        }
                                        else if (data === true) {
                                            return '<img id="imgApprove" src="../Content/Images/approveHijau.png" style="width: 80px"/>';
                                        }

                                    }
                                    counts++;
                                }
                            }

                     }],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [6],
                            "width": "80px"
                        }
                    ],
                    "order": [[1, 'asc']],

                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function getTable(id) {
        checkStatusCAPA();
        GetTindakanPerbaikan();
        GetTindakanPencegahan();
    }

    function Cancel() {
        Swal.fire({
            title: 'Alasan Cancel',
            text: "You won't be able to revert this!",
            icon: 'warning',
            html: '<textarea id="txtCancel" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: 'green',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Submit',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var cancel = $('#txtCancel').val();
                var dictlist = {
                    NoCAPA: $('#input_NoCAPA').val(),
                    Option: 9,
                    CancelReason: cancel,
                    Creator: '@Request.RequestContext.HttpContext.Session["NIK"]'
                }
                var dto1 = {
                    Model: dictlist
                }
                if (cancel != null && cancel.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_SHOW_EVALUATOR_DDL",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            Swal.fire({
                                title: "Cancelled!",
                                text: "Cancel Berhasil",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1000,
                            })

                            $.blockUI();
                            $.ajax({
                                url: 'SubmitApproval',
                                type: 'post',
                                data: JSON.stringify({
                                    Model: {
                                        NO_CAPA: $('#QS_NoCAPA').val(),
                                        Temp_Status: 13,
                                        EmpID: $('#input_RequestorNIK').val()
                                    }
                                }),
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                    window.location.href = '../PendingTask/TaskList';
                                },
                                error: function (ex) {
                                    alert(JSON.stringify(ex));
                                }
                            });
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {
                    Swal.fire({
                        title: "Error!",
                        text: "Alasan tidak boleh kosong.",
                        icon: "error",
                        showConfirmButton: false,
                        timer: 1000,
                    })

                }


            }
        })


    }

    function Approval(event, option) {
        $.blockUI();
        var rows = $(event).closest('tr');
        var rentang = $("TD", rows).eq(4).find("select").val();
        var data = $('#Tbl_Rentang' + $(event).attr("id")).DataTable().row(rows).data();
        $.ajax({
            url: '../AtasanPIC/SubmitApproval',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Create_By: '@Request.RequestContext.HttpContext.Session["NIK"]',
                    CurrentStatusID: CurrentStatsID,
                    Status: "Approve",
                    Reject_Reason: '-',
                    Option: option,
                    RecordID: $('#Tbl_Rentang' + $(event).attr("id")).DataTable().row(rows).data().RecordID,
                    Rentang: rentang,
                    Type: $(event).attr("id")
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data === "unauthorized") {
                    return window.location.replace('../Login');
                }
                Swal.fire({
                    title :'Success!',
                    text: 'Tindakan berhasil di Approved.',
                    icon: 'success',
                    timer: 2000,
                    showConfirmButton : false
                }).then(() => {
                    $.unblockUI();
                    getTable($(event).attr("id"));
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function Rejection(event, option, alasan) {
        var rows = $(event).closest('tr');
        var data = $('#Tbl_Rentang' + $(event).attr("id")).DataTable().row(rows).data();

        $.ajax({
            url: '../AtasanPIC/SubmitApproval',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Create_By: '@Request.RequestContext.HttpContext.Session["NIK"]',
                    CurrentStatusID: CurrentStatsID,
                    Status: "Reject",
                    Reject_Reason: alasan,
                    Option: option,
                    RecordID: $('#Tbl_Rentang' + $(event).attr("id")).DataTable().row(rows).data().RecordID,
                    Type: $(event).attr("id")
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data === "unauthorized") {
                    return window.location.replace('../Login');
                }
                Swal.fire({
                    title: 'Success!',
                    text: 'Semua Tindakan berhasil di Rejected.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000
                }).then(() => {
                    $.blockUI();
                    window.location.href = '../PendingTask/TaskList';
                });
                //$.ajax({
                //    url: 'SubmitApproval',
                //    type: 'post',
                //    data: JSON.stringify({
                //        Model: {
                //            NO_CAPA: $('#input_NoCAPA').val(),
                //            Temp_Status: 1,
                //            EmpID: $('#input_RequestorNIK').val()
                //        }
                //    }),
                //    dataType: 'json',
                //    contentType: 'application/json; charset=utf-8',
                //    success: function (data) {
                //        Swal.fire({
                //            title: 'Success!',
                //            text: 'Semua Tindakan berhasil di Rejected.',
                //            type: 'success',
                //            showConfirmButton: false,
                //            timer: 2000
                //        }).then(() => {
                //            $.blockUI();
                //            window.location.href = '../PendingTask/TaskList';
                //        });
                //    },
                //    error: function (ex) {
                //        alert(JSON.stringify(ex));
                //    }
                //});
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    @*function Addition(event, option) {
        var rows = $(event).closest('tr');
        var data = $('#Tbl_Rentang' + $(event).attr("id")).DataTable().row(rows).data();
        $.ajax({
            url: '/AtasanPIC/SubmitApproval',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Create_By: '@Request.RequestContext.HttpContext.Session["NIK"]',
                    CurrentStatusID: CurrentStatsID,
                    Status: "Add" + $(event).attr("id"),
                    Reject_Reason: '-',
                    Option: option,
                    RecordID: $('#Tbl_Rentang' + $(event).attr("id")).DataTable().row(rows).data().RecordID
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                getTable($(event).attr("id"));
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }*@

    $(document).ready(function () {
           //console.log('@Request.QueryString.Get("StatsID")' != '8')
        $('#div_Buttons').prop('hidden', true);
        if ('@Request.QueryString.Get("StatsID")' != '8') {
            getDDL();
            checkEvaluatorCAPA();
        } else {
            $('#btn_Submit').prop('hidden', true);
            $('#btn_Cancel').prop('hidden', true);
            GetTindakanPerbaikan();
            GetTindakanPencegahan();
        }


        $(document).on("click", "#Tbl_RentangPerbaikan button.approve", function () {
            var option = 7 // option in SP_APPROVAL_CAPA
            Swal.fire({
                title: 'Apakah anda yakin?',
                text: "Tindakan yang di-approve tidak dapat dikembalikan lagi.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    Approval(this, option);
                }
            });
        });

        $(document).on("click", "#Tbl_RentangPerbaikan button.reject", function () {
            var option = 7 // option in SP_APPROVAL_CAPA
            Swal.fire({
                title: 'Alasan Reject',
                input: 'textarea',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                showConfirmButton: true
            }).then((result) => {
                if (!result.dismiss) {
                    if (result.value != "") {
                        var alasan = result.value;
                         Rejection(this, option, alasan);
                    }
                    else {
                        Swal.fire({
                            title: 'Warning',
                            text: 'Mohon berikan alasan reject.',
                            icon: 'warning',
                            timer: 2000,
                            showConfirmButton: false
                        })
                    }
                }
            });
        });

        $(document).on("click", "#Tbl_RentangPencegahan button.approve", function () {
            var option = 7 // option in SP_APPROVAL_CAPA
            Swal.fire({
                title: 'Apakah anda yakin?',
                text: "Tindakan yang di-approve tidak dapat dikembalikan lagi.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    Approval(this, option);
                }
            });
        });

        $(document).on("click", "#Tbl_RentangPencegahan button.reject", function () {
            var option = 7 // option in SP_APPROVAL_CAPA
            Swal.fire({
                title: 'Alasan Reject',
                input: 'textarea',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (!result.dismiss) {
                    if (result.value != "") {
                        var alasan = result.value;
                        Rejection(this, option, alasan);
                    }
                    else {
                        Swal.fire({
                            title: 'Warning',
                            text: 'Mohon berikan alasan reject.',
                            icon: 'warning',
                            timer: 2000,
                            showConfirmButton: false
                        })
                    }
                }
            });
        });

        //$(document).on("click", "#Tbl_RentangPerbaikan button.add", function () {
        //    var option = 11 // option in SP_APPROVAL_CAPA
        //    Addition(this, option);
        //});

        //$(document).on("click", "#Tbl_RentangPencegahan button.add", function () {
        //    var option = 11 // option in SP_APPROVAL_CAPA
        //    Addition(this, option);
        //});



        $('#btn_Submit').click(function () {
            $.blockUI();
            var status = checkStatusCAPA();
            if (status[0].IsApproved) {
                $.ajax({
                    url: '../AtasanPIC/SubmitApproval',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify({
                        Model: {
                            NO_CAPA: $('#input_NoCAPA').val(),
                            Create_By: '@Request.RequestContext.HttpContext.Session["NIK"]',
                            CurrentStatusID: CurrentStatsID,
                            Status: 'Approve',
                            Reject_Reason: '-',
                            Option: 1
                        }
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data === "unauthorized") {
                            return window.location.href = '../Login';
                        }

                        if (JSON.parse(data)[0].VALID == "VALID") {
                            Swal.fire({
                                title: 'Success',
                                text: 'CAPA berhasil di Submit.',
                                icon: 'success',
                                timer: 2000,
                                showConfirmButton: false
                            }).then(function (result) {
                                window.location.href = '../PendingTask/TaskList';
                            });
                        }
                        else {
                            $.unblockUI();
                            Swal.fire({
                                title: 'Maaf',
                                text: 'CAPA ini sudah pernah di Submit.',
                                icon: 'warning',
                                timer: 2000,
                                showConfirmButton: false
                            })
                        }
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });
            } else {
                $.unblockUI();
                Swal.fire({
                    title: 'Maaf',
                    text: 'Mohon untuk Approve semua Tindakan terlebih dahulu.',
                    icon: 'error',
                    timer: 2000,
                    showConfirmButton: false
                })
            }
        });

        //$('#btn_Cancel').click(function () {
        //    Cancel();
        //});

        $('#btn_CancelCAPA').click(function () {
            $('#Cancel_Page').removeAttr("hidden");
        });

        $('#btn_RejectCAPA').click(function () {
            $('#Reject_Page').removeAttr("hidden");
        });

        //$('#btn_Request_Page').click(function () {
        //    window.open('../Koordinator/CreateCAPA?NoCAPA=' + $("#input_NoCAPA").val());
        //});
    });



</script>

