
@{
    ViewBag.Title = "ReviewCAPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body containers">
    <br />
    <div class="card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Review CAPA</h4>
                <form>
                    <div class="row">
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Tanggal</label>
                            <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Today.ToShortDateString()" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Requestor</label>
                            <input class="form-control form-control-sm" type="text" id="input_Requestor" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Nomor CAPA</label>
                            <input class="form-control form-control-sm" type="text" id="input_NoCAPA" value="@Request.QueryString["NoCAPA"]" readonly />
                            <input class="form-control form-control-sm" type="text" id="input_REG_ID" value="@Request.QueryString["REG"]" hidden />
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Departemen</label>
                            <input class="form-control form-control-sm" type="text" id="input_Departemen" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Koordinator</h4>
                <form>
                    <div class="row">
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Tanggal</label>
                            <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Today.ToShortDateString()" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Requestor</label>
                            <input class="form-control form-control-sm" type="text" id="input_Requestor" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Nomor CAPA</label>
                            <input class="form-control form-control-sm" type="text" id="input_NoCAPA" value="@Request.QueryString["NoCAPA"]" readonly />
                            <input class="form-control form-control-sm" type="text" id="input_REG_ID" value="@Request.QueryString["REG"]" hidden />
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Departemen</label>
                            <input class="form-control form-control-sm" type="text" id="input_Departemen" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group col-md-2">
                    <input type="button" class="btn btn-primary" id="btn_Request_Page" value="Show Request Page" />
                </div>
                <div id="Request_Page" hidden="hidden">
                    @*@Html.Partial("../Koordinator/RequestCAPA", "KoordinatorController")*@
                </div>
                <div id="InvestigasiPenyimpangan">
                    @Html.Partial("../Koordinator/InvestigasiPenyimpangan", "KoordinatorController")
                </div>
                <div id="PenentuanTindakanPerbaikan">
                    @Html.Partial("../Koordinator/PenentuanTindakanPerbaikan", "KoordinatorController")
                </div>
                <div id="PenentuanTindakanPencegahan">
                    @Html.Partial("../Koordinator/PenentuanTindakanPencegahan", "KoordinatorController")
                </div>
                <div id="KajianRisiko">
                    @Html.Partial("../Koordinator/KajianRisiko", "KoordinatorController")
                </div>
                <br />


            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group mb-2 col-sm-3">
                        <label class="m-t-20">Rentang monitoring efektifivas tindakan perbaikan</label>
                        <select class="form-control select2" name="RentangDDL" id="RentangPerbaikan_DDL" required>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-2 col-sm-3">
                        <label class="m-t-20">Rentang monitoring efektivitas tindakan pencegahan</label>
                        <select class="form-control select2" name="RentangDDL" id="RentangPencegahan_DDL" required>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-2">
        <input type="button" class="btn btn-primary" id="btn_CancelCAPA" value="Cancel CAPA" data-toggle="modal" data-target="#Cancel_Page" />
    </div>
    <div class="form-group col-md-2">
        <input type="button" class="btn btn-primary" id="btn_RejectCAPA" value="Reject CAPA" data-toggle="modal" data-target="#Reject_Page" />
    </div>

    <div class="modal fade" id="Cancel_Page" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancel CAPA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        @Html.Partial("CancelCAPA")
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Reject_Page" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reject CAPA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        @Html.Partial("RejectCapa")
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        getDDL();  
    });

    function getDDL() {
        var dictlist = {
            Option: 13
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicParameter',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Models:dto,
                spname: "[dbo].[SP_SHOW_DDL]"
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(data);
                $('#RentangPerbaikan_DDL').empty();
                $('#RentangPencegahan_DDL').empty();
                $.each(JSON.parse(data), function (key, entry) {
                    $('#RentangPerbaikan_DDL').append($('<option></option>').attr('value', entry.RentangValue).text(entry.RentangDesc));
                    $('#RentangPencegahan_DDL').append($('<option></option>').attr('value', entry.RentangValue).text(entry.RentangDesc));
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    $('#btn_CancelCAPA').click(function () {
        $('#Cancel_Page').removeAttr("hidden");
    });

    $('#btn_RejectCAPA').click(function () {
        $('#Reject_Page').removeAttr("hidden");
    });

    $('#btn_Request_Page').click(function () {
        window.open('../Koordinator/CreateCAPA?NoCAPA=' + $("#input_NoCAPA").val());
    });
</script>

