
@{
    ViewBag.Title = "ViewCAPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NoCAPA = @Request.QueryString["NoCAPA"];
}

<link href="~/Content/Scripts/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">View CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">View CAPA</h4>
                        <form>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Tanggal</label>
                                    <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Today.ToShortDateString()" readonly>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Requestor</label>
                                    <input class="form-control form-control-sm" type="text" id="input_Requestor" value="@Request.RequestContext.HttpContext.Session["FullName"]" readonly>
                                    @*<input class="form-control form-control-sm" type="text" id="input_Requestor_NIK" value="HARDCODE_NIK" hidden>*@
                                    <input class="form-control form-control-sm" type="text" id="input_Requestor_NIK" value="@Request.RequestContext.HttpContext.Session["NIK"]" hidden>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Nomor CAPA</label>
                                    <input class="form-control form-control-sm" type="text" id="input_NoCAPA" value="@Request.QueryString["NoCAPA"]" readonly>

                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Departemen</label>
                                    <input class="form-control form-control-sm" type="text" id="input_Departemen" value="@Request.RequestContext.HttpContext.Session["Departemen"]" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                @*<div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Request Page</h4>
                            <button class="btn btn-dark form-control col-sm-2" id="btn_Request">Request</button>
                        </div>
                    </div>*@

                @Html.Partial("LoadData_PV")

            </div>
        </div>
        <!-- #/ container -->
    </div>
</div>

@*JQuery Library*@
@*<script src="../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="../plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>*@
<script src="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.js" defer></script>
<script src="~/Content/Scripts/plugins/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/Content/Scripts/plugins/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/gojs/release/go-debug.js" defer></script>



<script>
    $(document).ready(function () {

    });
</script>
