
@{
    ViewBag.Title = "ApprovalAtasanPIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <!--Modal-->
    <div class="modal fade" id="Reject_Page" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reject CAPA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        @Html.Partial("RejectCAPA")
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Dasboard > Approval Atasan Pelaksana CAPA-->
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Approval Atasan PIC CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Atasan PIC CAPA</h4>
                        <form>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Tanggal</label>
                                    <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Today.ToShortDateString()" readonly>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Atasan PIC</label>
                                    <input class="form-control form-control-sm" type="text" id="TxtRequestor" value="@Request.RequestContext.HttpContext.Session["FullName"]" readonly>
                                    @*<input class="form-control form-control-sm" type="text" id="TxtRequestor_NIK" value="@Request.RequestContext.HttpContext.Session["NIK"]" hidden>*@
                                    <input class="form-control form-control-sm" type="text" id="TxtRequestor_NIK" value="090500076" hidden>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Nomor CAPA</label>
                                    <input class="form-control form-control-sm" type="text" id="QS_NoCAPA" value="@Request.QueryString["NoCAPA"]" readonly />
                                    <input class="form-control form-control-sm" type="text" id="input_NoCAPA" value="@Request.QueryString["NoCAPA"]" hidden />
                                    <input class="form-control form-control-sm" type="text" id="input_REG_ID" value="@Request.QueryString["REG"]" hidden />

                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Departemen</label>
                                    <input class="form-control form-control-sm" type="text" id="TxtDepartemen" value="@Request.RequestContext.HttpContext.Session["Departemen"]" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Request Page</h4>
                        <button class="btn btn-dark form-control col-sm-2" id="btn_Request">Request</button>
                    </div>
                </div>


                @if (!string.IsNullOrEmpty(Request.QueryString["NoCAPA"]))
                {
                    @Html.Partial("AnalisaKondisiPV")
                    <div id="Div_PRCA_PV">@Html.Partial("PotentialRootCausePV")</div>
                    @Html.Partial("TindakanPerbaikanPV")
                    @Html.Partial("TindakanPencegahanPV")
                    @Html.Partial("../Koordinator/InvestigasiPenyimpangan")
                    @Html.Partial("KajianResikoPV")
                    <div id="Div_Approval_PV">@Html.Partial("ApprovalPV")</div>
                }


            </div>
        </div>
        <!-- #/ container -->
    </div>
</div>


<script>

    var CurrentStatsID = 2;
    function checkStatusCAPA() {
        $.ajax({
            url: '/PIC/CheckStatusCAPA',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Option: 14,
                    Aspect: '',
                    WSBH: '',
                    WAH: '',
                    Status: '',
                    isParent: '',
                    WHY_Parent: '',
                    WHY: '',
                    Tindakan: '',
                    Pelaksana: '',
                    LineNumber: '',
                    NamaPersonil: '',
                    Email: '',
                    DueDate: '',
                    Is_AreaLain: '',
                    WhyID: '',
                    WhyParentID: '',
                    RootCause: '',
                    Create_By: '',
                    RecordID: ''
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                getSuperiorNIK();

                var result = JSON.parse(data)[0];
                var hide = (result.STATUS_ID == CurrentStatsID) ? (false) : (true); // jika status CAPA = 2 maka, hide = false , sebaliknya.
                if (hide) //Jika hide true maka di hidden.
                    $('#Div_Approval_PV').hide(); //Hide ApprovalPV (~/Shared/ApprovalPV)

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function HideDeleteButton() {
        // variable isHide berada di partial view
        return isHide = true;
    }
    function getSuperiorNIK() {
        $.ajax({
            url: 'SubmitApproval',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Option: 2
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);                              
                if (result[0].PIC_SUPERIOR_ID != $('#TxtRequestor_NIK').val()) {
                    $('#Div_Approval_PV').hide();
                    return;
                }
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    $(document).ready(function () {
        //*PV = Partial View
       
        //Hidden card div AnalisaKondisi di PartialView (~/Koordinator/InvestigasiPenyimpangan)
        $('#Div_AnalisaKondisi').prop('hidden', true);

        //Hidden card div AnalisaKondisi di PartialView (~/Shared/AnalisaKondisiPV)
        $('#Div_AnalisaKondisiInput').prop('hidden', true);

        //Hidden card div AnalisaKondisi di PartialView (~/Shared/KajianResikoPV)
        $('#Div_KajianResikoInput').prop('hidden', true);

        //Hidden PotentialRootCausePartialView
        $('#Div_PRCA_PV').hide();

        //Check Status_ID CAPA from CAPA_HEADERS
        checkStatusCAPA();

        //Hidden Delete Action Buttons Table Analisa Kondisi serta Table Kajian Resiko
        HideDeleteButton(); // diberi comment jika ingin unhide tombol delete-nya

        //Request CAPA Details
        $('#btn_Request').click(function () {
            window.open('/Koordinator/CreateCAPA?NoCAPA=' + $('#input_NoCAPA').val());
        });

        //Radio button on/off
        var countYes = 0;
        var countNo = 0;
        $('input[name="Potensi"]').click(function () {
            if ($('input[name="Potensi"]:checked').val() == 'Yes') {
                countNo = 0;
                countYes++;
            } else {
                countYes = 0;
                countNo++;
            }
            if (countYes == 2 || countNo == 2) {
                countYes = 0;
                countNo = 0;
                $('input[name="Potensi"]').prop("checked", false);
            }

        });

        $('#btn_Request').click(function () {
            window.open('/Koordinator/CreateCAPA?NoCAPA=' + $('#input_NoCAPA').val());
        });

    });
</script>

