<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CAPA ONLINE</title>
    <!-- Favicon icon -->

    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Styles/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/Content/Styles/css/style.css" rel="stylesheet" />
    <link href="~/Content/Styles/css/capa-style.css" rel="stylesheet" />
    <link href="~/Content/Styles/css/vendor-style.css" rel="stylesheet" />

    <!-- CSS Date Picker -->
    <!-- Custom Stylesheet -->
    <link href="~/Content/Scripts/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/Content/Scripts/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="~/Content/Scripts/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/Content/Scripts/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="~/Content/Scripts/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Content/Scripts/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- CSS Date Picker END -->
    @*<link href="~/Content/Scripts/plugins/sweetalert/css/sweetalert.css" rel="stylesheet" />*@
    <link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

    <link href="~/Content/Styles/css/select2.min.css" rel="stylesheet" />
    @*datatables*@
    <link href="~/Content/Styles/css/datatables.min.css" rel="stylesheet" />
    <!-- JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer" nonce="lcI82gr33zgq6rd5aqKhcMXmCEQLzXvN9w"></script>
    <script src="~/Content/Scripts/plugins/datatables/jquery.dataTables.min.js" defer nonce="ddKo7P4HyMSL68Htx_3ib1VIygbRk3Aopw"></script>
    <script src="~/Content/Scripts/plugins/jquery/jquery.min.js" nonce="98DH0md1KEUXRsj8rpVA3AXUO12FYSLHgQ"></script>

    <link href="~/Content/Scripts/plugins/toastr/css/toastr.min.css" rel="stylesheet" />

    <link href="~/Content/Scripts/plugins/auto-complete/jquery-ui.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" />
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js" defer nonce="blcNeNjWqcOg9-LwGGmU0Ykxo2_1iEr4qA"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer nonce="hB5VZsRHNn_xAR9OpuznIYmfrtCB2i22Aw"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js" defer nonce="I_hc04VnBL8m8j-y6n_s7riYJG_KoxAUxg"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js" defer nonce="mc7CrRPXLIF_6kn0dKz9fddhyeBuQTnfcA"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" defer nonce="6ZlJ3obndrmygSGlU7e-Yq-El7R7T05bNA"></script>
</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="../PendingTask/TaskList">
                    <b class="logo-abbr"><img src="~/Content/Styles/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/Content/Styles/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/Content/Styles/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>

                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <h1 style="color:white"><marquee width="846">CAPA Online</marquee></h1>

                        </div>

                       
                    </div>

                </div>


                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                Selamat datang, <h5 id="UserLoginXd" style="color:white"></h5>
                            </a>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/Content/Styles/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body my-2">
                                    <ul>
                                        <li>
                                            <a id="spanLogout" href="../Login/Index"><i class="icon-key"></i> <span>Logout</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li id="CreateCAPA">@Html.ActionLink("Create CAPA", "CreateCAPA", "Koordinator", null, null)</li>
                    <li id="PendingTask">@Html.ActionLink("Outstanding", "TaskList", "PendingTask", null, null)</li>
                    @*<li>@Html.ActionLink("Pelaksana", "PelaksanaCAPA", "Pelaksana", null, null)</li>*@
                    <li id="FindCAPA">@Html.ActionLink("Find CAPA", "FindCAPA", "FindCAPA", null, null)</li>
                    <li class="nav-label" id="Vendor">VENDOR</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="true" id="VendorArrow">
                            <i class="icon-list menu-icon"></i><span class="nav-text">List Vendor</span>
                        </a>
                        <ul aria-expanded="true" id="VendorMenu">
                            <li>@Html.ActionLink("Tipe Vendor", "TipeVendorIndex", "Vendor", null, null)</li>
                            <li>@Html.ActionLink("List Vendor", "Index", "Vendor", null, null)</li>
                            <li>@Html.ActionLink("Create Vendor", "CreateVendor", "Vendor", null, null)</li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="true" id="UserArrow">
                            <i class="icon-user menu-icon"></i><span class="nav-text">List User Vendor</span>
                        </a>
                        <ul aria-expanded="true" id="UserVendor">
                            <li>@Html.ActionLink("List User Vendor", "Index", "UserVendor", null, null)</li>
                            <li>@Html.ActionLink("Create User Vendor", "CreateUserVendor", "UserVendor", null, null)</li>
                        </ul>
                    </li>
                    <li class="nav-label" id="Report">Report</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="true" id="ReportArrow">
                            <i class="icon-list menu-icon"></i><span class="nav-text">List Report</span>
                        </a>
                        <ul aria-expanded="true">
                            <li>@Html.ActionLink("Reporting", "Reporting", "ReportCAPA", null, null)</li>
                            <li id="ReportLead">@Html.ActionLink("Report Leadtime", "ReportLeadtime", "ReportCAPA", null, null)</li>
                            <li id="ReportMaster">@Html.ActionLink("Report Masterlist", "ReportMasterlist", "ReportCAPA", null, null)</li>
                        </ul>
                    </li>
                    <li class="nav-label" id="Setting">Settings</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="true" id="SettingArrow">
                            <i class="icon-list menu-icon"></i><span class="nav-text">Evaluator</span>
                        </a>
                        <ul aria-expanded="true">
                            <li id="List_Evaluator">@Html.ActionLink("List Evaluator", "Add_Evaluator", "UserVendor", null, null)</li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="true" id="SettingArrow2">
                            <i class="icon-list menu-icon"></i><span class="nav-text">Departemen</span>
                        </a>
                        <ul aria-expanded="true">
                            <li id="List_Departemen">@Html.ActionLink("List Departemen", "Add_Departemen", "UserVendor", null, null)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        @RenderBody()
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div style="background-color:transparent">
            <div class="container-fluid">
                <div class="has-arrow">
                    <div class="col-lg-12">
                        <p style="text-align:center">Copyright &copy; @DateTime.Now.Year PT Bintang Toedjoe </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalTimeOut">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Session Login Habis</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="msgModal"></p>
                    </div>

                </div>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Content/Scripts/plugins/common/common.min.js" nonce="dqchHvzfTG6Pagwg01T5sYoJb4GEy1Y0Qw"></script>
    <script src="~/Content/Scripts/js/custom.min.js" nonce="dt6oWH4NthRqgshFK-7_SlnK9CQvDVN8VQ"></script>
    <script src="~/Content/Scripts/js/settings.js" nonce="0DRnw3POZBrVAoeCZ1cIil55vKEH6xtI5g"></script>
    <script src="~/Content/Scripts/js/gleek.js" nonce="EMh89L5c7DVCu7bWEIQ3z1CAlBPdaeXPTQ"></script>
    <script src="~/Content/Scripts/js/styleSwitcher.js" nonce="0SjfkPlBww5ynr2NZW8LVN77NMUQcpPfiA"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" nonce="3o2uBXVe3BKNczzSoluaU8kjJWA7GvGe8g"></script>
    @*<script src="~/Content/Scripts/plugins/sweetalert/js/sweetalert.init.js"></script>*@
    @*<script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>*@

    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/moment/moment.js" nonce="rOruzf_UG1QvBUuCXzIO46PZmJjjc0pjYQ"></script>
    <script src="~/Content/Scripts/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js" nonce="M2Y0s4mPlguMJF_EvPEvpfxGZIuHmj9TDQ"></script>


    <!-- Clock Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/clockpicker/dist/jquery-clockpicker.min.js" nonce="rB_tcWoT5rXE3t-aaHrTI7R8ZLHLXIBMaQ"></script>


    <!-- Color Picker Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js" nonce="pniGi7DimWeiNwjdGM1SFtN4xC1RwvUo6w"></script>
    <script src="~/Content/Scripts/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js" nonce="XAyd4461S-kOv4-TCWoB1LYFaRNy7qsX2Q"></script>
    <script src="~/Content/Scripts/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js" nonce="auBY8P8YTCOQGGqsVqSUaAN33iNAL6jHAA"></script>


    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" nonce="opaPNWKh4rlPaf__wbgk2r96yxqYqk1EgA"></script>


    <!-- Date range Plugin JavaScript -->
    <script src="~/Content/Scripts/plugins/timepicker/bootstrap-timepicker.min.js" nonce="LphqlVEE36kPX5E4KBLXLWJ5ASkHOSPwbQ"></script>
    <script src="~/Content/Scripts/plugins/bootstrap-daterangepicker/daterangepicker.js"  nonce="Zx9Mw8lHYQb1id3NbzWOLUeLyHzPI-QrKA"></script>

    <script src="~/Content/Scripts/js/plugins-init/form-pickers-init.js" nonce="CsBMXL2uNDQuYbSHoHkBOP3Sj0fnZmbQMA"></script>

    <script src="~/Content/Scripts/plugins/validation/jquery.validate.min.js" nonce="nZXyXPk7DY6M3ByeXzLKbZcJQBN4KVWLpg"></script>
    <script src="~/Content/Scripts/plugins/validation/jquery.validate-init.js" nonce="qIFKHaBU0fwCX1TFkR6z09sOdXG6YEV-Cg"></script>

    <script src="~/Content/Scripts/plugins/select2/js/select2.full.min.js" nonce="sM3Ffnu-uOGWSyzNdVuvBOakx5QKGL4lXA"></script>
    <script src="~/Content/Scripts/plugins/toastr/js/toastr.min.js" nonce="WuJIUizgDprzmarqoJfL1dIIjGzoNK_F4A"></script>
    <script src="~/Content/Scripts/plugins/auto-complete/jquery-ui.min.js" nonce="rW366BsEdis1Qz3f4XySi4FH7-cxTenqRw"></script>
    <script src="~/Content/Scripts/js/sweetalert2.all.min.js" defer nonce="anaoKHollrQo3oBYF4w0YDevno08D23_yg"></script>

    @*datatables*@
    <script src="~/Content/Scripts/js/datatables.min.js" nonce="jE4m4fd1vPdbH37YvvTWRe4e_94xjdccNQ"></script>

    <script src="~/Content/Scripts/plugins/highlightjs/highlight.pack.min.js" nonce="T22yt3cS-CxAthVeQnGnViroS0y8SJluWg"></script>
    <script nonce="L7bm3Z9orbXjlTN4btODziVxAe43i6hUDQ">hljs.initHighlightingOnLoad();</script>

    <script nonce="iSBadu_gmMIhAUmFHAjvB-wDx4OtVf67WQ">
        $(document).ready(function () {
            CheckUser();
            var usernameAktif = '@Request.RequestContext.HttpContext.Session["Username"]';
            $('#UserLoginXd').text(usernameAktif);
            //checkSession();
            @*setInterval(checkSession, 10001);
            setTimeout(checkSession, '@Session.Timeout' * 60 * 1000);*@
            //$(document).ajaxError(function(e, xhr, opts) {

            //    chcksession(xhr);

            //});
            $(document).ajaxError(function (a, xhr, c) {
                console.log(xhr.status);
                var status = xhr.status
                console.log(status);
                if (xhr.status === 401) {
                    chcksession(xhr.status)
                }
            });
        });


        function chcksession(xhr) {
             if (xhr === 401) {

                   Swal.fire({
                        title: 'Session Expired! Silahkan login Kembali ',
                        icon: "warning",
                        showConfirmButton: false,
                        timer: 1000,
                        }).then(() => {
                            return window.location.href = '../Login/Index';
                        });
                }
        }
        function checkSession() {
            var usernameAktif = '@Request.RequestContext.HttpContext.Session["Username"]';
            $('#UserLoginXd').text(usernameAktif);
            $.ajax({
                url: "../Login/checksession",
                type: "post",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data);
                    if (data == 'False') {
                        Swal.fire({
                        title: 'Session Expired! Silahkan login Kembali ',
                        icon: "warning",
                        showConfirmButton: false,
                        timer: 1000,
                        }).then(() => {
                        return window.location.href = '../Login/Index';
                        });
                    }
                },
                error: function (errormessage) {
                    $('#divLoading').attr("hidden", true);
                }
            });


        }
        function CheckUser(){
            var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
            var dictlist = {
                Option: 1,
                nik: nik
            }
            var dto1 = {
                Model: dictlist
            }
            $.ajax({
                url: "../Login/DynamicController?spname=SP_Find_User",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto1),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result[0].Roleuser == 'Bukan Koordinator') {
                        $('#CreateCAPA').attr("hidden", true);
                        $('#Vendor').attr("hidden", true);
                        $('#VendorArrow').attr("hidden", true);
                        $('#VendorMenu').attr("hidden", true);
                        $('#UserVendor').attr("hidden", true);
                        $('#UserArrow').attr("hidden", true);
                        $("#ReportLead").attr("hidden", true);
                        $("#ReportMaster").attr("hidden", true);
                        $('#Setting').attr("hidden", true);
                        $('#SettingArrow').attr("hidden", true);
                        $('#List_Evaluator').attr("hidden", true);
                        $('#SettingArrow2').attr("hidden", true);
                        $('#List_Departemen').attr("hidden", true);

                    }
                },
                error: function (errormessage) {
                    $('#divLoading').attr("hidden", true);
                }
            });
        }
        (function ($) {
            "use strict"

            new quixSettings({
                version: "light", //2 options "light" and "dark"
                layout: "vertical", //2 options, "vertical" and "horizontal"
                navheaderBg: "color_1", //have 10 options, "color_1" to "color_10"
                headerBg: "color_8", //have 10 options, "color_1" to "color_10"
                sidebarStyle: "vertical", //defines how sidebar should look like, options are: "full", "compact", "mini" and "overlay". If layout is "horizontal", sidebarStyle won't take "overlay" argument anymore, this will turn into "full" automatically!
                sidebarBg: "color_1", //have 10 options, "color_1" to "color_10"
                sidebarPosition: "static", //have two options, "static" and "fixed"
                headerPosition: "fixed", //have two options, "static" and "fixed"
                containerLayout: "wide",  //"boxed" and  "wide". If layout "vertical" and containerLayout "boxed", sidebarStyle will automatically turn into "overlay".
                direction: "ltr" //"ltr" = Left to Right; "rtl" = Right to Left
            });


        })(jQuery);
    </script>
    @RenderSection("scripts", required: false);
</body>

</html>