
@{
    ViewBag.Title = "AtasanPelaksanaApprovalPerubahanTindakan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/js/sweetalert2.all.min.js" defer></script>
<script src="~/Content/Scripts/plugins/block-ui/jquery.blockUI.js" defer></script>

<div class="content-body">
    <!--Modal-->
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Atasan Pelaksana</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Atasan Pelaksana</h4>
                <form>
                    <div class="row">
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Tanggal</label>
                            <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Today.ToString("MM/dd/yyyy HH:mm")" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Nomor CAPA</label>
                            <input class="form-control form-control-sm" type="text" id="TxtNoCAPA" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Departemen</label>
                            <input class="form-control form-control-sm" type="text" id="TxtDepartemen" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Atasan Pelaksana</label>
                            <input class="form-control form-control-sm" type="text" id="TxtRequestor" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h2>Approval Perubahan</h2>
                        <hr />
                        <h4 class="card-title">Tindakan Perbaikan </h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_Perbaikan">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Root Cause</th>
                                        <th>Nama Pelaksana</th>
                                        <th>Tindakan Perbaikan</th>
                                        <th>Tindakan Perbaikan Revisi</th>
                                        <th>Alasan Perubahan Tindakan Perbaikan</th>
                                        <th>Due Date</th>
                                        <th>Due Date Revisi</th>
                                        <th>Alasan Perubahan Due Date </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <h4 class="card-title">Tindakan Pencegahan</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_Pencegahan">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Root Cause</th>
                                        <th>Nama Pelaksana</th>
                                        <th>Tindakan Pencegahan</th>
                                        <th>Tindakan Pencegahan Revisi</th>
                                        <th>Alasan Perubahan Tindakan Pencegahan</th>
                                        <th>Due Date</th>
                                        <th>Due Date Revisi</th>
                                        <th>Alasan Perubahan Due Date </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h2>Approval Penambahan</h2>
                        <hr />
                        <h4 class="card-title">Tindakan Perbaikan </h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_PerbaikanPenambahan">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Root Cause</th>
                                        <th>Nama Pelaksana</th>
                                        <th>Tindakan Perbaikan</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <h4 class="card-title">Tindakan Pencegahan </h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_PencegahanPenambahan">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Root Cause</th>
                                        <th>Nama Pelaksana</th>
                                        <th>Tindakan Pencegahan</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h2>Approval Pembatalan</h2>
                        <hr />
                        <h4 class="card-title">Tindakan Perbaikan Pembatalan</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_PerbaikanPembatalan">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Root Cause</th>
                                        <th>Nama Pelaksana</th>
                                        <th>Tindakan Perbaikan</th>
                                        <th>Due Date</th>
                                        <th>Alasan Pembatalan</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <h4 class="card-title">Tindakan Pencegahan Pembatalan</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_PencegahanPembatalan">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Root Cause</th>
                                        <th>Nama Pelaksana</th>
                                        <th>Tindakan Pencegahan</th>
                                        <th>Due Date</th>
                                        <th>Alasan Pembatalan</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @Html.Partial("KajianResikoPV")


    </div>
</div>
<!-- #/ container -->

<input type="text" id="input_NoCAPA" value="@ViewBag.NoCAPA" hidden>


<script>
    var noCAPA = getQueryStrings()["NoCAPA"];

    var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
    //var nik = "090500076";
    var namaUser = '@Request.RequestContext.HttpContext.Session["NamaUser"]';
    //var namaUser = 'DENNY IRAWAN';
    var tindakan = "Approval Perubahan";
    var superiorName = '@Request.RequestContext.HttpContext.Session["SuperiorName"]';
    var dataPerbaikan, attachmentPerbaikan, dataPencegahan, attachmentPencegahan;
    var statuser = false;
    var stataction = false;
    var laststate = false;
    var referenceID = getQueryStrings()["ReferenceID"];
    var count = 0;
    $('#input_NoCAPA').val(noCAPA);
    //function untuk ambil semua query string
    function getQueryStrings() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function checkUser()
    {
        var dictlist = {
            NoCAPA: noCAPA,
            Option: 4,
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                for (var i = 0; i < result.length; i++) {
                    var listuser = result[i].SupName;
                    if (listuser == namaUser) {
                        $('#ApprovePerb').attr('disabled', false);
                        $('#RejectPerb').attr('disabled', false);
                        break;
                    }
                    else {
                        $('#ApprovePerb').attr('disabled', true);
                        $('#RejectPerb').attr('disabled', true);
                    }
                }

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function CheckPending() {
        count++;
        var tableperbaikanperubahan = $('#Tbl_Perbaikan').DataTable().data().count();
        var tablepencegahanperubahan = $('#Tbl_Pencegahan').DataTable().data().count();
        var tableperbaikanpenambahan = $('#Tbl_PerbaikanPenambahan').DataTable().data().count();
        var tablepencegahanpenambahan = $('#Tbl_PencegahanPenambahan').DataTable().data().count();
        var tableperbaikanpembatalan = $('#Tbl_PerbaikanPembatalan').DataTable().data().count();
        var tablepencegahanpembatalan = $('#Tbl_PencegahanPembatalan').DataTable().data().count();
        console.log(tableperbaikanperubahan);
        console.log(tablepencegahanperubahan);
        console.log(tableperbaikanpenambahan);
        console.log(tablepencegahanpenambahan);
        console.log(tableperbaikanpembatalan);
        console.log(tablepencegahanpembatalan);
        console.log(count);
        if (tableperbaikanperubahan == 0 && tablepencegahanperubahan == 0 && tableperbaikanpenambahan == 0
            && tablepencegahanpenambahan == 0 && tableperbaikanpembatalan == 0 && tablepencegahanpembatalan == 0 && count >5) {

            $.blockUI();
            window.location.href = '../PendingTask/TaskList'
        }
    }
    $(document).ready(function () {
        $('#TxtDepartemen').val('@Request.RequestContext.HttpContext.Session["Departemen"]');
        $('#TxtNoCAPA').val(noCAPA);
        $('#TxtRequestor').val(namaUser);
        $('#RootCause_KajianResikoDDL').attr('disabled', true);
        $('#btn_AddKajian').attr('disabled', true);
        GetTindakanPerbaikan();
        GetTindakanPencegahan();
        GetTindakanPencegahanPenambahan();
        GetTindakanPerbaikanPenambahan();
        GetTindakanPerbaikanPembatalan();
        GetTindakanPencegahanPembatalan();
        TableKajian();

    });

    function GetTindakanPerbaikan() {
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            Option: 1,
            Stat: 10,
            Status_Perbaikan: 'Perubahan Perbaikan'
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            async: false,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_Perbaikan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "responsive": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyDesc" },
                        { "data": "PelaksanaName" },
                        { "data": "Tindakan_Perbaikan" },
                        { "data": "Tindakan_PerbaikanRev" },
                        { "data": "Alasan_Tindakan_Perbaikan"},
                        { "data": "tanggal" },
                        { "data": "tanggalRev" },
                        { "data": "Alasan_Due_Date" },
                        { "data": "Stat" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' id='ApprovePerb' class='btn btn-primary' onclick=ApprovePerbaikan(this) value='Approve'style='background-color:green; margin-bottom:15px;'/> <input type='button' id='DeletePerb' class='btn btn-primary' onclick=RejectPerbaikan(this) value='Reject'style='background-color:red;'/>"
                        },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],
                })
                CheckPending();
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function GetTindakanPencegahan() {
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            Option: 2,
            Stat: 10,
            Status_Pencegahan: "Perubahan Pencegahan"
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            async: false,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_Pencegahan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,

                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyDesc" },
                        { "data": "PelaksanaName" },
                        { "data": "Tindakan_Pencegahan" },
                        { "data": "Tindakan_PencegahanRev" },
                        { "data": "Alasan_Tindakan_Pencegahan" },
                        { "data": "tanggal" },
                        { "data": "tanggalRev" },
                        { "data": "Alasan_Due_Date" },
                        { "data": "Stat" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' id='ApprovePerb' class='btn btn-primary' onclick=ApprovePencegahan(this) value='Approve'style='background-color:green; margin-bottom:15px;'/> <input type='button' id='DeletePerb' class='btn btn-primary' onclick=RejectPencegahan(this) value='Reject'style='background-color:red;'/>"
                       },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],

                });
                CheckPending();

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function ApprovePerbaikan(button)
    {
        var row = $(button).closest("TR");
        var data = $('#Tbl_Perbaikan').DataTable().row(row).data();
        var id = data['RecordID'];
        var dictlist = {
            NoCAPA: noCAPA,
            RecordID: id,
            Option: 7,
            Empid: nik,
            Tipe: "Perubahan Perbaikan"
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.ajax({
                    url: 'SubmitApproval',
                    type: 'post',
                    data: JSON.stringify({
                        Model: {
                            NO_CAPA: noCAPA,
                            Temp_Status: 11,
                            Tindakan: 'Perbaikan',
                            Tindakan_ID: referenceID
                        }
                    }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });
                Swal.fire({
                    title: "Approve Berhasil!",
                    icon: "success",
                    showConfirmButton: false,
                    timer: 1000,
                }).then(() => {
                    GetTindakanPerbaikan();
                    TableKajian();
                })
            }
        });
    }

    function RejectPerbaikan(button) {
        Swal.fire({
            title: 'Alasan Reject',
            text: "You won't be able to revert this!",
            type: 'warning',
            html: '<textarea id="txtReject" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Reject!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var reject = $('#txtReject').val();
                var row = $(button).closest("TR");
                var data = $('#Tbl_Perbaikan').DataTable().row(row).data();
                var id = data['RecordID'];
                var dictlist = {
                    NoCAPA: noCAPA,
                    Option: 5,
                    RecordID: id,
                    RejectReason: reject,
                    Empid: nik,
                    Tipe:"Perubahan Perbaikan"
                }
                var dto1 = {
                    Model: dictlist
                }
                if (reject != null && reject.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_FORM_Perubahan",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            GetTindakanPerbaikan();
                            TableKajian();
                            $.ajax({
                                url: 'SubmitApproval',
                                type: 'post',
                                data: JSON.stringify({
                                    Model: {
                                        NO_CAPA: noCAPA,
                                        Temp_Status: 6,
                                        Tindakan: 'Perbaikan',
                                        Tindakan_ID: id
                                    }
                                }),
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                },
                                error: function (ex) {
                                    alert(JSON.stringify(ex));
                                }
                            });
                            Swal.fire({
                                title: "Reject Berhasil!",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1000,
                            }).then(() => {
                                GetTindakanPerbaikan();
                                TableKajian();
                            })
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {

                    Swal.fire({
                        title: "Error!",
                        text: 'Alasan tidak boleh kosong!',
                        icon: "error",
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            }
        })
    }
    function ApprovePencegahan(button) {
        var row = $(button).closest("TR");
        var data = $('#Tbl_Pencegahan').DataTable().row(row).data();
        var id = data['RecordID'];
        var dictlist = {
            NoCAPA: noCAPA,
            RecordID: id,
            Option: 8,
            Empid: nik,
            Tipe: "Perubahan Pencegahan"
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                Swal.fire({
                    title: "Approve Berhasil!",
                    icon: "success",
                    showConfirmButton: false,
                    timer: 1000,
                }).then(() => {
                    GetTindakanPencegahan();
                    TableKajian();
                })
                $.ajax({
                    url: 'SubmitApproval',
                    type: 'post',
                    data: JSON.stringify({
                        Model: {
                            NO_CAPA: noCAPA,
                            Temp_Status: 11,
                            Tindakan: 'Pencegahan',
                            Tindakan_ID: referenceID
                        }
                    }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });
            }
        });
    }

    function RejectPencegahan(button) {
        Swal.fire({
            title: 'Alasan Reject',
            text: "You won't be able to revert this!",
            type: 'warning',
            html: '<textarea id="txtReject" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Reject!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var reject = $('#txtReject').val();
                var row = $(button).closest("TR");
                var data = $('#Tbl_Pencegahan').DataTable().row(row).data();
                var id = data['RecordID'];
                var dictlist = {
                    NoCAPA: noCAPA,
                    Option: 6,
                    RecordID: id,
                    RejectReason: reject,
                    Empid: nik,
                    Tipe: "Perubahan Pencegahan"
                }
                var dto1 = {
                    Model: dictlist
                }
                if (reject != null && reject.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_FORM_Perubahan",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            GetTindakanPencegahan();
                            TableKajian();
                            $.ajax({
                                url: 'SubmitApproval',
                                type: 'post',
                                data: JSON.stringify({
                                    Model: {
                                        NO_CAPA: noCAPA,
                                        Temp_Status: 6,
                                        Tindakan: 'Pencegahan',
                                        Tindakan_ID: id
                                    }
                                }),
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                },
                                error: function (ex) {
                                    alert(JSON.stringify(ex));
                                }
                            });
                            Swal.fire({
                                title: "Reject Berhasil!",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1000,
                            }).then(() => {
                                GetTindakanPencegahan();
                                TableKajian();
                            })
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {

                    Swal.fire({
                        title: "Error!",
                        text: 'Alasan tidak boleh kosong!',
                        icon: "error",
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            }
        })
    }
    function TableKajian() {
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NoCAPA: noCAPA,
                    Empid: nik,
                    Option: 3,
                    Stat: 10
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                $('#Tbl_KajianResiko').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "Tindakan" },
                        { "data": "P_Kegagalan" },
                        { "data": "Spek" },
                        { "data": "Dampak" },
                        { "data": "Severity" },
                        { "data": "Penyebab" },
                        { "data": "M_Penyebab" },
                        { "data": "Likelihood" },
                        { "data": "M_PKegagalan_LMD" },
                        { "data": "Detectability" },
                        { "data": "RPN" },
                        {
                            "data": "RiskLevel",
                            "className": "riskLevel"
                        },
                        { "data": "Target" },
                        { "data": "M_PKegagalan" },
                        { "data": "Severity2" },
                        { "data": "P_MPenyebab" },
                        { "data": "Likelihood2" },
                        { "data": "P_MDPKegagalan" },
                        { "data": "Detectability2" },
                        { "data": "RPN2" },
                        {
                            "data": "RiskLevel2",
                            "className": "riskLevel2"
                        },
                        { "data": "FullName" },
                        { "data": "DueDate" },
                        { "data": "Lainnya" },
                        {
                            "data": null,
                            "defaultContent": "<button class='btn btn-primary' type='button' name='delete' onchange='' style='background-color:gray' disabled>Delete</button> ",
                            "visible": (!isHide) ? (true) : (false)
                        },
                    ],
                    "order": [[1, 'asc']],
                    "rowCallback": function (row, data) {
                        ColoredColumns(row, data.RiskLevel, "riskLevel");
                        ColoredColumns(row, data.RiskLevel2, "riskLevel2");
                    }
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }


    function GetTindakanPerbaikanPembatalan() {
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            Option: 1,
            Stat: 10,
            Status_Perbaikan: 'Pembatalan Perbaikan'
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            async: false,
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_PerbaikanPembatalan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "responsive": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyDesc" },
                        { "data": "PelaksanaName" },
                        { "data": "Tindakan_Perbaikan" },
                        { "data": "tanggal" },
                        { "data": "Alasan_Pembatalan" },
                        { "data": "Stat" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' id='ApprovePerb' class='btn btn-primary' onclick=ApprovePerbaikanPembatalan(this) value='Approve'style='background-color:green; margin-left:15px;'/> <input type='button' id='DeletePerb' class='btn btn-primary' onclick=RejectPerbaikanPembatalan(this) value='Reject'style='background-color:red;'/>"
                        },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],
                })
                CheckPending();
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function GetTindakanPencegahanPembatalan() {
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            Option: 2,
            Stat: 10,
            Status_Pencegahan: "Pembatalan Pencegahan"

        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            async: false,
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_PencegahanPembatalan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,

                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyDesc" },
                        { "data": "PelaksanaName" },
                        { "data": "Tindakan_Pencegahan" },
                        { "data": "tanggal" },
                        { "data": "Alasan_Pembatalan" },
                        { "data": "Stat" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' id='ApprovePerb' class='btn btn-primary' onclick=ApprovePencegahanPembatalan(this) value='Approve'style='background-color:green; margin-left:15px;'/> <input type='button' id='DeletePerb' class='btn btn-primary' onclick=RejectPencegahanPembatalan(this) value='Reject'style='background-color:red;'/>"
                        },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],

                });
                CheckPending();
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function ApprovePerbaikanPembatalan(button) {
        var row = $(button).closest("TR");
        var data = $('#Tbl_PerbaikanPembatalan').DataTable().row(row).data();
        var id = data['RecordID'];
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            RecordID: id,
            Option: 7,
            Tipe: "Pembatalan Perbaikan"
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.ajax({
                    url: 'SubmitApproval',
                    type: 'post',
                    data: JSON.stringify({
                        Model: {
                            NO_CAPA: noCAPA,
                            Temp_Status: 11,
                            Tindakan: 'Perbaikan',
                            Tindakan_ID: referenceID
                        }
                    }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });
                Swal.fire({
                    title: "Approve Berhasil!",
                    icon: "success",
                    showConfirmButton: false,
                    timer: 1000,
                }).then(() => {
                    GetTindakanPerbaikanPembatalan();
                    TableKajian();
                })
            }
        });
    }

    function RejectPerbaikanPembatalan(button) {
        Swal.fire({
            title: 'Alasan Reject',
            text: "You won't be able to revert this!",
            type: 'warning',
            html: '<textarea id="txtReject" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Reject!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var reject = $('#txtReject').val();
                var row = $(button).closest("TR");
                var data = $('#Tbl_PerbaikanPembatalan').DataTable().row(row).data();
                var id = data['RecordID'];
                var dictlist = {
                    NoCAPA: noCAPA,
                    Option: 5,
                    RecordID: id,
                    RejectReason: reject,
                    Empid: nik,
                    Tipe: 'Pembatalan Perbaikan'
                }
                var dto1 = {
                    Model: dictlist
                }
                if (reject != null && reject.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_FORM_Perubahan",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            $.ajax({
                                url: 'SubmitApproval',
                                type: 'post',
                                data: JSON.stringify({
                                    Model: {
                                        NO_CAPA: noCAPA,
                                        Temp_Status: 6,
                                        Tindakan: 'Perbaikan',
                                        Tindakan_ID: id
                                    }
                                }),
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                },
                                error: function (ex) {
                                    alert(JSON.stringify(ex));
                                }
                            });
                            Swal.fire({
                                title: "Reject Berhasil!",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1000,
                            }).then(() => {
                                GetTindakanPerbaikanPembatalan();
                                TableKajian();
                            })
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {

                    Swal.fire({
                        title: "Error!",
                        text: 'Alasan tidak boleh kosong!',
                        icon: "error",
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            }
        })
    }
    function ApprovePencegahanPembatalan(button) {
        var row = $(button).closest("TR");
        var data = $('#Tbl_PencegahanPembatalan').DataTable().row(row).data();
        var id = data['RecordID'];
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            RecordID: id,
            Option: 8,
            Tipe: "Pembatalan Pencegahan"
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.ajax({
                    url: 'SubmitApproval',
                    type: 'post',
                    data: JSON.stringify({
                        Model: {
                            NO_CAPA: noCAPA,
                            Temp_Status: 11,
                            Tindakan: 'Pencegahan',
                            Tindakan_ID: referenceID
                        }
                    }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });
                Swal.fire({
                    title: "Approve Berhasil!",
                    icon: "success",
                    showConfirmButton: false,
                    timer: 1000,
                }).then(() => {
                    GetTindakanPencegahanPembatalan();
                    TableKajian();
                })
            }
        });
    }

    function RejectPencegahanPembatalan(button) {
        Swal.fire({
            title: 'Alasan Reject',
            text: "You won't be able to revert this!",
            type: 'warning',
            html: '<textarea id="txtReject" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Reject!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var reject = $('#txtReject').val();
                var row = $(button).closest("TR");
                var data = $('#Tbl_PencegahanPembatalan').DataTable().row(row).data();
                var id = data['RecordID'];
                var dictlist = {
                    NoCAPA: $('#QS_NoCAPA').val(),
                    Option: 6,
                    RecordID: id,
                    RejectReason: reject,
                    Empid: nik,
                    Tipe: 'Pembatalan Pencegahan'
                }
                var dto1 = {
                    Model: dictlist
                }
                if (reject != null && reject.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_FORM_Perubahan",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            GetTindakanPencegahan();
                            TableKajian();
                            $.ajax({
                                url: 'SubmitApproval',
                                type: 'post',
                                data: JSON.stringify({
                                    Model: {
                                        NO_CAPA: noCAPA,
                                        Temp_Status: 6,
                                        Tindakan: 'Pencegahan',
                                        Tindakan_ID: id
                                    }
                                }),
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                },
                                error: function (ex) {
                                    alert(JSON.stringify(ex));
                                }
                            });
                            Swal.fire({
                                title: "Reject Berhasil!",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1000,
                            }).then(() => {
                                GetTindakanPencegahanPembatalan();
                                TableKajian();
                            })
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {

                    Swal.fire({
                        title: "Error!",
                        text: 'Alasan tidak boleh kosong!',
                        icon: "error",
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            }
        })
    }

    function GetTindakanPerbaikanPenambahan() {
        console.log(nik);
        console.log(noCAPA);
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            Option: 1,
            Stat: 10,
            Status_Perbaikan: "Perbaikan Baru"
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            async: false,
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_PerbaikanPenambahan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "responsive": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyDesc" },
                        { "data": "PelaksanaName" },
                        { "data": "Tindakan_Perbaikan" },
                        { "data": "tanggal" },
                        { "data": "Stat" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' id='ApprovePerb' class='btn btn-primary' onclick=ApprovePerbaikanPenambahan(this) value='Approve'style='background-color:green;'/> <input type='button' id='DeletePerb' class='btn btn-primary' onclick=RejectPerbaikanPenambahan(this) value='Reject'style='background-color:red;'/>"
                        },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],
                })
                CheckPending();
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function GetTindakanPencegahanPenambahan() {
        console.log(nik);
        console.log(noCAPA);
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            Option: 18,
            Stat: 10
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            async: false,
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_PencegahanPenambahan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": false,
                    "scrollCollapse": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyDesc" },
                        { "data": "PelaksanaName" },
                        { "data": "Tindakan_Pencegahan" },
                        { "data": "tanggal" },
                        { "data": "Stat" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' id='ApprovePerb' class='btn btn-primary' onclick=ApprovePencegahanPenambahan(this) value='Approve'style='background-color:green;'/> <input type='button' id='DeletePerb' class='btn btn-primary' onclick=RejectPencegahanPenambahan(this) value='Reject'style='background-color:red;'/>"
                        },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],

                });
                CheckPending();
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function ApprovePerbaikanPenambahan(button) {
        var row = $(button).closest("TR");
        var data = $('#Tbl_PerbaikanPenambahan').DataTable().row(row).data();
        var id = data['RecordID'];
        var tipe = data['Status_Perbaikan'];
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            RecordID: id,
            Option: 7,
            Tipe: tipe
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.ajax({
                    url: 'SubmitApproval',
                    type: 'post',
                    data: JSON.stringify({
                        Model: {
                            NO_CAPA: noCAPA,
                            Temp_Status: 11,
                            Tindakan: 'Perbaikan',
                            Tindakan_ID: referenceID
                        }
                    }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });
                Swal.fire({
                    title: "Approve Berhasil!",
                    icon: "success",
                    showConfirmButton: false,
                    timer: 1000,
                }).then(() => {
                    GetTindakanPerbaikanPenambahan();
                    TableKajian();
                })
            }
        });
    }

    function RejectPerbaikanPenambahan(button) {
        Swal.fire({
            title: 'Alasan Reject',
            text: "You won't be able to revert this!",
            type: 'warning',
            html: '<textarea id="txtReject" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Reject!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var reject = $('#txtReject').val();
                var row = $(button).closest("TR");
                var data = $('#Tbl_PerbaikanPenambahan').DataTable().row(row).data();
                var id = data['RecordID'];
                var tipe = data['Status_Perbaikan'];
                var dictlist = {
                    NoCAPA: noCAPA,
                    Option: 12,
                    RecordID: id,
                    RejectReason: reject,
                    Tipe: tipe,
                    Empid: nik
                }
                var dto1 = {
                    Model: dictlist
                }
                if (reject != null && reject.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_FORM_Perubahan",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            $.ajax({
                                url: 'SubmitApproval',
                                type: 'post',
                                data: JSON.stringify({
                                    Model: {
                                        NO_CAPA: noCAPA,
                                        Temp_Status: 6,
                                        Tindakan: 'Perbaikan',
                                        Tindakan_ID: id
                                    }
                                }),
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                },
                                error: function (ex) {
                                    alert(JSON.stringify(ex));
                                }
                            });
                            Swal.fire({
                                title: "Reject Berhasil!",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1000,
                            }).then(() => {
                                GetTindakanPerbaikanPenambahan();
                                TableKajian();
                            })
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {


                    Swal.fire({
                        title: "Error!",
                        text: 'Alasan tidak boleh kosong!',
                        icon: "error",
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            }
        })
    }

    function ApprovePencegahanPenambahan(button) {
        var row = $(button).closest("TR");
        var data = $('#Tbl_PencegahanPenambahan').DataTable().row(row).data();
        var id = data['RecordID'];
        var tipe = data['Status_Pencegahan'];
        var dictlist = {
            NoCAPA: noCAPA,
            Empid: nik,
            RecordID: id,
            Option: 8,
            Tipe: tipe
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: 'DynamicController?spname=SP_FORM_Perubahan',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.ajax({
                    url: 'SubmitApproval',
                    type: 'post',
                    data: JSON.stringify({
                        Model: {
                            NO_CAPA: noCAPA,
                            Temp_Status: 11,
                            Tindakan: 'Pencegahan',
                            Tindakan_ID: id
                        }
                    }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });
                Swal.fire({
                    title: "Approve Berhasil!",
                    icon: "success",
                    showConfirmButton: false,
                    timer: 1000,
                }).then(() => {
                    GetTindakanPencegahanPenambahan();
                    TableKajian();
                })
            }
        });
    }

    function RejectPencegahanPenambahan(button) {
        Swal.fire({
            title: 'Alasan Reject',
            text: "You won't be able to revert this!",
            type: 'warning',
            html: '<textarea id="txtReject" class="form form-control" ></textarea>',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Reject!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var reject = $('#txtReject').val();
                var row = $(button).closest("TR");
                var data = $('#Tbl_PencegahanPenambahan').DataTable().row(row).data();
                var id = data['RecordID'];
                var tipe = data['Status_Pencegahan'];
                var dictlist = {
                    NoCAPA: noCAPA,
                    Option: 13,
                    RecordID: id,
                    RejectReason: reject,
                    Tipe: tipe,
                    Empid: nik
                }
                var dto1 = {
                    Model: dictlist
                }
                if (reject != null && reject.trim() != '') {
                    $.ajax({
                        url: "DynamicController?spname=SP_FORM_Perubahan",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto1),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            $.ajax({
                                url: 'SubmitApproval',
                                type: 'post',
                                data: JSON.stringify({
                                    Model: {
                                        NO_CAPA: noCAPA,
                                        Temp_Status: 6,
                                        Tindakan: 'Pencegahan',
                                        Tindakan_ID: id
                                    }
                                }),
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                },
                                error: function (ex) {
                                    alert(JSON.stringify(ex));
                                }
                            });
                            Swal.fire({
                                title: "Reject Berhasil!",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1000,
                            }).then(() => {
                                GetTindakanPencegahanPenambahan();
                                TableKajian();
                            })
                        },
                        error: function (errormessage) {
                        }
                    });
                }
                else {

                    Swal.fire({
                        title: "Error!",
                        text: 'Alasan tidak boleh kosong!',
                        icon: "error",
                        showConfirmButton: false,
                        timer: 1000,
                    })
                }
            }
        })
    }


</script>

