
@{
    ViewBag.Title = "Koordinator4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using B7_CAPA_Online.Models
@model DALModel


<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Koordinator</h4>
                <form>
                    <div class="row">
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Tanggal</label>
                            <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Today.ToShortDateString()" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Requestor</label>
                            <input class="form-control form-control-sm" type="text" id="input_Requestor" readonly>
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-20">Nomor CAPA</label>
                            <input class="form-control form-control-sm" type="text" id="input_NoCAPA" value="@Request.QueryString["NoCAPA"]" readonly />
                            <input class="form-control form-control-sm" type="text" id="input_REG_ID" value="@Request.QueryString["REG"]" hidden />
                        </div>
                        <div class="form-group mb-2 col-sm-3">
                            <label class="m-t-40">Departemen</label>
                            <input class="form-control form-control-sm" type="text" id="input_Departemen" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <br />
            <div class="col-sm-3" style="margin-left:15px;">
                <button id="ViewAllBukti" class="btn btn-primary">View All Bukti</button>
            </div>
            <br />
            <div class="col-sm-3" style="margin-left:15px;">
                <button id="ViewRentang" class="btn btn-primary">View Rentang</button>
            </div>
            <div class="card-body">
                <form>
                    <!--<label for="TxtKategoriCCC" class="col-form-label">Kajian:</label>-->
                    @*<div class="row">
                            <div class="form-group col-md-2">
                                <div class="input-group">
                                    <select class="form-control select2" id="Kajian" required>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="form-group mb-2 col-sm-12">
                            <label class="m-t-40">
                                Apakah terjadi penyimpangan serupa pada rentang waktu yang telah ditetapkan?
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="m-t-20" style="margin-left:15px;"> <b>Ya:</b> </label>
                        <input type='radio' id="Devi_Yes" name="Devi_Radio" value="Yes" style="margin-left: 15px; margin-top: 5px;" />
                        <label class="m-t-20" style="margin-left:15px;"> <b>Tidak:</b> </label>
                        <input type='radio' id="Devi_No" name="Devi_Radio" value="no" style="margin-left: 15px; margin-top: 5px;" />
                    </div>

                    <div id="Deviation" hidden>
                        <div class="col-md-6">
                            <table class="table table-hover table-bordered zero-configuration" id="Tbl_Devi">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>No CAPA</th>
                                        <th>Type</th>
                                        <th>Lampiran</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#link_Deviation"
                                    data-backdrop="static" data-keyboard="false" id="Browse_Devi">
                                Browse
                            </button>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="form-group mb-2 col-sm-12">
                            <label class="m-t-40">
                                Apakah ada keluhan pelanggan serupa pada rentang waktu yang telah ditetapkan?
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <label class="m-t-20" style="margin-left:15px;"> <b>Ya:</b> </label>
                        <input type='radio' id="CCC_Yes" name="CCC_Radio" value="Yes" style="margin-left:15px; margin-top:5px;" />
                        <label class="m-t-20" style="margin-left:15px;"> <b>Tidak:</b> </label>
                        <input type='radio' id="CCC_No" name="CCC_Radio" value="No" style="margin-left: 15px; margin-top: 5px;" />
                    </div>
                    <div hidden id="CCC">
                        <div class="col-md-6">
                            <table class="table table-hover table-bordered zero-configuration" id="Tabel_CCC">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>No CAPA</th>
                                        <th>Type</th>
                                        <th>Lampiran</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-outline-dark" type="button" data-toggle="modal"
                                    data-target="#link_CCC" data-backdrop="static" data-keyboard="false" id="Browse_CCC">
                                Browse
                            </button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group mb-2 col-sm-12">
                            <label class="m-t-40">
                                Apakah ada temuan serupa pada rentang waktu yang telah ditetapkan?
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <label class="m-t-20" style="margin-left:15px;"> <b>Ya:</b> </label>
                        <input type='radio' id="File_Yes" name="File_Radio" style="margin-left: 15px; margin-top: 5px;" value="Yes" />
                        <label class="m-t-20" style="margin-left:15px;"> <b>Tidak:</b> </label>
                        <input type='radio' id="File_No" name="File_Radio" style="margin-left: 15px; margin-top: 5px;" value="No" />
                    </div>
                    <div id="Lampiran" hidden>
                        <div class="row form-group-sm ">
                            <div class="col-md-6">
                                <label class="m-t-20">Lampiran Terkait</label>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input id="TxtFileInput" type="file" name="LampiranTerkait" class="custom-file-input" multiple required">

                                        <label id="TxtLampiranCount" class="custom-file-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group-sm ">
                            <div class="col-md-6">
                                <table class="table table-hover table-bordered zero-configuration" id="Tabel_File">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>No CAPA</th>
                                            <th>Type</th>
                                            <th>Nama File</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <br />
                            </div>
                        </div>
                        <input type="button" class="btn btn-primary" id="Upload" value="Upload" />
                    </div>
                    <br />
                    <input type="button" class="btn btn-primary" id="Submit" value="Submit" disabled />

                    <label for="TxtKategoriCCC" class="col-form-label" hidden id="Status1" style="color:red;"><b>Kajian Masih Dalam Evaluasi!</b></label>

                    <label for="TxtKategoriCCC" class="col-form-label" hidden id="Status2" style="color:green;"><b>Kajian Sudah di Evaluasi!</b></label>
                </form>
            </div>
        </div>
        <div class="modal fade" id="link_CCC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group col-md-6">
                                <label for="TxtTahunCCC" class="col-form-label">Tahun:</label>
                                <div class="input-group">
                                    <select class="form-control select2 TahunCCC" name="TahunCCC" id="Tahun_DDL_CCC" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="TxtPlantCCC" class="col-form-label">Plant:</label>
                                <div class="input-group ">
                                    <select class="form-control select2" id="Plant_DDL" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="TxtKategoriCCC" class="col-form-label">Jenis Kategori:</label>
                                <div class="input-group">
                                    <select class="form-control select2" id="JenisKategori_DDL" required>
                                        <option value="JUSTIFIED">Justified</option>
                                        <option value="UNJUSTIFIED">Unjustified</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="TxtKeluhanCCC" class="col-form-label">Jenis Keluhan:</label>
                                <div class="input-group">
                                    <select class="form-control select2" id="JenisKeluhan_DDL" required>
                                        <option value="Quality">Quality</option>
                                        <option value="Health">Health</option>
                                        <option value="Promotion">Promotion</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" class="btn btn-primary" id="btn_Search_CCC">Search</button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration" id="Tbl_CCC">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>No CCC</th>
                                            <th>Tipe</th>
                                            <th>Nama Produk</th>
                                            <th>Batch</th>
                                            <th>Keluhan</th>
                                            <th>Site</th>
                                            <th>Kategori</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_Close_CCC">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="link_Deviation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group col-md-6">
                                <label for="TxtTahunDeviation" class="col-form-label">Tahun:</label>
                                <div class="input-group">
                                    <select class="form-control select2" name="TahunDeviation" id="Tahun_DDL" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="TxtDepartemenDeviation" class="col-form-label">Departemen Pelapor:</label>
                                <div class="input-group ">
                                    <select class="form-control select2" id="DepartemenPelapor_DDL" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="TxtKategoriDeviation" class="col-form-label">Kategori Penyimpangan:</label>
                                <div class="input-group">
                                    <select class="form-control select2" id="KategoriPenyimpangan_DDL" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="TxtJenisPenyimpangan" class="col-form-label">Jenis Penyimpangan:</label>
                                <div class="input-group">
                                    <select class="form-control select2" id="JenisPenyimpangan_DDL" required>
                                        <option value="Yes">Terencana</option>
                                        <option value="No">Tidak Terencana</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" class="btn btn-primary" id="btn_Search_Deviation">Search</button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration" id="Tbl_Deviation">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>No Penyimpangan</th>
                                            <th>Nama Pelapor</th>
                                            <th>Kategori Penyimpangan</th>
                                            <th>Jenis Penyimpangan</th>
                                            <th>Deskripsi Singkat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_Close_Deviaton">Close</button>
                    </div>
                </div>
            </div>
            <input type="text" class="btn btn-primary" id="QS_NoCAPA" value="@ViewBag.NoCAPA" hidden />
            <input type="text" class="btn btn-primary" id="QS_Status" value="@ViewBag.status" hidden />
        </div>
    </div>

</div>
<script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>
<script src="~/Content/Scripts/plugins/block-ui/jquery.blockUI.js" defer></script>

<script>
    var nocapa = $('#QS_NoCAPA').val();
    var namaUser = '@Request.RequestContext.HttpContext.Session["NamaUser"]';
    var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
    $('#input_NoCAPA').val(nocapa);
    var status;
    var chckboxstatus = [];
    $(document).ready(function () {
        $('#input_Requestor').val(namaUser);
        $('#input_Departemen').val('@Request.RequestContext.HttpContext.Session["Departemen"]');
        $('#ViewAllBukti').click(function () {
            window.open('../Koordinator/VerifikasiPelaksanaCAPA?NoCAPA=' + nocapa+'&Type=View')
        })
        $('#ViewRentang').click(function () {
            window.open('../Evaluator/ReviewCAPA?NoCAPA=' + nocapa+'&StatsID=8');
        })
        getDDL();
        TahunDDL();
        $('#Tahun_DDL').select2();
        $('#AreaPIC_DDL').select2();
        $('#PIC_DDL').select2();
        GetAddedDeviation();
        GetAddedCCC();
        $('input[name="Devi_Radio"]').change(function () {
            if ($('input[name="Devi_Radio"]:checked').val() == 'Yes') {
                chckboxstatus[0] = "1";
                $('#Deviation').removeAttr('hidden');
                $('#link_Deviation').attr("hidden", false);
            }
            else {
                chckboxstatus[0] = "0";
                $('#Deviation').attr("hidden", true);
                $('#link_Deviation').attr("hidden", true);
            }
        });
        $('#BrowseDev').click(function () {
            $('#link_Deviation').prop('hidden', false);
        })
        $('input[name="CCC_Radio"]').change(function () {
            if ($('input[name="CCC_Radio"]:checked').val() == 'Yes') {
                $('#CCC').removeAttr('hidden');
                chckboxstatus[1] = "1";
            }
            else {
                $('#CCC').attr("hidden", true);
                chckboxstatus[1] = "0";
            }
        });
        $('input[name="File_Radio"]').change(function () {
            if ($('input[name="File_Radio"]:checked').val() == 'Yes') {
                $('#Lampiran').removeAttr('hidden');

                chckboxstatus[2] = "1";
            }
            else {
                $('#Lampiran').attr("hidden", true);
                chckboxstatus[2] = "0";
            }
        });

        $('#TxtFileInput').change(function () {
            fileCount = this.files.length;
            var teks = (fileCount != 0) ? (fileCount + " Lampiran telah dipilih.") : ("");
            $('#TxtLampiranCount').text(teks);
        })
        $('#Submit').click(function () {

            Submit();

        });
        $('#Upload').click(function () {

            UploadFile();

        });
        $('#btn_Close_CCC').click(function () {

            var Jsonobj = [];
            var status = false;
            var table = $('#Tbl_CCC').DataTable();
            for (var i = 1; i <= table.data().count(); i++) {

                var row = $("#Tbl_CCC tr").eq(i);
                var PenyimpanganID = $("TD", row).eq(1).html();
                var creator = "";
                // Mengecheck Checkbox apakah sudah di checklist
                if ($("TD", row).eq(0).find("input[type='checkbox']").prop('checked')) {
                    var item = {};
                    item["NoCapa"] = $('#QS_NoCAPA').val();
                    item["PenyimpanganID"] = PenyimpanganID;
                    item["Description"] = "CCC";
                    item["Creator"] = creator;
                    Jsonobj.push(item);
                    console.log(item);
                    status = true;
                }
            }
            if (status == true) {
                var dto = {
                    Penyimpangan: Jsonobj
                }
                $.ajax({
                    url: 'InsertAddAbleKoor4',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(dto),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        GetAddedCCC();

                        Swal.fire({
                            title: "Success!",
                            text: "Transaction berhasil di Insert",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                        $('#Tbl_CCC').DataTable().clear().destroy();
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });

            }

        });


        $('#btn_Close_Deviaton').click(function () {
            var Jsonobj = [];
            var status = false;
            var table = $('#Tbl_Deviation').DataTable();
            for (var i = 1; i <= table.data().count(); i++) {

                var row = $("#Tbl_Deviation tr").eq(i);
                var PenyimpanganID = $("TD", row).eq(1).html();
                var creator = "";
                // Mengecheck Checkbox apakah sudah di checklist
                if ($("TD", row).eq(0).find("input[type='checkbox']").prop('checked')) {
                    var item = {};

                    item["NoCapa"] = $('#QS_NoCAPA').val();
                    item["PenyimpanganID"] = PenyimpanganID;
                    item["Description"] = "DEVIATION";
                    item["Creator"] = creator;
                    Jsonobj.push(item);
                    console.log(item);
                    status = true;
                }
            }
            if (status == true) {
                var dto = {
                    Penyimpangan: Jsonobj
                }
                $.ajax({
                    url: 'InsertAddAbleKoor4',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(dto),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        GetAddedDeviation();
                        Swal.fire({
                            title: "Success!",
                            text: "Transaction berhasil di Insert",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })

                        $('#Tbl_Deviation').DataTable().clear().destroy();
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });

            }

        });

        $('#btn_Search_CCC').click(function () {
            dto = {
                Option: 2,
                NoCapa: $('#QS_NoCAPA').val(),
                JenisKeluhan: $('#JenisKeluhan_DDL').val(),
                Tahun: $('#Tahun_DDL_CCC').val(),
                Plant: $('#Plant_DDL').val(),
                Kategori: $('#JenisKategori_DDL').val()
            }
            console.log($('#JenisKeluhan_DDL').val());
            console.log($('#JenisKategori_DDL').val());
            console.log($('#Plant_DDL').val());
            console.log($('#Tahun_DDL').val());
            console.log($('#QS_NoCAPA').val());

            $.ajax({
                type: "POST",
                url: "ShowAddAbleDeviation",
                data: JSON.stringify(dto),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    var table = $('#Tbl_CCC').DataTable({
                        "pageLength": 5,
                        "lengthChange": true,
                        "searching": false,
                        "data": JSON.parse(result),
                        "select": true,
                        "bDestroy": true,
                        "scrollCollapse": true,
                        "columns": [
                            {
                                "data": null,
                                "defaultContent": "<input class='selected' type='checkbox' name='type' onchange=''>"
                            },
                            { "data": "No_CCC" },
                            { "data": "Jenis_Keluhan" },
                            { "data": "Nama_Produk" },
                            { "data": "No_batch" },
                            { "data": "Keluhan_Plgn" },
                            { "data": "PlantSC" },
                            { "data": "Kategori" },
                            { "data": "StatusCCC" }
                        ],
                        "order": [[1, 'asc']],
                        "columnDefs": [
                            {
                                "targets": 0,
                                "className": "text-center",
                                "width": "1%"
                            },
                            {
                                "targets": 1,
                                "className": "text-center",
                                "width": "5%"
                            },
                            {
                                "targets": 2,
                                "className": "text-center",
                                "width": "6%"
                            },
                            {
                                "targets": 3,
                                "className": "text-center",
                                "width": "6%"
                            },
                            {
                                "targets": 4,
                                "className": "text-center",
                                "width": "4%"
                            },
                            {
                                "targets": 5,
                                "className": "text-left",
                                "width": "15%"
                            }
                        ]
                    });
                }
            });
        });
        $('#btn_Search_Deviation').click(function () {

            var dto = {
                Option: 1,
                NoCapa: $('#QS_NoCAPA').val(),
                Departemen: $('#DepartemenPelapor_DDL').val(),
                JenisPenyimpangan: $('#JenisPenyimpangan_DDL').val(),
                Kategori: $('#KategoriPenyimpangan_DDL').val(),
                Tahun: $('#Tahun_DDL').val()

            }
            $.ajax({
                type: "POST",
                url: "ShowAddAbleDeviation",
                data: JSON.stringify(dto),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data);
                    var table = $('#Tbl_Deviation').DataTable({
                        "pageLength": 5,
                        "lengthChange": true,
                        "searching": false,
                        "data": JSON.parse(data),
                        "select": true,
                        "scrollCollapse": true,
                        "destroy": true,
                        "columns": [
                            {
                                "data": null,
                                "defaultContent": "<input type='checkbox'/>"
                            },
                            { "data": "DEVIATION_NO" },
                            { "data": "NAMA_PELOPOR" },
                            { "data": "DEVIATION_CATEGORY" },
                            { "data": "DEVIATION_TYPE" },
                            { "data": "KET_CATEGORY" }
                        ],
                        "order": [[1, 'asc']],
                        "columndefs": [
                            {
                                "targets": 0,
                                "classname": "text-center",
                                "width": "1%"
                            },
                            {
                                "targets": 1,
                                "classname": "text-center",
                                "width": "5%"
                            },
                            {
                                "targets": 2,
                                "classname": "text-center",
                                "width": "6%"
                            },
                            {
                                "targets": 3,
                                "classname": "text-center",
                                "width": "6%"
                            },
                            {
                                "targets": 4,
                                "classname": "text-center",
                                "width": "4%"
                            },
                            {
                                "targets": 5,
                                "classname": "text-left",
                                "width": "15%"
                            }
                        ]
                    });
                }
            });
        });
    });

    function disableAll() {
        $('input[name="File_Radio"]').attr("disabled", true);
        $('input[name="CCC_Radio"]').attr("disabled", true);
        $('input[name="Devi_Radio"]').attr("disabled", true);
        $('#Submit').attr("disabled", true);
    }
    function enableall() {
        $('input[name="File_Radio"]').removeAttr("disabled");
        $('input[name="CCC_Radio"]').removeAttr("disabled");
        $('input[name="Devi_Radio"]').removeAttr("disabled");
        $('#Submit').removeAttr("disabled");
    }

    function GetLampiran() {
        var dictlist = {
            NoCAPA: $('#QS_NoCAPA').val(),
            Option: 8
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_FORM_KOOR4",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto1),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var table = $('#Tabel_File').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "ValueEvaluasi"},
                        { "data": "NO_CAPA_FK" },
                        { "data": "Type" },
                        {
                            "data": "Nama_File",
                            "render": function (nTd, sData, oData, iRow, iCol) {

                                return '<a href = "' + oData.ValueEvaluasi + '" >' + oData.Nama_File + '</a >';
                            }
                        }
                        ,
                        {
                            "data": null,
                            "defaultContent": "<input type='button'  class='btn btn-primary' onclick=DeleteLampiran(this) value='Delete' style='background-color:red;'/>"
                        }
                    ],

                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [1],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],

                });
                ValidateKajian();
            },
            error: function (errormessage) {
                $('#divLoading').attr("hidden", true);
            }
        });
    }

    function DeleteLampiran(button) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Delete!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var row = $(button).closest("TR");
                var data = $('#Tabel_File').DataTable().row(row).data();
                var id = data['RecordID'];
                var path = data['ValueEvaluasi'];
                var dictlist = {
                    NoCAPA: nocapa,
                    Option: 9,
                    Record: id
                }
                var dto1 = {
                    Model: dictlist
                }
                $.ajax({
                    url: "DeleteAttachmentKoor4?spname=[dbo].[SP_FORM_KOOR4]&?path=" + path+"",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(dto1),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        Swal.fire({
                            title: "Deleted!",
                            text: "Lampiran Berhasil Di Hapus!",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                        GetLampiran();
                    },
                    error: function (errormessage) {
                    }
                });
            }
        })
    }
    function UploadFile() {
        var formData = new FormData();
        var totalFiles = document.getElementById("TxtFileInput").files.length;
        if (totalFiles == 0 || totalFiles == undefined) {

            Swal.fire({
                title: "Error!",
                text: "Silahkan Memilih File Attachment terlebih dahulu!",
                icon: "error",
                showConfirmButton: false,
                timer: 1000,
            })
        }
        else {
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("TxtFileInput").files[i];
                formData.append("TxtFileInput", file);
                //formData.append("NoCAPA", $('#txtNoCAPA').val());
            }
            $.ajax({
                url: "InsertAttachment?NoCapa=" + $('#QS_NoCAPA').val() + "&spname=SP_FORM_KOOR4&Creator=" +nik+"",
                type: "post",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result[0].Validate == "Invalid") {

                        Swal.fire({
                            title: "Error!",
                            text: "File Sudah ada!",
                            icon: "error",
                            showConfirmButton: false,
                            timer: 1000,
                        })

                    }
                    else {
                        GetLampiran();
                        Swal.fire({
                            title: "Success!",
                            text: "Upload Berhasil!",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                    }
                },
                error: function (errormessage) {
                    $('#divLoading').attr("hidden", true);
                }
            });
        }
    }
    function checkStat() {
        var dictlist = {
            NoCAPA: $('#QS_NoCAPA').val(),
            Option: 7
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_FORM_KOOR4",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto1),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                console.log(result[0].STATUS_ID);
                if (result[0].STATUS_ID != 8) {
                    disableAll();
                }
            },
            error: function (errormessage) {
                $('#divLoading').attr("hidden", true);
            }
        });
    }
    function ValidateKajian() {
        var dictlist = {
            NoCAPA: nocapa,
            Option: 6
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_FORM_KOOR4",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto1),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                console.log(result[0].Stat);
                $.blockUI();
                if (result[0].Stat == 'Invalid') {
                    $('#Submit').removeAttr('hidden');
                    $('input[name="File_Radio"]').attr("disabled", false);
                    $('input[name="CCC_Radio"]').attr("disabled", false);
                    $('input[name="Devi_Radio"]').attr("disabled", false);
                    if ($('#Tbl_Devi').DataTable().data().count() > 0) {
                        document.getElementById("Devi_Yes").checked = true;
                        $('#Deviation').removeAttr('hidden');
                    }
                    else {
                        document.getElementById("Devi_No").checked = true;
                    }

                    if ($('#Tabel_CCC').DataTable().data().count() > 0) {
                        document.getElementById("CCC_Yes").checked = true;
                        $('#CCC').removeAttr('hidden');
                    }
                    else {
                        document.getElementById("CCC_No").checked = true;
                    }
                    if ($('#Tabel_File').DataTable().data().count() > 0) {
                        document.getElementById("File_Yes").checked = true;
                        $('#Lampiran').removeAttr('hidden');
                    }
                    else {
                        document.getElementById("File_No").checked = true;
                    }
                }
                else {
                    $('#Submit').removeAttr('disabled');
                    $('#Submit').removeAttr('hidden');
                    var countdevi = $('#Tbl_Devi').DataTable().data().count();
                    var countfile = $('#Tabel_File').DataTable().data().count();
                    var countccc = $('#Tabel_CCC').DataTable().data().count()
                    if (countdevi > 0) {
                        document.getElementById("Devi_Yes").checked = true;
                        $('#Deviation').removeAttr('hidden');
                    }
                    else
                    {
                      document.getElementById("Devi_No").checked = true;
                    }

                    if (countccc> 0) {
                        document.getElementById("CCC_Yes").checked = true;
                        $('#CCC').removeAttr('hidden');
                    }
                    else
                    {
                        document.getElementById("CCC_No").checked = true;
                    }
                    if (countfile > 0) {
                        document.getElementById("File_Yes").checked = true;
                        $('#Lampiran').removeAttr('hidden');
                    }
                    else
                    {
                        document.getElementById("File_No").checked = true;
                    }
                    $.unblockUI();
                    checkStat();
                }
            },
            error: function (errormessage) {
                $('#divLoading').attr("hidden", true);
            }
        });
    }

    function GetAddedDeviation() {
        var dictlist = {
            NoCAPA: $('#QS_NoCAPA').val(),
            Option: 3,
            Record: $('#Kajian').val()
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_FORM_KOOR4",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto1),
            async: false,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var table = $('#Tbl_Devi').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID"},
                        { "data": "NO_CAPA_FK" },
                        { "data": "Type" },
                        { "data": "ValueEvaluasi" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button'  class='btn btn-primary' onclick=DeletePenyimpangan(this) value='Delete'style='background-color:red;'/>"
                        }
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],

                });
            },
            error: function (errormessage) {
                $('#divLoading').attr("hidden", true);
            }
        });
        //alert($('#Tbl_Devi').DataTable().data().count());
    }


    function DeletePenyimpangan(button) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Delete!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var row = $(button).closest("TR");
                var data = $('#Tbl_Devi').DataTable().row(row).data();
                var id = data['RecordID'];
                var dictlist = {
                    NoCAPA: nocapa,
                    Option: 9,
                    Record: id
                }
                var dto1 = {
                    Model: dictlist
                }
                $.ajax({
                    url: "DynamicController?spname=[dbo].[SP_FORM_KOOR4]",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(dto1),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {

                        Swal.fire({
                            title: "Deleted!",
                            text: "Penyimpangan Berhasil Di Hapus!",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                        GetAddedDeviation();
                    },
                    error: function (errormessage) {
                    }
                });
            }
        })
    }

    function GetAddedCCC() {
        var dictlist = {
            NoCAPA: $('#QS_NoCAPA').val(),
            Option: 4
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_FORM_KOOR4",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto1),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var table = $('#Tabel_CCC').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "NO_CAPA_FK" },
                        { "data": "Type" },
                        { "data": "ValueEvaluasi" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button'  class='btn btn-primary' onclick=DeleteCCC(this) value='Delete'style='background-color:red;'/>"
                        }
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[1, 'asc']],

                });
            },
            error: function (errormessage) {
                $('#divLoading').attr("hidden", true);
            }
        });
        GetLampiran();
    }

    function DeleteCCC(button) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Delete!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var row = $(button).closest("TR");
                var data = $('#Tabel_CCC').DataTable().row(row).data();
                var id = data['RecordID'];
                var dictlist = {
                    NoCAPA: nocapa,
                    Option: 9,
                    Record: id
                }
                var dto1 = {
                    Model: dictlist
                }
                $.ajax({
                    url: "DynamicController?spname=[dbo].[SP_FORM_KOOR4]",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(dto1),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {

                        Swal.fire({
                            title: "Deleted!",
                            text: "CCC Berhasil Di Hapus!",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })
                        GetAddedCCC();
                    },
                    error: function (errormessage) {
                    }
                });
            }
        })
    }

    function getDDL() {
        $.ajax({
            url: 'GetKoordinatorDDL',
            type: 'post',
            data: JSON.stringify({
                Option: 1,
                SP: "[dbo].[SP_SHOW_DDL]"
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#Trigger_CAPA').empty();
                $('#Kategori_DDL').empty();
                $('#Lokasi_DDL').empty();
                $('#Trigger_CAPA').empty();
                $('#Trigger_CAPA').append($('<option></option>').attr('value', '').text('*Pilih*'));
                $('#Kategori_DDL').append($('<option></option>').attr('value', '').text('*Pilih*'));
                $('#Lokasi_DDL').append($('<option></option>').attr('value', '').text('*Pilih*'));
                $.each(JSON.parse(data), function (key, entry) {
                    if (entry.DDL_TYPE == 'TRIGGER') {
                        $('#Trigger_CAPA').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                    }
                    if (entry.DDL_TYPE == 'KATEGORI') {
                        $('#Kategori_DDL').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                    }
                    if (entry.DDL_TYPE == 'LOKASI') {
                        $('#Lokasi_DDL').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                    }
                    $('#Trigger_CAPA').select2();
                    $('#Kategori_DDL').select2();
                    $('#Lokasi_DDL').select2();
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

        $.ajax({
            url: 'GetDepartments',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Option: 21,
                SP: "[dbo].[SP_SHOW_DDL]"
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#DepartemenPelapor_DDL').empty();
                $.each(JSON.parse(data), function (key, entry) {
                    $('#DepartemenPelapor_DDL').append($('<option></option>').attr('value', entry.Org_Group_Name).text(entry.Org_Group_Name));
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

        $.ajax({
            url: 'GetKategoriPenyimpangan',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Option: 5,
                SP: "[dbo].[SP_SHOW_DDL]"
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#KategoriPenyimpangan_DDL').empty();
                //$('#KategoriPenyimpangan_DDL').append($('<option></option>').attr('value', '').text('*Pilih*'));
                $.each(JSON.parse(data), function (key, entry) {
                    $('#KategoriPenyimpangan_DDL').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                })
                //$('#KategoriPenyimpangan_DDL').select2();
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

        $.ajax({
            url: 'GetPlantCCC',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Option: 6,
                SP: "[dbo].[SP_SHOW_DDL]"
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#Plant_DDL').empty();
                $.each(JSON.parse(data), function (key, entry) {
                    $('#Plant_DDL').append($('<option></option>').attr('value', entry.PlantSC).text(entry.Plant));
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

    }

    function TahunDDL() {
        var years = new Date().getFullYear();
        for (var i = years; i >= 2018; i--) {
            var trhtml = "";
            trhtml += '<Option value = "' + i + '" > ' + i;
            $('#Tahun_DDL').append(trhtml);
            $('#Tahun_DDL').select2();
            $('#Tahun_DDL_CCC').append(trhtml);
            $('#Tahun_DDL_CCC').select2();
        }
    }
    function Submit() {
        if ($('input[name="Devi_Radio"]:checked').val() != undefined &&
            $('input[name="CCC_Radio"]:checked').val() != undefined &&
            $('input[name="File_Radio"]:checked').val() != undefined) {
            var tableCCC = $('#Tabel_CCC').DataTable();
            var tableDeviation = $('#Tbl_Devi').DataTable();
            var tablefile = $('#Tabel_File').DataTable();
            if (tableDeviation.data().count() == 0 && $('input[name="Devi_Radio"]:checked').val() == 'Yes')
            {
                Swal.fire({
                    title: "Error!",
                    icon:"error",
                    text: "Penyimpangan Tidak Boleh Kosong!",
                    showConfirmButton: false,
                    timer: 1000,
                })
                return
            }
            if (tableCCC.data().count() == 0 && $('input[name="CCC_Radio"]:checked').val() == 'Yes') {
                Swal.fire({
                    title: "Error!",
                    icon: "error",
                    text: "CCC Tidak Boleh Kosong!",
                    showConfirmButton: false,
                    timer: 1000,
                })
                return
            }
            if (tablefile.data().count() == 0 && $('input[name="File_Radio"]:checked').val() == 'Yes') {
                Swal.fire({
                    title: "Error!",
                    icon: "error",
                    text: "File Tidak Boleh Kosong!",
                    showConfirmButton: false,
                    timer: 1000,
                })
                return
            }
                var dictlist = {
                    NoCAPA: $('#QS_NoCAPA').val(),
                    Option: 2,
                    StatCCC: chckboxstatus[1],
                    StatDeviation: chckboxstatus[0],
                    StatFile: chckboxstatus[2],
                    Creator: nik,
                }
                var dto1 = {
                    Model: dictlist
                }
                $.ajax({
                    url: "DynamicController?spname=SP_FORM_KOOR4&",
                    type: "post",
                    data: JSON.stringify(dto1),
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {

                        Swal.fire({
                            title: "Success!",
                            text: "Submit Berhasil!",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1000,
                        })

                        $.ajax({
                            url: 'SubmitApproval',
                            type: 'post',
                            data: JSON.stringify({
                                Model: {
                                    NO_CAPA: $('#QS_NoCAPA').val(),
                                    Temp_Status: 9
                                }
                            }),
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                            },
                            error: function (ex) {
                                alert(JSON.stringify(ex));
                            }
                        });
                        $.blockUI();
                        window.location.href = '../PendingTask/TaskList';
                        disableAll();
                    },
                    error: function (errormessage) {
                        $('#divLoading').attr("hidden", true);
                    }
                });
        }
        else {
            Swal.fire({
                title: "Error!",
                text: "Silahkan Jawab Semua Pertanyaan terlebih dahulu!",
                icon: "error",
                showConfirmButton: false,
                timer: 1000,
            })
        }


    }
</script>