
@{
    ViewBag.Title = "VerifikasiPelaksanaCAPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Koordinator</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Verifikasi Pelaksanaan CAPA</a></li>
            </ol>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group mb-2 col-sm-3">
                                <label class="m-t-20">Tanggal</label>
                                <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Now.ToString("MM/dd/yyyy HH:mm")" readonly>
                            </div>
                            <div class="form-group mb-2 col-sm-3">
                                <label class="m-t-40">User Login</label>
                                <input class="form-control form-control-sm" type="text" id="input_Requestor" value="@Request.RequestContext.HttpContext.Session["FullName"]" readonly>
                            </div>
                            <div class="form-group mb-2 col-sm-3">
                                <label class="m-t-20">Nomor CAPA</label>
                                <input class="form-control form-control-sm" type="text" id="input_NoCAPA" value="@Request.QueryString["NoCAPA"]" readonly />
                            </div>
                            <div class="form-group mb-2 col-sm-3">
                                <label class="m-t-40">Departemen</label>
                                <input class="form-control form-control-sm" type="text" id="input_Departemen" value="@Request.RequestContext.HttpContext.Session["Departemen"]" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" id="trigger">
                    <div class="card-body">
                        <h4 class="card-title">Verifikasi Pelaksanaan CAPA</h4>
                        <p class="text-muted">Apakah ada Trigger CAPA Terkait?</p>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" id="trigger_ada" class="form-check-input" name="checkboxradio" value="Ada" onclick="onlyOne(this)">Ada
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input"id="trigger_tidak"  name="checkboxradio" value="Tidak" onclick="onlyOne(this)" checked>Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="PartialTrigger">
                    @Html.Partial("../Koordinator/TriggerCAPA", "KoordinatorController")
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">View CAPA</h4>
                        <button class="btn btn-dark form-control col-sm-2" id="btn_CAPA">View CAPA</button>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Verifikasi Pelaksanaan Tindakan Perbaikan CAPA </h4>
                        <div id="Div_BuktiTPerbaikan">
                            <table class="table table-hover table-bordered zero-configuration" style="color:black" id="Tbl_BuktiPerbaikan">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>
                                        <th>Action</th>
                                        <th>No</th>
                                        <th style="width: 132px">Root Cause</th>
                                        <th style="width: 194px">Tindakan Perbaikan</th>
                                        <th>Due&nbsp;Date</th>
                                        <th>Pelaksana Tindakan Perbaikan</th>
                                        <th>Tanggal Pelaksanaan</th>
                                        <th>Hasil Tindakan</th>
                                        <th>Superior</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Verifikasi Pelaksanaan Tindakan Pencegahan CAPA</h4>
                        <div id="Div_BuktiTPencegahan">
                            <table class="table table-hover table-bordered zero-configuration" style="color:black" id="Tbl_BuktiPencegahan">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>
                                        <th>Action</th>
                                        <th>No</th>
                                        <th style="width: 132px">Root Cause</th>
                                        <th>Area Lain/Proses Lain</th>
                                        <th style="width: 194px">Tindakan Pencegahan</th>
                                        <th>Due&nbsp;Date</th>
                                        <th>Pelaksana Tindakan Pencegahan</th>
                                        <th>Tanggal Pelaksanaan</th>
                                        <th>Hasil Tindakan</th>
                                        <th>Superior</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Verifikasi Pelaksanaan Tindakan Treatment Plan</h4>
                        <div id="Div_BuktiTPlan">
                            <table class="table table-hover table-bordered zero-configuration" style="color:black" id="Tbl_BuktiTreatment">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>
                                        <th style='width:40px;'>Action</th>
                                        <th>No</th>
                                        <th>Usulan Tindakan Treatment</th>
                                        <th>Due&nbsp;Date</th>
                                        <th>Hasil Treatment Plan</th>
                                        <th>Tanggal Pelaksanaan</th>
                                        <th>PIC</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card" id="CardApproveVerifikasi" hidden>
                    <div class="card-body">
                        <h4 class="card-title">Submit Verifikasi CAPA</h4>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <button type="button" id="btnApproveVerifikasi" class="btn mb-1 btn-success btn-lg">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bootstrap-modal">
                    <div class="modal fade" id="modalAlasanReject" tabindex="-1" role="dialog" aria-hidden="true">

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Alasan Reject</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p style="color:black">Mohon berikan alasan yang jelas untuk Reject hasil tindakan CAPA</p>
                                    <input id="txtRecordID" hidden />
                                    <input id="txtType" hidden />
                                    <textarea id="txtAlasanRejectVerifikasi" class="form-control"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-success" id="btn_SubmitRjtPelaksanaCAPA" data-dismiss="modal">Submit</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/plugins/block-ui/jquery.blockUI.js" defer></script>
<script>
    let dataPerbaikan;
    let noCAPA = getQueryStrings()["NoCAPA"];
    let typeParam = '';
    let nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
    let Username = '@Request.RequestContext.HttpContext.Session["Username"]';
    let objPencegahan, objTreatment, objLampiran;

    typeParam = getQueryStrings()["Type"];

    $(document).ready(function () {
        $('#Div_Treatment').hide();
        $('#Div_Pencegahan').hide();
    });

    $(document).ready(function () {
        $('#PartialTrigger').prop('hidden', true);
        $('#btn_ViewBukti').click(function () {
            window.open('../Evaluator/ViewBukti?NoCAPA=' + $('#input_NoCAPA').val());
        });

        //$('#btnApproveVerifikasi').click(function () {
        //    Approve();
        //});

        $('#btn_CAPA').click(function () {
            window.open('../Koordinator/CreateCAPA?NoCAPA=' + noCAPA)
        });

        $('#btn_SubmitRjtPelaksanaCAPA').click(function () {

            let RecordID = $('#txtRecordID').val();
            let type = $('#txtType').val();
            let TAlasan = $('#txtAlasanRejectVerifikasi').val();
            if (TAlasan == '') {
                swal(
                    {
                        title: "Opss ..",
                        icon: "warning",
                        text: "Alasan Reject tidak boleh kosong, wajib diisi !",
                        buttons: false,
                        timer: 2000
                    }
                ).then(() => {
                    return
                })
            } else {
                $.blockUI();
                RejectPelaksanaCAPA(RecordID, type, TAlasan);
            }
        });
    });

    $(document).ready(function () {
        GetAllBukti();
    });


    function getQueryStrings() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('checkboxradio')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })

        var t_cek = document.querySelector('input[type=checkbox][name=checkboxradio]:checked').value;

        if (t_cek === 'Ada') {
            //$('#Trigger_CAPA').prop('disabled', false);
            $('#PartialTrigger').prop('hidden', false);
            //$('#Trigger_CAPA').addClass('form-control form-control-sm');
            getDDL();
        }

        if (t_cek === 'Tidak')    {
            $('#PartialTrigger').prop('hidden', true);
            //$('#Trigger_CAPA').prop('disabled', true);
            $('#Linked_Oracle').prop('hidden', true);
            $('#Linked_CCC').prop('hidden', true);
            $('#Linked_Deviation').prop('hidden', true);
            $('#Linked_Renew').prop('hidden', true);
        }

        $("#Trigger_CAPA").css("width", "300px");
    }

    @*function Approve() {
        $.ajax({
            url: 'ApprovePelaksanaCAPA',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                NO_CAPA: noCAPA,
                Create_By: nik
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(data);
                if (data.status = 'updated') {
                    swal("Verikasi Pelaksana CAPA Berhasil !",
                        {
                            icon: "success",
                            buttons: false,
                            timer: 2000,
                        }).then(() => {
                            $('#modalAlasanReject').modal('toggle');
                            window.location.href = '@Url.Action("TaskList", "PendingTask")';
                        }
                    )
                }
                else {

                }

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }*@

    function format(d, tahapan) {
        var html = '';
        $.each(JSON.parse(objLampiran), function (key, value) {
            if (value.ID_FK == d.RecordID && value.TAHAPAN == "Lampiran " + tahapan) {
                return html += '<tr>' +
                    '<td>File Name :</td>' +
                    '<td><a href="' + value.FILE_PATH + '">' + value.FILE_NAME + '</a></td>' +
                    '</tr>';
            }
        });
        if (html == '') {
            html = '';
            html = '<tr>' +
                '<td>Tidak ada lampiran.</td>' +
                '</tr>';
        }

        var tableChild = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            html +
            '</table>';

        return tableChild;
    }

    function showChild(button,tahapan) {
        // Array to track the ids of the details displayed rows
            var detailRows = [];
            var tr = $(button).closest('tr');
            var table = $('#Tbl_Bukti' + tahapan + '').DataTable();
            var trs = $(button).closest('tr td a i');

            var row = table.row(tr);
            var idx = $.inArray(tr.attr('id'), detailRows);
            console.log(tahapan);
            console.log(row.child.isShown());
            if (row.child.isShown()) {
                row.child.hide();
                trs.removeClass('fa-eye-slash');
                console.log('testif');

                //// Remove from the 'open' array
                detailRows.splice(idx, 1);
            }
            else {
                row.child(format(row.data(), tahapan)).show();
                trs.addClass('fa-eye-slash');
                // Add to the 'open' array
                //console.log(idx);
                if (idx === -1) {
                    detailRows.push(tr.attr('id'));
                }
            }

         //On each draw, loop over the `detailRows` array and show any child rows
        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#Tbl_Bukti' + tahapan +'' + id + ' td.details').trigger('click');
            });
        });
    }

    function CheckType() {
        if (typeParam == 'View') {
            getDDL();
            $('#trigger_ada').prop('disabled', true);
            $('#trigger_tidak').prop('disabled', true);
            $('#trigger').prop('hidden', true);
            var lampirancapa = $('#Tbl_Lampiran').DataTable().data().count();
            var penyimpangancapa = $('#Tbl_Penyimpangan').DataTable().data().count();
            //if (lampirancapa > 0 && penyimpangancapa > 0) {
            //    document.getElementById("trigger_ada").checked = true; 
            //    $('#PartialTrigger').prop('hidden', false);
            //}
            //else {
            //    document.getElementById("trigger_tidak").checked = true;
            //    $('#PartialTrigger').prop('hidden', true);
            //}
        }
        else {
            CheckStatus();
        }
    }

    function GetAllBukti() {
        $.ajax({
            url: '../Evaluator/GetData', /*Treatment*/
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 9,
                    NO_CAPA: noCAPA,
                    Status: 7
                }
            }),
            dataType: 'json',
            async:false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                objTreatment = data;
                var Treatment = 'Treatment';
                var t = $('#Tbl_BuktiTreatment').DataTable({
                    "pageLength": 10,
                    "responsive": true,
                    "info": false,
                    "paging": false,
                    "lengthChange": true,
                    "searching": false,
                    "processing": true,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        {
                            "data": "RecordID",
                            "visible": false
                        },
                        {
                            "data": "Status_ID",
                            "render": function (data) {
                                if (data === 8 || data === 9) {
                                    return '<img id="imgApprove" src="../Content/Images/approveHijau.png"  style="width: 80px"/>';
                                }
                                else
                                    if (data === 6) {
                                        return '<img id="imgReject" src="../Content/Images/rejected.png"  style="width: 80px"/>';
                                    }
                                    else {

                                        return "<button class='btn btn-success' style='width:40px; margin-bottom:5px' onclick='VerifyTreatmentCAPA(this)'>Verify</button>" +
                                            "<button class='btn btn-danger' style='width:40px' data-toggle='modal' data-target='#modalAlasanReject' onclick='RejectTreatmentCAPA(this)'>Reject</button>";
                                    }
                            }
                        },
                        {
                            "width": style = "35px",
                            "data": null
                        },
                        {
                            "data": "Usulan_Treatment"
                        },
                        {
                            "data": "DueDate",
                            "width": style = "50px",
                        },
                        {
                            "data": "Hasil_Treatment"
                        },
                        {
                            "data": "tanggal_pelaksanaan"
                        },
                        {
                            "data": "PIC"
                        },
                        {
                            "orderable": false,
                            "data": null,
                            "defaultContent": '<span><a><i class="fa fa-eye" aria-hidden="true" onclick=showChild(this,\'' + Treatment + '\')></i></a></span>',
                            "className": "details text-center"
                        }
                    ],
                    "order": [[1, 'asc']]
                });

                t.on('order.dt search.dt', function () {
                    t.column(2, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        })
        $.ajax({
            url: '../Evaluator/GetData', /*Pencegahan*/
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 8,
                    NO_CAPA: noCAPA,
                    Status: 7
                }
            }),
            dataType: 'json',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                var Pencegahan = 'Pencegahan';
                var t = $('#Tbl_BuktiPencegahan').DataTable({
                    "pageLength": 10,
                    "responsive": true,
                    "info": false,
                    "paging": false,
                    "lengthChange": true,
                    "searching": false,
                    "processing": true,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        {
                            "data": "RecordID",
                            "visible": false
                        },
                        {
                            "data": "Status_ID",
                            "render": function (data) {
                                if (data === 8 || data === 9) {
                                    return '<img id="imgApprove" src="../Content/Images/approveHijau.png"  style="width: 80px"/>';
                                }
                                else
                                    if (data === 6) {
                                        return '<img id="imgReject" src="../Content/Images/rejected.png"  style="width: 80px"/>';
                                    }
                                    else {

                                        return "<button class='btn btn-success' style='width:40px; margin-bottom:5px' onclick='VerifyPencegahanCAPA(this)'>Verify</button>" +
                                            "<button class='btn btn-danger' style='width:40px' data-toggle='modal' data-target='#modalAlasanReject' onclick='RejectPencegahanCAPA(this)'>Reject</button>";
                                    }
                            }
                        },
                        {
                            "width": style = "35px",
                            "data": null
                        },
                        {
                            "data": "WhyDesc"
                        },
                        {
                            "data": "AreaLain"
                        },
                        {
                            "data": "Tindakan_Pencegahan"
                        },
                        {
                            "data": "Due_Date"
                        },
                        {
                            "data": "Pelaksana_Pencegahan"
                        },
                        {
                            "data": "tanggal_pelaksanaan"
                        },
                        {
                            "data": "Hasil_Pencegahan"
                        },
                        {
                            "data": "SupApprover"
                        },
                        {
                            "orderable": false,
                            "data": null,
                            "defaultContent": '<span><a><i class="fa fa-eye" aria-hidden="true" onclick=showChild(this,\'' + Pencegahan + '\')></i></a></span>',
                            "className": "details text-center"
                        }
                    ],
                    "order": [[1, 'asc']]
                });
                objPencegahan = data;
                t.on('order.dt search.dt', function () {
                    t.column(2, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        })
        $.ajax({
            url: '../Evaluator/GetData',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 5,
                    NO_CAPA: noCAPA
                }
            }),
            dataType: 'json',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                objLampiran = data;
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        })
        $.ajax({
            url: '../Evaluator/GetData', /*perbaikan*/
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 7,
                    NO_CAPA: noCAPA
                }
            }),
            dataType: 'json',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                var Perbaikan = 'Perbaikan';
                var t = $('#Tbl_BuktiPerbaikan').DataTable({
                    "pageLength": 10,
                    "responsive": true,
                    "info": false,
                    "paging": false,
                    "lengthChange": true,
                    "searching": false,
                    "processing": true,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        {
                            "data": "RecordID",
                            "visible": false
                        },
                        {
                            "data": "Status_ID",
                            "render": function (data) {
                                if (data === 8 || data === 9) {
                                    return '<img id="imgApprove" src="../Content/Images/approveHijau.png"  style="width: 80px"/>';
                                }
                                else
                                    if (data === 6) {
                                        return '<img id="imgReject" src="../Content/Images/rejected.png"  style="width: 80px"/>';
                                    }
                                    else {

                                        return "<button class='btn btn-success' style='width:40px; margin-bottom:5px' onclick='VerifyPerbaikanCAPA(this)'>Verify</button>" +
                                            "<button class='btn btn-danger' style='width:40px' data-toggle='modal' data-target='#modalAlasanReject' onclick='RejectPerbaikanCAPA(this)'>Reject</button>";
                                    }
                            }
                        },
                        {
                            "width": style = "35px",
                            "data": null
                        },
                        {
                            "data": "WhyDesc"
                        },
                        {
                            "data": "Tindakan_Perbaikan"
                        },
                        {
                            "data": "Due_Date"
                        },
                        {
                            "data": "Pelaksana_Perbaikan"
                        },
                        {
                            "data": "tanggal_pelaksanaan"
                        },
                        {
                            "data": "Hasil_Perbaikan"
                        },
                        {
                            "data": "SupApprover"
                        },
                        {
                            "orderable": false,
                            "data": null,
                            "defaultContent": '<span><a><i class="fa fa-eye" aria-hidden="true" onclick=showChild(this,\'' + Perbaikan+ '\')></i></a></span>',
                            "className": "details text-center"
                        },
                    ],
                    "order": [[1, 'asc']]
                });

                t.on('order.dt search.dt', function () {
                    t.column(2, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        })
        CheckType();

    }

    //Perbaikan
    function VerifyPerbaikanCAPA(param) {
        let dataRow = $('#Tbl_BuktiPerbaikan').DataTable().row($(param).closest('tr')).data();
        let type = 'Perbaikan';
        VefiryPelaksanaCAPA(dataRow.RecordID, type);
    }

    function RejectPerbaikanCAPA(param) {
        let dataRow = $('#Tbl_BuktiPerbaikan').DataTable().row($(param).closest('tr')).data();
        $('#txtRecordID').val(dataRow.RecordID);
        $('#txtType').val('Perbaikan');
    }

    //Pencegahan
    function VerifyPencegahanCAPA(param) {
        let dataRow = $('#Tbl_BuktiPencegahan').DataTable().row($(param).closest('tr')).data();
        let type = 'Pencegahan';
        VefiryPelaksanaCAPA(dataRow.RecordID, type);
    }

    function RejectPencegahanCAPA(param) {
        let dataRow = $('#Tbl_BuktiPencegahan').DataTable().row($(param).closest('tr')).data();
        $('#txtRecordID').val(dataRow.RecordID);
        $('#txtType').val('Pencegahan');
    }


    // Treatment Plan
    function VerifyTreatmentCAPA(param) {
        let dataRow = $('#Tbl_BuktiTreatment').DataTable().row($(param).closest('tr')).data();
        let type = 'Treatment';

        VefiryPelaksanaCAPA(dataRow.RecordID, type);
    }

    function RejectTreatmentCAPA(param) {
        let dataRow = $('#Tbl_BuktiTreatment').DataTable().row($(param).closest('tr')).data();
        $('#txtRecordID').val(dataRow.RecordID);
        $('#txtType').val('Treatment');
    }


    function RejectPelaksanaCAPA(RecordID, type, Alasan) {
        $.ajax({
            url: 'RejectPelaksanaCAPA',
            type: 'post',
            async: false,
            data: JSON.stringify({
                Model: {
                    RecordID: RecordID,
                    NO_CAPA: noCAPA,
                    Type: type,
                    Create_By: nik,
                    AlasanReject: Alasan
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                swal("Reject CAPA Berhasil !",
                        {
                            icon: "success",
                            buttons: false,
                            timer: 2000
                        }
                ).then(() => {
                    $('#txtAlasanRejectVerifikasi').val('');
                    var temp_status = 0;
                    if (type == 'Perbaikan') {

                        temp_status = 15;
                    }
                    else if (type == 'Pencegahan') {

                        temp_status = 16;
                    }
                    else {

                        temp_status = 17;
                    }
                    $.ajax({
                        url: 'SubmitApproval',
                        type: 'post',
                        data: JSON.stringify({
                            Model: {
                                NO_CAPA: noCAPA,
                                Temp_Status: temp_status,
                                Tindakan_ID: RecordID,
                                Tindakan: type
                            }
                        }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {

                            $.unblockUI();

                            GetAllBukti();
                        },
                        error: function (ex) {
                            alert(JSON.stringify(ex));
                        }
                    });
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function VefiryPelaksanaCAPA(RecordID, type) {

        $.ajax({
            url: 'VerifyPelaksanaCAPA',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    RecordID: RecordID,
                    NO_CAPA: noCAPA,
                    Type: type,
                    Create_By: nik
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GetAllBukti();
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function CheckStatus() {
        $.ajax({
            url: 'CheckStatus',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: noCAPA,
                    Option: 8
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.each(JSON.parse(data), function (key, value) {
                    console.log(value.HasilCek)
                    if (value.HasilCek == 0) {
                        window.location.href ="../Koordinator/MonitoringEfektivitas?NoCAPA=" + noCAPA + "&status=" + value.StatusID;
                    }
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
</script>

